/*
Theme Name: 	OneSocial Child Theme
Theme URI: 		http://www.buddyboss.com/child-themes/
Description: 	A child theme of OneSocial. To ensure easy updates, make your own edits to OneSocial in this theme.
Author: 		BuddyBoss.com
Author URI: 	http://www.buddyboss.com
License: 		GNU General Public License v3 or later
License URI: 	http://www.gnu.org/licenses/gpl-3.0.html
Template: 		onesocial
Version: 		1.2.1
*/

/*

-- Stylesheet locations --

Add your own customizations into /css/custom.css in this child theme.

Parent stylesheets are located in the /css/ and /css-compressed/ folders.


--- If you are editing CSS via the WordPress admin, do the following ---

1. Install the plugin WP Editor: http://wordpress.org/plugins/wp-editor/
2. Navigate to Appearance > Theme Editor in the WordPress admin.
3. Navigate into the /css/ folder of your child theme to edit custom.css.


--- The styles are loaded in the following order ---

-- PARENT THEME --

1. onesocial-icons.css 				Custom font icon set
2. main-global.css 					Global theme styles
3. main-desktop.css 				Desktop-only theme styles
4. main-mobile.css					Mobile-only theme styles

-- CHILD THEME --

5. custom.css

The later on a stylesheet is loaded, the higher precedent it gets.
So for example, if you define a CSS element in custom.css that has already
been defined in main-global.css, the version in custom.css will be used.

Each stylesheet includes a table of contents to help you navigate
through it. You will notice that many of them include a section with
media queries. Media queries allow us to detect a browser's screen
size, and load specific styles only if the screen is larger or smaller
than that particular size. This allows us to define a large set of
global styles, and then specific styles for phones, tablets,
and desktops & laptops - just based on the predicted screen size
of these devices. That's boss!


*/

#colophon {
   
   min-height: auto !important;
}@font-face {    font-family: 'LemonMilk';    src: url('fonts/LemonMilk.eot');    src: url('fonts/LemonMilk.eot') format('embedded-opentype'),         url('fonts/LemonMilk.woff2') format('woff2'),         url('fonts/LemonMilk.woff') format('woff'),         url('fonts/LemonMilk.ttf') format('truetype'),         url('fonts/LemonMilk.svg#LemonMilk') format('svg');}@font-face {    font-family: 'RobotoLight';    src: url('fonts/RobotoLight.eot');    src: url('fonts/RobotoLight.eot') format('embedded-opentype'),         url('fonts/RobotoLight.woff2') format('woff2'),         url('fonts/RobotoLight.woff') format('woff'),         url('fonts/RobotoLight.ttf') format('truetype'),         url('fonts/RobotoLight.svg#RobotoLight') format('svg');}.nav-inner a {    font-family: 'LemonMilk' !important;}
