/*--------------------------------------------------------------
This is the Desktop stylesheet, served to laptops and desktop devices.
----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
>>> WORDPRESS
----------------------------------------------------------------
1.1 - All Desktops
    1.1.1 - Basic Structure
    1.1.2 - Sidebars
    1.1.3 - Footer Widgets
    1.1.4 - Header
    1.1.5 - Navigation
    1.1.6 - Blog
    1.1.7 - Single Post
    1.1.8 - Sliding Panels
    1.1.9 - BuddyBoss Image Slider
    1.1.10 - Dropdowns
    1.1.11 - Search Template
1.2 - Custom media queries (desktops and laptops)
    1.2.1 - Basic Structure
    1.2.2 - BuddyBoss Image Slider
    1.2.3 - Widgets
    1.2.4 - Footer
----------------------------------------------------------------
>>> BUDDYPRESS
----------------------------------------------------------------
1.1 - All Desktops
    1.1.1 - Directories - Members, Groups, Blogs, Forums
    1.1.1 - Item Headers
    1.1.2 - Object Item Lists Tabs
    1.1.3 - Subnav Item Lists Tabs
    1.1.4 - Filters
    1.1.5 - Activity Listing
    1.1.6 - Activity Comments
    1.1.7 - Miscellaneous
    1.1.8 - Member Settings
    1.1.9 - Messaging
    1.1.10 - Group Settings: Radio buttons, Checkboxes
    1.1.11 - Group Create
    1.1.12 - Item Lists
1.2 - Custom media queries
    1.2.1 - Item List Tabs
    1.2.2 - Sitewide Notices
    1.2.3 - Profile
----------------------------------------------------------------
>>> PLUGINS
----------------------------------------------------------------
1.1 - Social Articles
1.2 - BuddyBoss Media

*/
/*--------------------------------------------------------------
1.1.1 - Basic Structure
--------------------------------------------------------------*/
html,
body {
    background-color: #fff;
    height: 100%; /* sticky footer */
}

html.js {
    margin-top: 0 !important;
}

/*not logged*/
body:not(.logged-in).no-adminbar #wpadminbar {
    display: none !important;
}

/*logged*/
body.logged-in.no-adminbar #wpadminbar {
    display: none !important;
}

/*not logged*/
body:not(.logged-in):not(.no-adminbar).is-desktop.admin-bar {
    margin-top: 32px !important;
}

/*logged*/
body.logged-in.is-desktop.admin-bar:not(.no-adminbar) {
    margin-top: 32px !important;
}

#inner-wrap {
    /*padding-top: 1px;*/
}

#colophon {
    /*    min-height: 104px; */
    /* '.push' must be the same height as 'footer' */
    min-height: 80px;
}

#colophon.footer-style-2 {
    min-height: inherit;
}

#main-wrap {
    margin: 0 auto;
    min-height: calc(100% - 80px);
    /*margin: 0 auto -104px;  the bottom margin is the negative value of the footer's height */
}

body.page #comments {
    padding: 0 0 50px 0;
}

.site {
    margin: auto;
    padding-top: 70px;
    position: relative;
}

.single-item.groups .site {
    padding-top: 0;
}

.bp-user .site {
    padding-top: 30px;
}

.bp-user.messages .site {
    padding-top: 40px;
}

.woocommerce-page .site {
    padding-bottom: 70px;
}

.site-content.default-page {
    padding-bottom: 50px;
}

.home:not(.groups) .site,
.blog:not(.bp-user) .site {
    /*    padding-top: 70px;*/
}

.archive-sidebar-active #secondary {
    /*padding-top: 70px;*/
}

.archive-header .page-title,
.archive-header .archive-title {
    line-height: 1;
}

.table {
    width: 100%;
    display: table;
}

.table-cell,
#header-aside {
    display: table-cell;
    vertical-align: middle;
}

.author-avatar {
    float: left;
    margin-top: 8px;
}

.author-description {
    float: right;
    width: 80%;
}

.header-inner-wrap {
    /*    left: 0;
        padding-right: 28.75%;
        position: absolute;
        width: 100%;*/
}

.header-inner-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    height: 70px;
    margin: 0 auto;
    max-width: 780px;
    padding: 0 30px;
    width: 100%;
}

/*--------------------------------------------------------------
1.1.2 - Sidebars
--------------------------------------------------------------*/
#trigger-sidebar {
    display: none;
    width: 22px;
    height: 21px;
    position: absolute;
    z-index: 11;
}

.bb-has-sidebar #trigger-sidebar {
    display: block;
}

.bp-user .site-content {
    margin-top: 0;
}

body.blog #main {
    display: block;
    position: relative;
}

body:not(.bb-sidebar-on) .home-inner-wrap #secondary {
    display: none;
}

.sidebar-left #trigger-sidebar {
    left: -30px;
    top: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.sidebar-right #trigger-sidebar {
    right: 28px;
}

.home-inner-wrap,
#main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

#main,
.breadcrumb-wrapper,
.header-style-2 .header-wrapper,
.footer-inner {
    margin: 0 auto;
    max-width: 1170px;
}

.breadcrumb-wrapper {
    color: #838383;
    font-size: 13px;
    padding: 90px 15px 15px;
    text-align: center;
}

.archive .breadcrumb-wrapper,
.page-template-social-authoring .breadcrumb-wrapper,
.bp-user .breadcrumb-wrapper,
.single-post .breadcrumb-wrapper {
    display: none;
}

.breadcrumb-wrapper a {
    color: #000;
    font-weight: 600;
}

.breadcrumb_last,
.breadcrumb-wrapper a {
    margin: 0 8px;
}

body:not(.bp-user):not(.archive):not(.page-template-social-authoring) .breadcrumb-wrapper ~ #page {
    padding-top: 0;
}

.breadcrumb-wrapper > p {
    margin: 0;
}

body.single-item.groups #main {
    max-width: 100%;
}

.sidebar-left #main,
.sidebar-left .home-inner-wrap,
.sidebar-left .search-content-wrap,
.sidebar-left .buddypress-content-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.sidebar-left #secondary {
    margin-right: 70px;
}

.sidebar-right #secondary {
    margin-left: 70px;
}

.blog:not(.bp-user) .site-content,
.archive.tag .site-content,
.archive.date .site-content,
.archive.author .site-content,
.archive.category .site-content {
    max-width: 780px;
}

#primary {
    /*height: 100%;*/
    margin-right: 0;
    /*padding: 0 15px;*/
    position: relative;
    width: auto;
    z-index: 10;
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1 0 auto;
    min-width: 1px;/* Firefox-34-ignoring-max-width-for-flexbox */
    margin: 0 auto;
}

#buddypress .groups-members-search {
    width: 55%;
}

.single:not(.bp-user):not(.bbpress) #primary {
    max-width: 780px;
}

.search-content-wrap,
.buddypress-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    /* This is added to fix search layout issue after load more */
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.search-content,
.buddypress-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    min-width: 1px; /* Firefox-34-ignoring-max-width-for-flexbox */
}

.bb-has-sidebar .search-content,
.bb-has-sidebar .buddypress-content {
    max-width: 750px;
}

#secondary {
    padding: 0 15px;
    width: 320px;
}

.buddypress-content-wrap #secondary {
    padding-left: 0;
    padding-right: 0;
}

/* Full Width (no sidebar) */
body.template-front-page .site-content,
body.single-attachment .site-content,
body.full-width .site-content,
.page-full-width .site-content,
.page-full-width {
    width: 100%;
}

#secondary .widget {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    padding: 70px 0;
    position: relative;
}

#secondary .widget.profile_widget {
    padding-top: 0;
}

#secondary .widget:first-child {
    padding-top: 0;
}

.bp-user #secondary #item-header {
    /* padding-top: 25px; */
}

#secondary .widget:last-child {
    border-bottom: 0;
}

.archive.author #secondary,
.default-page + #secondary,
.page.page-template #secondary {
    padding-top: 15px;
}

.search-content-inner .hentry:first-child {
    padding-top: 0;
}

/*--------------------------------------------------------------
1.1.3 - Footer Widgets
--------------------------------------------------------------*/
.footer-widget {
    float: left;
    margin-right: 0;
    padding: 0 15px;
    text-align: left;

    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0%;
    flex: 1 1 0;

    min-width: 1px; /* Firefox-34-ignoring-max-width-for-flexbox */
}

/*--------------------------------------------------------------
1.1.4 - Header
--------------------------------------------------------------*/
#mobile-right-panel {
    display: none;
}

.header-notifications {
    display: inline-block;
    position: relative;
}

.header-notifications .pop {
    background-color: #fff;
    border-top: 2px solid;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    font-size: 13px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 69px;
    transition: all 0.2s ease-in-out 0s;
    text-align: left;
    visibility: hidden;
    min-width: 264px;
    padding: 10px 20px;
    width: 100%;
    z-index: 21;
    white-space: initial;
}

.header-notifications .pop a {
    display: block;
    text-align: left;
    line-height: 1.2;
    color: #333;
}

.header-notifications .pop a:hover {
    color: #54ae68;
}

#all-notificatios .pop a {
    margin: 8px 0;
}

#all-notificatios .pop a::first-letter {
    text-transform: capitalize;
}

.header-notifications:hover .pop {
    opacity: 1;
    visibility: visible;
}

.header-notifications #ab-pending-notifications,
.header-notifications a.notification-link span {
    font-size: 0;
}

.header-notifications a.cart-button,
.header-notifications a#user-messages {
    font-size: 0;
}

.header-notifications a span:before {
    content: "I";
    font-family: "onesocial";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 21px;
    position: relative;
    top: 2px;
}

.header-notifications a#user-messages span:before {
    content: "Z";
    top: 10px;
}

.header-notifications a#user-messages span.no-alert:before {
    content: "u";
}

.header-notifications a span.pending-count:before {
    content: 'J';
}

.header-notifications a#user-messages span.count:before,
.header-notifications a span.pending-count:before {
    color: #54ae68;
}

#masthead .header-notifications a#user-messages:hover span.count:before,
#masthead .header-notifications a:hover span.pending-count:before {
    color: #fff;
}

.header-notifications .pop ul {
    list-style: none;
    margin: 0;
    /*padding: 5px 20px;*/
}

.bb-user-notifications > li {
    padding: 5px 0;
}

.header-notifications .bb-user-notifications a {
    display: inline-block;
    text-transform: capitalize;
}

.bb-user-notifications .avatar {
    border-radius: 100%;
    margin-right: 10px;
    margin-top: -3px;
}

.header-notifications .bb-user-notifications .bb-message-link {
    text-transform: lowercase;
}

.site-header {
    background-color: #fbfbfb;
    position: relative;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}

.site-header:after {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    content: ' ';
    height: 1px;
    position: absolute;
    width: 100%;
}

.site-header #wp-admin-bar-root-default,
.site-header #wp-admin-bar-search,
.site-header #wp-admin-bar-my-account > a,
.site-header #wp-admin-bar-bp-notifications {
    display: none;
}

.header-wrapper {
    padding: 0 15px;
    position: relative;
    display: table; /* Removed `!important` due to some issues with dropdown */
    width: 100%;
}

.site-header .site-name {
    margin: 0;
}

.site-header .site-title {
    line-height: 1.4;
    margin: 0;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}

.site-title a {
    color: inherit;
}

.site-title img {
    max-height: 70px;
    width: auto;
}

.site-header p.site-description {
    clear: left;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    color: #666;
    margin: 0;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 0;
}

.site-header .header-account {
    float: right;
    margin-top: 32px;
}

.site-header .header-account a {
    display: inline;
}

.site-header .header-account .button {
    padding: 6px 12px;
    margin-left: 8px;
}

.site-header #logo img {
    max-height: 70px;
    vertical-align: bottom;
    width: auto;
}

#logo-area {
    padding-right: 20px;
    width: 180px;
}

#site-navigation {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
}

#site-navigation .bb-menu-button i:before {
    content: "\f141";
}

#item-nav .bb-menu-button i:before {
    content: "\f078";
}

header-aside,
#logo-area {
    display: table-cell;
    vertical-align: middle;
}

#header-search {
    display: inline-block;
    position: relative;
}

#header-search:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#header-search form > div {
    height: 100%;
    position: relative;
}

#header-search form {
    height: 100%;
    position: absolute;
    right: 0;
    display: none;
    z-index: 32; /* Should be greater than 31 */

    background-color: #fff;
    /* border-left: 1px solid rgba(0,0,0,0.1); */
}

/* GeoDirectory - Directory Plugin */
.gd-google-maps #header-search form {
    z-index: 2000;
}

#header-search form input[type="text"] {
    height: 100%;
    width: 100%;
    padding: 20px 80px 20px 30px;
    font-size: 18px;
    font-weight: 300;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#header-search form .search-wrap:before {
    /*  content: '';
      height: 1px;
      width: 100%;
      background-color: rgba(0,0,0,0.1);
      position: absolute;
      bottom: -1px;*/
}

#header-search form #searchsubmit {
    position: absolute;
    right: 0px;
    top: -1px;
    /* margin-top: -10px; */
    height: 100%;
    width: 64px;
    border-radius: 0;
    background-color: transparent;
    color: #333;
    z-index: 1;
    line-height: 70px;
    padding: 0;
    vertical-align: baseline;
    font-size: 18px;
}

.search-wrap input::-webkit-input-placeholder { color: rgba(0,0,0,0.3); }
.search-wrap input::-moz-placeholder { color: rgba(0,0,0,0.3); } /* firefox 19+ */
.search-wrap input:-ms-input-placeholder { color: rgba(0,0,0,0.3); } /* ie */
.search-wrap input:-moz-placeholder { color: rgba(0,0,0,0.3); }

#header-search form #searchsubmit i {
    position: relative;
    top: 3px;
}

#header-search form #searchsubmit:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#header-search #search-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 12px;
    width: 12px;
    background-color: #b94545;
    padding: 0;
    line-height: 13px;
    color: #fff;
    font-size: 6px;
    z-index: 2;
    border-radius: 0;
    font-family: inherit;
    margin: 10px;
    outline: none;
    text-align: center;
}

#header-aside {
    width: 200px;
    white-space: nowrap;
}

#header-aside-inner {
    float: right;
    display: table;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#header-aside-inner > div:first-child {
    /*box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);*/
}

.header-button {
    height: 70px;
    line-height: 70px;
    width: 66px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333;
    display: inline-block;
    font-size: 18px;
    position: relative;
    vertical-align: bottom;
    z-index: 31;
}

.header-button i {
    position: relative;
    top: 2px;
}

.header-button.underlined {
    /*border-bottom: 1px solid;*/
    /*font-size: 20px;*/
    box-shadow: 0 -1px 0 #54ae68 inset;
}

.header-button.underlined .bb-icon-code {
    font-size: 26px;
}

.header-button:hover {
    color: #fff;
    background-color: #54ae68;
}

/* User Avatar and Links */
.header-account-login {
    box-shadow: none;
    text-align: right
}

.tablet .header-account-login > a {
    position: relative;
    z-index: -1;
}

.header-account-login .count {
    background: #54ae68;
    border-radius: 100%;
    color: #fff !important;
    display: inline-block;
    font-size: 12px;
    margin: 0 0 0 6px;
    padding: 2px 5px;
    position: absolute;
}

#masthead .header-account-login:hover {
    background: transparent;
}

.header-account-login .pop {
    background-color: #fff;
    border-top: 2px solid;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    right: 0;
    opacity: 0;
    position: absolute;
    top: 69px;
    transition: all 0.2s ease-in-out 0s;
    text-align: left;
    visibility: hidden;
    min-width: 160px;
    padding: 10px 0;
    width: 100%;
    z-index: 21;
}

.header-style-2 .header-account-login .pop {
    right: -3px;
}

.tablet .header-account-login .pop.hover,
body:not(.tablet) .header-account-login:hover .pop {
    opacity: 1;
    visibility: visible;
}

.header-account-login ul {
    list-style: none;
    margin: 0;
}

.header-account-login li {
    position: relative;
}

.header-account-login .pop a,
.header-account-login .pop .ab-item {
    color: #333;
    display: block;
    font-size: 13px;
    line-height: 1;
    padding: 8px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-account-login .pop a span b {
    font-weight: normal;
}

.header-account-login a.boss-logout {
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 12px;
    padding-top: 20px;
    position: relative;
}

.boss-logout:before {
    background: rgba(0, 0, 0, 0.1);
    content: ' ';
    height: 1px;
    position: absolute;
    top: 0;
    width: calc(100% - 40px);
}

.header-account-login .dashboard-links {
    margin: 0 0 12px;
    padding: 0 0 12px;
    position: relative;
}

.header-account-login .dashboard-links:before {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    content: ' ';
    display: block;
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: calc(100% - 40px);
}

.adminbar-links.bp-inactive,
.adminbar-links.bp-inactive + .boss-logout:before {
    display: none;
}

.adminbar-links.bp-inactive + .boss-logout {
    margin-top: 0;
    padding-top: 10px;
}

#wp-admin-bar-user-actions {
    display: none;
}

.header-account-login .avatar {
    border-radius: 100%;
    max-width: 46px;
    position: relative;
    top: -2px;
}

.header-style-2 .header-account-login .avatar {
    margin-right: -2px;
}

.header-account-login .pop .bp_components .menupop:not(#wp-admin-bar-my-account) > .ab-sub-wrapper,
.header-account-login .pop .links li > .sub-menu {
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.2);
    display: none;
    left: -187px;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    top: 0;
    width: 187px;
}

.header-account-login .pop .bp_components .menupop:hover:not(#wp-admin-bar-my-account) > .ab-sub-wrapper, .header-account-login .pop .links li:hover > .sub-menu {
    display: block;
}

.header-account-login .pop .bp_components .menupop:not(#wp-admin-bar-my-account) > .ab-sub-wrapper:before,
.header-account-login .pop .links li > .sub-menu:before {
    background-color: #fff;
    box-shadow: 2px -2px 2px -1px rgba(0, 0, 0, 0.1);
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    right: -5px;
    top: 11px;
    transform: rotate(45deg);
    width: 12px;
    z-index: 1;
}

/*--------------------------------------------------------------
1.1.5 - Navigation
--------------------------------------------------------------*/
.main-navigation {

}

.nav-inner {
    /*padding-top: 29px;*/
}

.bp-user .main-navigation {
    /* width: 50%; */
}

.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
    text-align: left;
    width: 100%;
}

.main-navigation ul {
    margin: 0;
    text-indent: 0;
}

.onsocial-primary-menu {
    height: 70px;
    overflow: hidden; /* It is necessary for nice load */
}

.boss-page-loaded .onsocial-primary-menu {
    overflow: visible;
}

.main-navigation .nav-inner div > ul.open {
    overflow: visible;
}

.main-navigation li a,
.main-navigation li {
    display: inline-block;
    text-decoration: none;
}

.main-navigation li a {
    line-height: 1;
    white-space: nowrap;
    word-wrap: break-word;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 13px;
}

.main-navigation .nav-menu > li > a {
    display: block;
    line-height: 13px;
    margin: 0 15px;
    padding: 32px 0 25px;
}

.main-navigation .nav-menu > li:hover > a {
    box-shadow: 0 -2px 0 #54ae68 inset;
}

.main-navigation li.current_menu_item,
.main-navigation li.current_page_item,
.main-navigation li a:hover {
    color: #333;
}

.main-navigation li {
    margin: 0;
    float: left;
    font-size: 14px;
    line-height: 1;
    position: relative;
}

.main-navigation li ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
    background-color: #fff;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #cdcdcd;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.main-navigation li ul.sub-menu:before {
    content:'';
    position: absolute;
    width: 100%;
    top: -2px;
    height: 2px;
    display: block;
}

.main-navigation li ul ul {
    top: -1px;
    left: 100%;
    border-width: 1px;
    background-color: #fff;
}

.main-navigation ul li:hover > ul {
    border-left: 0;
    display: block;
}

.main-navigation li ul li a {
    border: none;
    display: block;
    line-height: 1.4;
    padding: 8px 10px 8px 15px;
    width: 180px;
    white-space: normal;
    color: #777;
}

.main-navigation li ul li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: #444;
}

.main-navigation li ul li.menu-item-has-children > a:after {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    text-rendering: auto;
    content: "\f105";
    -webkit-font-smoothing: antialiased;
    speak: none;
    vertical-align: top;
    float: right;
    font-size: 16px;
    line-height: 1;
}

.main-navigation div > ul > .current-menu-item > a,
.main-navigation div > ul > .current-menu-ancestor > a {
    color: #333;
    box-shadow: 0 -2px 0 #54ae68 inset;
    /* darken */
}

.main-navigation div > ul ul > .current-menu-item > a {
    /* darken */
    background-color: rgba(0, 0, 0, 0.05);
}

.main-navigation li.hideshow ul {
    border: 0;
    padding: 5px 0;
}

#site-navigation .hideshow li {
    margin: 0;
}

#site-navigation .hideshow li a {
    margin: 0;
    padding: 8px 15px;
}

#respond form input[type="text"] {
    width: 46.333333333%;
}

#respond form textarea.blog-textarea {
    width: 79.666666667%;
}

.template-front-page .site-content,
.template-front-page article {
    overflow: hidden;
}

.template-front-page.has-post-thumbnail article {
    float: left;
    width: 47.916666667%;
}

.entry-page-image {
    float: right;
    margin-bottom: 0;
    width: 47.916666667%;
}

.template-front-page .widget-area .widget,
.template-front-page.two-sidebars .widget-area .front-widgets {
    float: left;
    width: 51.875%;
    margin-bottom: 24px;
}

.template-front-page .widget-area .widget:nth-child(odd) {
    clear: right;
}

.template-front-page .widget-area .widget:nth-child(even),
.template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets {
    float: right;
    width: 39.0625%;
    margin: 0 0 24px;
}

.template-front-page.two-sidebars .widget,
.template-front-page.two-sidebars .widget:nth-child(even) {
    float: none;
    width: auto;
}

.commentlist .children {
    margin-left: 60px;
    margin-bottom: 0;
}

div.footer-inner.widget-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    padding: 0;
}

/*--------------------------------------------------------------
1.0.5 - (...) Menu
--------------------------------------------------------------*/

#buddypress div#item-nav #object-nav.item-list-tabs {
    overflow: hidden;
    height: 67px;
    white-space: nowrap;
    text-align: left;
}

.single-item.groups #buddypress div#item-nav #object-nav.item-list-tabs {
    text-align: left;
}

.boss-page-loaded #buddypress div#item-nav #object-nav.item-list-tabs {
    overflow: visible;
}

body:not(.settings) #buddypress div#item-nav #object-nav.item-list-tabs > ul > li {
    float: left;
}

#page#page #content #buddypress div.item-list-tabs li.hideshow {
    float: right;
    padding-bottom: 30px;
    position: relative;
}

#buddypress div#item-nav .item-list-tabs ul li .bb-menu-button {
    color: #fff;
    font-size: 8px;
    height: 25px;
    line-height: 23px;
    margin: 7px 0 0;
    padding: 0;
    text-align: center;
    width: 25px;
}

#buddypress div#item-nav .item-list-tabs ul li:hover .bb-menu-button {
    color: #fff !important;
}

#main #buddypress div.item-list-tabs li.hideshow > ul {
    background-color: #fff;
    border-radius: 0;
    border-top: 2px solid;
    box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.2);
    display: none;
    height: auto;
    margin-top: 2px;
    min-width: 140px;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
}

#main-wrap #page #main #buddypress div.item-list-tabs li.hideshow:hover a {
    color: inherit;
}

#main-wrap #buddypress div.item-list-tabs li.hideshow > ul li {
    width: 100%;
    text-align: left;
    position: relative;
    margin: 0;
}

#main-wrap #buddypress div.item-list-tabs li.hideshow > ul li a {
    padding: 6px 0;
}

#main-wrap #buddypress div.item-list-tabs li.hideshow > ul li a:before {
    display: none !important;
}

li.hideshow > ul li:not(:last-child) {
    margin-bottom: 10px;
}

li.hideshow > ul li a {
    padding: 0px;
}

#buddypress div#item-nav .item-list-tabs ul li.hideshow a span {
    display: inline-block;
    float: none;
    margin-top: -3px;
}

/*--------------------------------------------------------------
1.1.6 - Blog
--------------------------------------------------------------*/
.blog .post-author,
.search_results .post-author {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;

    width: 165px;
    float: left;
    position: relative;
    z-index: 1;
    padding-right: 20px;
    padding-bottom: 10px;
}

.blog .post-author .author img,
#main #buddypress .search_results .post-author .author img {
    width: 50px;
    height: 50px;
    margin-right: 23px;
    vertical-align: bottom;
    margin-bottom: 20px;
}

.search_results .post-author .name,
.search_results .post-author .entry-date {
    display: block;
    font-family: inherit;
}

.blog .post-author .author {
    display: inline-block;
    width: 84px;
    position: relative;
}

.post-author .entry-date time {
    padding-bottom: 25px;
    width: 50px;
    display: inline-block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.post-author .load-more-posts {
    color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    left: 73px;
    line-height: 1;
    max-height: 15px;
    overflow: hidden;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 50px;
}

.post-author .load-more-posts:hover {
    max-height: 300px;
    overflow: visible;
}

.post-author .load-more-posts i {
    display: block;
    width: 14px;
    cursor: pointer;
}

.post-author .load-more-posts a {
    text-transform: uppercase;
    font-size: 10px;
    color: #333;
    clear: both;
    display: inline-block;
    width: auto;
    background-color: #fff;
    padding: 4px 6px 4px;
    border: 1px solid rgba(0,0,0,0.1);
    opacity: 0;
    visibility: hidden;
    min-width: 90px;
    transition: visibility 0s, opacity 0.5s linear;
}

.post-author .load-more-posts a[data-sort="recommended"] {
    min-width: 165px;
}

.post-author .load-more-posts:hover a {
    opacity: 1;
    visibility: visible;
    white-space: nowrap;
}

.post-author .load-more-posts a.show-latest {
    position: relative;
    top: -1px;
}

.post-author .load-more-posts a:hover {
    color: #54ae68;
}

.post-author .load-more-posts:hover {
    color: #54ae68;
}

.blog .content-wrap,
.search_results .content-wrap {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;

    width: 100%;
    float: left;
    position: relative;
}

.article-outher {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.article-outher:nth-last-child(2) .to-top,
.article-outher:nth-last-child(2):after {
    display: none;
}

.blog:not(.bp-user) .hentry,
.search_results:not(.bp-user) .type-product,
.search_results:not(.bp-user) .hentry {
    padding-bottom: 70px;
    min-height: 215px;
}

a.to-top {
    position: absolute;
    right: 20px;
    bottom: -15px;
    line-height: 30px;
    height: 28px;
    width: 28px;
    display: block;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    z-index: 1;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #333;
    font-size: 11px;
}

article:hover a.to-top {
    opacity: 1;
}

.author-details {
    position: relative;
}

.group-join, .author-follow, .author-details .author-top {
    /* background: #fff; */
    z-index: 2;
    position: relative;
}

.author-details .author-middle {
    opacity: 0;
    -webkit-transition: max-height 1s, opacity .7s;
    -o-transition: max-height 1s, opacity .7s;
    transition: max-height 1s, opacity .7s;
    padding: 21px 0 0;
    max-height: 0;
    overflow: hidden;
}

.author-details:hover .author-middle {
    opacity: 1;
    max-height: 400px;
}

.author-details .author-stats li:not(last-child) {
    margin-bottom: 10px;
}

.author-details .author-middle .author-bio:after {
    background-color: rgba(0,0,0,0.1);
    bottom: 0;
    content: ' ';
    height: 1px;
    left: 0;
    position: absolute;
    width: 50px;
}

.posts-stream {
    background-color: #fff;
    position: relative;
    /*z-index: 1;*/
    z-index: 0;
    width: 100%;
    min-height: 200px;
    top: -1px;
    display: none;
}

.search-content {
    margin: 0 auto;
    width: 100%;

    max-width: 750px;
}

.search-content .hentry {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 70px 0;
    position: relative;
}

/*--------------------------------------------------------------
1.1.7 - Single Post
--------------------------------------------------------------*/

body.single-post #page {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.single-attachment .entry-header,
.single-post .entry-header:not(.has-image) {
    margin: 70px auto 30px;
    max-width: 780px;
    padding: 0 15px;
}

/*--------------------------------------------------------------
1.1.7.1 - Comments
--------------------------------------------------------------*/

.single-post #comments .inner {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /*margin-top: 30px;*/
}

/*--------------------------------------------------------------
1.1.8 - Sliding Panels
--------------------------------------------------------------*/
#mobile-header {
    display: none;
}

li#bb-custom-notification-area {
    display: none;
}

/*--------------------------------------------------------------
1.1.9 - BuddyBoss Image Slider
--------------------------------------------------------------*/
.buddyboss_slides_container {
    margin: -30px -30px 40px;
    position: relative;
    z-index: 1;
}

/*--------------------------------------------------------------
1.1.10 - Dropdowns
--------------------------------------------------------------*/
body .buddyboss-select {
    display: inline-block;
    margin-top: 6px;
    vertical-align: bottom;
    white-space: nowrap;
}

.buddyboss-select-inner {
    position: relative;
    padding-right: 40px;
    height: 30px;
    line-height: 30px;
}

.buddyboss-select-inner:after {
    content: "P";
     border-left: 1px solid #e1e1e1 !important;
	border-right: 0px solid #e1e1e1 !important;
	border-top: 0px solid #e1e1e1 !important;
	border-bottom: 0px solid #e1e1e1 !important;
    position: absolute;
    right: 0;
    padding: 0px 11px;
    height: 30px;
    line-height: 30px;
    color: #333;
    font-size: 6px;
    font-family: "onesocial" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.buddyboss-select-inner select {
    cursor: pointer;
    height: 30px;
    width: 100%;
    opacity: 0;
    border: none;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.buddyboss-select-inner span {
    color: #54ae68;
    font-size: 10px;
    text-transform: uppercase;
}

.directory.activity #activity-filter-select .buddyboss-select label,
#buddypress .filters .buddyboss-select label,
#buddypress div#subnav.item-list-tabs ul li.last label {
    display: none;
}

#activity-filter-select .buddyboss-select {
    margin-top: 0;
}

/*--------------------------------------------------------------
1.1.11 - Search Template
--------------------------------------------------------------*/
body.search h1.entry-title {
    margin: 20px 0 50px;
    font-size: 36px;
}

/*--------------------------------------------------------------
1.2 - Custom media queries (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.2.1 - Basic Structure
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.2.2 - Header
--------------------------------------------------------------*/

@media screen and (min-width: 1221px) {
    .main-navigation {
        /* width: 96%; */
    }
}

@media screen and (max-width: 1220px) {
    .header-inner-center {

    }
}

@media screen and (min-width: 1040px) {
    /*--------------------------------------------------------------
    1.2.1 - Basic Structure
    --------------------------------------------------------------*/

    /*--------------------------------------------------------------
    1.2.2 - BuddyBoss Image Slider
    --------------------------------------------------------------*/
    .buddyboss_slides_container {
        margin: -40px 0 40px;
    }

    /*--------------------------------------------------------------
    1.2.3 - Widgets
    --------------------------------------------------------------*/
    /* Search Widget */
    .widget-area .widget_search label {
        display: block;
        font-size: 13px;
        line-height: 1.8;
    }

    .widget-area .widget_search,
    .widget-area .widget_display_search {
        /* overflow: hidden; */
    }

    .widget-area .widget_search input[type="submit"],
    .widget-area .widget_display_search input[type="submit"] {
        min-width: 25%;
        height: 35px;
        line-height: 35px;
        padding: 0 5%;
        float: left;
    }

    /*--------------------------------------------------------------
    1.2.4 - Footer
    --------------------------------------------------------------*/
    div.footer-inner div#footer-links {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
        flex: 1 1 0;
        float: left;
        text-align: left;
        min-width: 1px; /* Firefox-34-ignoring-max-width-for-flexbox */
    }

    div.footer-inner div#footer-icons {
        float: right;
    }

    div.footer-inner-bottom ul.social-icons {
        margin: 0 0 0 40px;
    }

    #switch-mode {
        float: right;
        height: 44px;
        line-height: 44px;
        margin-left: 20px;
        margin-top: 0;
    }
}
/*--------------------------------------------------------------
1.2.5 - Basic Layout
--------------------------------------------------------------*/

@media screen and (max-width: 900px) {

    .main-navigation {
        /*width: calc(90% - 140px);*/
    }

    #secondary.widget-area {
        border-left: none;
    }

    body.single-item.groups .site #main {
        /*margin-right: -30px;*/
    }

    .single-item.groups #buddypress div#item-body {
        /*padding-right: 30px;*/
    }

    .bb-has-sidebar #main,
    .sidebar-left #main,
    .sidebar-left .search-content-wrap,
    .sidebar-left .buddypress-content-wrap,
    .search-content-wrap,
    .buddypress-content-wrap {
        /*        -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;*/

        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .bb-has-sidebar .search-content,
    .bb-has-sidebar .buddypress-content {
        max-width: 100%;
    }

    #secondary {
        width: 100%;
        margin: 0;
        max-width: 100%;
    }

    .sidebar-left #secondary,
    .sidebar-right #secondary {
        margin: 0;
    }

    .site-content #secondary {
        padding: 0;
    }

    .bb-has-sidebar #trigger-sidebar {
        display: none;
    }

    .home-inner-wrap #secondary {
        display: block !important;
    }

    .blog:not(.bp-user) .site-content,
    .archive.tag .site-content,
    .archive.date .site-content,
    .archive.author .site-content,
    .archive.category .site-content {
        max-width: 100%;
    }

    #buddypress #whats-new-header-content {
        max-width: 560px;
    }
}

@media screen and (max-width: 768px) {
    .main-navigation {
        /*width: calc(80% - 140px);*/
    }
}

/*----------------------------------------------------------------
>>> BUDDYPRESS
----------------------------------------------------------------*/
/*---------------------------------------------------------------
1.1 - All Desktops
--------------------------------------------------------------*/
/*---------------------------------------------------------------
1.1.1 - Directories - Members, Groups, Blogs, Forums
--------------------------------------------------------------*/
.directory .page-right-sidebar #primary {
    padding-right: 30px;
}

/*---------------------------------------------------------------
1.1.2 - Item Headers
--------------------------------------------------------------*/
/* Members */
.bp-user #buddypress {
    /*    margin-top: 26px;*/
    clear: both;
    float: left;
}

.bp-user.messages.starred #buddypress,
.bp-user.messages.notices #buddypress,
.bp-user.messages.compose #buddypress {
    /*margin-top: 45px;*/
}

.bp-user.messages #buddypress,
.bp-user.messages.view #buddypress,
.bp-user.messages.drafts #buddypress {
    /*margin-top: 40px;*/
}

.bp-user #buddypress div#item-header {
    /*    width: 34%;
        float: left;
        text-align: center;
        padding-right: 56px;*/
}

div#item-header-avatar {
    margin: 10px auto 20px;
    display: inline-block;
    position: relative;
}

.groups div#item-header-avatar {
    /*width: 100%;*/
    text-align: center;
}

.bb-group-avatar-wrap {
    width: 100%;
}

div#item-header-avatar img.avatar {
    margin: 0;
    width: 100%;
    height: auto;
    border: none;
    box-shadow: none;
    vertical-align: bottom;
    max-width: 140px;
    border-radius: 50%;
}

.bp-user #item-header {
    text-align: center;
}

body.single-item.groups .entry-header .entry-title {
    width: 84%;
}

#buddypress div#item-header div#message {
    clear: none;
}

.settings.bp-user #buddypress div#item-nav {
    display: inline-block !important;
}

body.bp-user:not(.settings) #buddypress div#item-nav {
    margin-bottom: 50px;
}

#mobile-item-nav-wrap {
    /* Item Nav Holder, In Mobile */
    display: none;
}

/* Group */
.single-item.groups #buddypress div#item-header #item-header-avatar img.avatar {
    max-width: 185px;
    width: 100%;
    position: relative;
    left: -10px;
}

/*
.boss-group-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.boss-group-header .table-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    min-width: 1px;
}

.boss-group-header .group-header-content {
    position: absolute;
    bottom: 10px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
*/

/*--------------------------------------------------------------
1.1.3 - Object Item Lists Tabs
--------------------------------------------------------------*/
#buddypress div#item-nav .item-list-tabs {
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#buddypress div#item-nav .item-list-tabs ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: visible;
    /* required for older IE support */
}

#buddypress div#item-nav .item-list-tabs ul:after {
    clear: both;
    content: '';
    display: table;
}

body:not(.settings) #buddypress div#item-nav .item-list-tabs > ul > li {
    margin: 0;
    list-style: none;
    line-height: 1.7; /* if text is too long, this gracefully drops the count indicator to the next line */
    background-image: none; /* hides the icons added by LS Buddypress Activity plus tabs extension */
    display: block;
    float: left;
    margin-left: 25px;
}

#content #buddypress div#item-nav .item-list-tabs ul li:first-child {
    margin-left: 0;
}

#buddypress div#item-nav .item-list-tabs ul li.last select {
    max-width: 175px;
}

#buddypress div#item-nav .item-list-tabs ul li a {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    padding-bottom: 36px;
    padding-top: 10px;
    display: block;
    position: relative;
}

.settings #buddypress div#item-nav .item-list-tabs ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.8;
}

.settings #buddypress div#item-nav .item-list-tabs ul li a span {
    height: 15px;
    margin-top: 6px;
}

#buddypress div#item-nav .item-list-tabs ul li:hover a:before,
#buddypress div#item-nav .item-list-tabs ul li.selected a:before,
#buddypress div#item-nav .item-list-tabs ul li.current a:before {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #54ae68;
}

#buddypress div#item-nav .item-list-tabs ul li:hover a:after,
#buddypress div#item-nav .item-list-tabs ul li.selected a:after,
#buddypress div#item-nav .item-list-tabs ul li.current a:after {
    color: #54ae68;
}

#buddypress div#item-nav .item-list-tabs ul li a span {
    color: #54ae68;
    display: inline-block;
    margin-left: 4px;
    line-height: 1;
}

#buddypress div#item-nav .item-list-tabs ul li:hover > a,
#buddypress div#item-nav .item-list-tabs ul li.selected > a,
#buddypress div#item-nav .item-list-tabs ul li.current > a {
    color: #54ae68;
}

/*--------------------------------------------------------------
1.1.4 - Subnav Item Lists Tabs
--------------------------------------------------------------*/
#buddypress div#subnav.item-list-tabs, #buddypress > div[role="navigation"].item-list-tabs, #buddypress div:not(#item-nav) > .item-list-tabs, #buddypress .dir-form div.item-list-tabs, .bp-legacy div#item-body div.item-list-tabs {
    margin: 24px 0;
    padding: 0;
    position: relative;
}

body:not(.group-members) #buddypress div#subnav.item-list-tabs ul,
body:not(.group-members) #buddypress div:not(#item-nav) > .item-list-tabs ul,
#buddypress > div[role="navigation"].item-list-tabs ul,
#buddypress .dir-form div.item-list-tabs ul,
.bp-legacy div#item-body div.item-list-tabs ul {
    margin: 0;
    padding: 0;
    overflow: visible;
    font-size: 0;
    /* Fix for whitespaces between LI. Reset font-size in LI */
}

/* List item */
#buddypress div#subnav.item-list-tabs ul li,
#buddypress > div[role="navigation"].item-list-tabs ul li,
#buddypress div:not(#item-nav) > .item-list-tabs ul li,
#buddypress .dir-form div.item-list-tabs ul li,
.bp-legacy div#item-body div.item-list-tabs ul li {
    margin: 0 9px 4px 0;
    display: inline-block;
    margin-right: 9px;
    list-style: none;
    font-size: 13px;
    /* Required to reset font size */
}

/* Last list item */
#buddypress div#subnav.item-list-tabs ul li.last,
#buddypress > div[role="navigation"].item-list-tabs ul li.last,
#buddypress div:not(#item-nav) > .item-list-tabs ul li.last,
#buddypress .dir-form div.item-list-tabs ul li.last,
.bp-legacy div#item-body div.item-list-tabs ul li.last {
    float: right;
    margin: 0;
}

#buddypress div#subnav.item-list-tabs ul li.last select,
#buddypress > div[role="navigation"].item-list-tabs ul li.last select,
#buddypress div:not(#item-nav) > .item-list-tabs ul li.last select,
#buddypress .dir-form div.item-list-tabs ul li.last select,
.bp-legacy div#item-body div.item-list-tabs ul li.last select {
    max-width: 175px;
}

#buddypress div#subnav.item-list-tabs ul li#activity-filter-select,
#buddypress > div[role="navigation"].item-list-tabs ul li#activity-filter-select,
#buddypress div:not(#item-nav) > .item-list-tabs ul li#activity-filter-select,
#buddypress .dir-form div.item-list-tabs ul li#activity-filter-select,
.bp-legacy div#item-body div.item-list-tabs ul li#activity-filter-select {
    border-bottom: none;
}

/* Default state */
.bp-user a.button.sap-new-post-btn,
#buddypress div#subnav.item-list-tabs ul li a,
#buddypress > div[role="navigation"].item-list-tabs ul li a,
#buddypress div:not(#item-nav) > .item-list-tabs ul li a,
#buddypress .dir-form div.item-list-tabs ul li a,
.bp-legacy div#item-body div.item-list-tabs ul li a {
    display: block;
    padding: 6px 10px;
    line-height: 1.7;
    text-decoration: none;
    color: #333;
    /*font-weight: 700;*/
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 0;
    font-size: 10px;
    text-transform: uppercase;
}

.settings #buddypress div#subnav.item-list-tabs ul li.current a {
    color: #54ae68;
}

/* Number icon */
#buddypress div#subnav.item-list-tabs ul li a span,
#buddypress > div[role="navigation"].item-list-tabs ul li a span,
#buddypress div:not(#item-nav) > .item-list-tabs ul li a span,
#buddypress .dir-form div.item-list-tabs ul li a span,
.bp-legacy div#item-body div.item-list-tabs ul li a span {
    background-color: #54ae68;
    color: #fff;
    display: inline;
    font-size: 80%;
    margin-left: 3px;
    padding: 2px 5px;
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/* Hover state */
#buddypress div#subnav.item-list-tabs ul li a:hover, #buddypress > div[role="navigation"].item-list-tabs ul li a:hover, #buddypress div:not(#item-nav) > .item-list-tabs ul li a:hover, #buddypress .dir-form div.item-list-tabs ul li a:hover, .bp-legacy div#item-body div.item-list-tabs ul li a:hover {
    background-color: #333;
    color: #fff;
}

/* Active-Current state */
.bp-user a.button.sap-new-post-btn:hover,
#buddypress div#subnav.item-list-tabs ul li.selected a,
#buddypress div#subnav.item-list-tabs ul li.current a,
#buddypress > div[role="navigation"].item-list-tabs ul li.selected a,
#buddypress > div[role="navigation"].item-list-tabs ul li.current a,
#buddypress div:not(#item-nav) > .item-list-tabs ul li.selected a,
#buddypress div:not(#item-nav) > .item-list-tabs ul li.current a,
#buddypress .dir-form div.item-list-tabs ul li.selected a,
#buddypress .dir-form div.item-list-tabs ul li.current a,
.bp-legacy div#item-body div.item-list-tabs ul li.selected a,
.bp-legacy div#item-body div.item-list-tabs ul li.current a {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

#buddypress div#subnav.item-list-tabs ul li li,
#buddypress > div[role="navigation"].item-list-tabs ul li li,
#buddypress div:not(#item-nav) > .item-list-tabs ul li li,
#buddypress .dir-form div.item-list-tabs ul li li,
.bp-legacy div#item-body div.item-list-tabs ul li li {
    float: left;
    margin-top: 0;
}

#buddypress div.item-list-tabs ul .button,
.bp-legacy div#item-body div.item-list-tabs ul .button {
    margin: 8px 0 0 8px;
    float: right;
    font-weight: 400;
}

/* Item List Action */
#buddypress ul.item-list li div.action {
    /* position: absolute; */
    /* top: 15px; */
    /* right: 0; */
    /* text-align: right; */
    margin-bottom: 40px;
}

#buddypress #blogs-list.item-list li div.action {
    position: absolute;
    top: 15px;
    right: 0;
    text-align: right;
}

#buddypress #blogs-list.item-list li div.meta {
    display: none;
}

.blog-details {
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 30px;
}

#blogs-dir-list .blog-details {
    border-bottom: 0;
}

#blogs-dir-list .item-meta {
    margin-bottom: 20px;
}

.blogs-activity {
    display: inline-block;
    color: #aaa;
    font-size: 12px;
    padding: 0;
}

/*--------------------------------------------------------------
1.1.5 - Filters
--------------------------------------------------------------*/
#buddypress div#filter.item-list-tabs {
    background: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0 0 20px;
}

#buddypress div#filter.item-list-tabs ul li,
#buddypress div#filter.whats-new-select ul li {
    list-style: none;
    margin: 0;
}

#buddypress div.item-list-tabs ul li#activity-filter-select .buddyboss-select-inner,
#buddypress div.item-list-tabs ul li.filter .buddyboss-select-inner,
#buddypress div.whats-new-select ul li#activity-filter-select .buddyboss-select-inner,
#buddypress div#whats-new-options .buddyboss-select-inner,
#buddypress div.whats-new-select ul li.filter .buddyboss-select-inner {
    display: inline-block;
}

#buddypress .notifications-options-nav .bp-screen-reader-text,
#buddypress .messages-options-nav .bp-screen-reader-text {
    display: none;
}

#buddypress .notifications-options-nav .buddyboss-select,
#buddypress .messages-options-nav .buddyboss-select {
    float: left;
}

#buddypress .notifications-options-nav #notification-bulk-manage {
    float: left;
    margin-left: 20px;
    margin-top: 6px;
    padding: 12px 0 0;
}

/*--------------------------------------------------------------
1.1.6 - Activity Listing
--------------------------------------------------------------*/
#buddypress .activity-list .activity-avatar {
    float: left;
    width: 30%;
}

body.activity-permalink #buddypress .activity-list .activity-avatar {
    width: 15%;
}

#buddypress ul.item-list.activity-list li.has-comments {
    padding-bottom: 15px;
}

#buddypress ul.item-list.activity-list > li {
    width: 100%;
}

body.activity-permalink #buddypress ul.activity-list li.has-comments {
    padding-bottom: 0;
}

#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.avatar,
#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.FB_profile_pic {
    height: auto;
    margin-left: 0;
    width: auto;
}

body.activity-permalink #buddypress .activity-list > li:first-child {
    padding-top: 0;
}

#buddypress .activity-list li .activity-content {
    position: relative;
}

#buddypress .activity-list li.mini .activity-content p {
    margin: 0;
}

body.activity-permalink #buddypress li.mini .activity-meta {
    margin-top: 4px;
}

#buddypress .activity-list li .activity-inreplyto {
    display: none;
    /* hides the View Conversation link */
}

#buddypress .activity-list li .activity-inreplyto > p {
    margin: 0;
    display: inline;
}

#buddypress .activity-list li .activity-inreplyto blockquote,
#buddypress .activity-list li .activity-inreplyto div.activity-inner {
    background: none;
    border: none;
    display: inline;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#buddypress .activity-list .activity-comments {
    margin: 0 0 0 30%;
}

body.activity-permalink #buddypress .activity-list .activity-comments {
    margin: 0 0 0 15%;
}

#buddypress .activity-list .activity-content, .search #buddypress .results-group .activity-list .activity-content {
    margin: 0 0 0 30%;
}

body.activity-permalink #buddypress .activity-list li .activity-content {
    margin-left: 15%;
}

#buddypress .activity-list .activity-content .activity-header,
#buddypress .activity-list .activity-content .comment-header {
    line-height: 1.5;
}

#buddypress .activity-header a,
#buddypress .comment-meta a,
#buddypress .acomment-meta a {
    font-weight: 600;
}

#buddypress .activity-list .activity-content .activity-header img.avatar {
    float: none !important;
    margin: 0 5px -4px 1px !important;
    width: 15px;
    height: 15px;
}

#buddypress a.bp-secondary-action,
#buddypress span.highlight {
    font-size: 90%;
    padding: 0;
    margin-left: 5px;
    text-decoration: none;
}

#buddypress #create-group-form .highlight {
    margin: 0;
}

#buddypress div#item-header div#item-header-content span.highlight {
    background-color: #77a076;
    color: #fff;
    font-size: 11px;
    padding: 4px 6px;
    margin-right: 5px;
    text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#buddypress .activity-list .activity-content .activity-inner,
#buddypress .activity-list .activity-content blockquote {
    margin: 24px 0 0 0;
    overflow: hidden;
}
#buddypress .activity-list .has-comments .activity-content .activity-inner {
    padding-bottom: 27px;
    border-bottom: 1px solid #e1e1e1;
}

#buddypress .activity-list .activity-content .activity-inner .button {
    padding: 3px 7px;
}

#buddypress .activity-list li.new_forum_post .activity-content .activity-inner,
#buddypress .activity-list li.new_forum_topic .activity-content .activity-inner {
    border-left: 2px solid #EAEAEA;
    margin-left: 5px;
    margin: 10px 10px 0 5px;
    padding-left: 10px;
}

body.activity-permalink #buddypress .activity-content .activity-inner,
body.activity-permalink #buddypress .activity-content blockquote {
    margin-left: 0;
    margin-top: 5px;
}

#buddypress .activity-inner > .activity-inner {
    margin: 0;
}

#buddypress .activity-inner > blockquote {
    margin: 0;
}

#buddypress .activity-list .activity-content img.thumbnail {
    border: 2px solid #eee;
    float: left;
    margin: 0 10px 5px 0;
}

#buddypress .activity-read-more {
    margin-left: 8px;
    white-space: nowrap;
}

#buddypress .activity-read-more a {
    text-decoration: underline;
}

#main #buddypress .activity-list li.load-more,
#main #buddypress .activity-list li.load-newest {
    text-align: center;
    margin: 45px 0 25px;
    padding: 0;
}

.sap-load-more-posts,
.button-load-more-posts,
#buddypress .activity-list li.load-more a,
#buddypress .activity-list li.load-newest a {
    display: inline-block;
    color: #fff;
    font-size: 10px;
    padding: 7px 20px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #57ad68;
    border-radius: 15px;
}

#buddypress .activity-list li.load-more.loading a,
#buddypress .activity-list li.load-newest.loading {
    text-decoration: none;
}

/*--------------------------------------------------------------
1.1.7 - Activity Comments
--------------------------------------------------------------*/
body.activity-permalink #buddypress div.activity-meta {
    margin-bottom: 6px;
}

#buddypress div.activity-meta a:before {
    text-align: center;
}

#buddypress div.activity-meta a:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#buddypress a.activity-time-since {
    color: #aaa;
    font-weight: 300;
}

#buddypress a.activity-time-since:hover {
    color: #888;
}

#buddypress a.bp-primary-action,
#buddypress #reply-title small a {
    text-decoration: none;
}

#buddypress a.bp-primary-action span,
#buddypress #reply-title small a span {
    background-color: #888;
    color: #fff;
    margin-left: 2px;
    padding: 0 4px;
    font-size: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#buddypress div.activity-comments {
    overflow: hidden;
    /* IE fix */
    position: relative;
    width: auto;
}

#buddypress div.activity-comments > ul {
    padding: 0;
}

#buddypress div.activity-comments ul,
#buddypress div.activity-comments ul li {
    border: none;
    list-style: none;
}

#buddypress div.activity-comments ul {
    clear: both;
    margin: 0;
}

#buddypress div.activity-comments ul li.show-all {
    padding: 5px 10px;
}

#buddypress div.activity-comments ul li.reply-like-count {
    padding: 0;
    margin: 0;
    border: none;
}

#buddypress div.activity-comments ul {
    /*background-color: #f9f9f9;*/
    position: relative;
}

#buddypress div.activity-comments form.ac-form {
    position: relative;
}

#buddypress div.activity-comments ul li {
    padding: 40px 0 15px;
}

#buddypress div.activity-comments ul li:not(.activity-like-count),
#buddypress div.activity-comments form.ac-form {
    border-top: 1px solid #e1e1e1;
}

#buddypress div.activity-comments > ul > li:first-child {
    border-top: none;
}

#buddypress div.activity-comments ul li.activity-like-count {
    padding: 10px 0;
}

body.activity-permalink #buddypress .activity-list li.mini .activity-comments {
    clear: none;
    margin-top: 0;
}

#buddypress div.activity-comments > ul > li:first-child {
    /*border-top: none;*/
}

#buddypress div.activity-comments ul li:last-child {
    margin-bottom: 0;
}

#buddypress div.activity-comments ul li > ul {
    margin-top: 0;
}

body.activity-permalink #buddypress div.activity-comments ul li > ul {
    margin-top: 10px;
}

#buddypress div.activity-comments ul li ul {
    background: #fff;
}

#buddypress div.activity-comments ul li ul.acomment-reply-like-content {
    background: transparent;
    margin: 5px 0;
}

#buddypress div.activity-comments ul li ul > li {
    margin-left: 30px;
}

#main #buddypress div.activity-comments div.acomment-avatar img {
    border-width: 1px;
    float: left;
    height: 46px;
    margin: 0;
    width: 46px;
}

#buddypress div.activity-comments div.acomment-content {
    margin: 5px 0 25px 70px;
    padding-right: 10px;
    clear: both;
}

#buddypress div.acomment-content .time-since,
#buddypress div.acomment-content .activity-delete-link,
#buddypress div.acomment-content .comment-header {
    display: none;
}

#buddypress div.activity-comments form.ac-form {
    display: none;
}

#buddypress .activity.activity div.activity-comments form.root {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    clear: both;
    margin: 30px 0 20px;
    padding: 30px 0;
}

#buddypress .activity.activity .mini div.activity-comments form.root {
    border-top: 0;
    margin-top: 0;
}

/*--------------------------------------------------------------
1.1.8 - Miscellaneous
--------------------------------------------------------------*/
h2.group-title {
    display: none;
}

#buddypress ul#groups-list div.action .group-button {
    margin-bottom: 12px;
}

body.buddypress footer.entry-meta.buddypress {
    display: none;
}

body.buddypress inner footer.entry-meta {
    display: block;
}

div#sitewide-notice {
    max-width: 1200px;
    margin: 0 auto;
}

div#mobile-check {
    display: none;
}

/*--------------------------------------------------------------
1.1.9 - Member Settings
--------------------------------------------------------------*/
#show-nav {
    display: inline-block;
    line-height: 22px;
    font-size: 32px;
    color: rgba(0,0,0,0.1);
}

.settings.bp-user #buddypress div#item-nav {
    position: relative;
    width: 210px;
    display: inline-block;
    float: none;
    margin-top: 30px;
}

.settings.bp-user #item-nav .item-list-tabs {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 0;
    width: 100%;
    z-index: 1;
    visibility: hidden;
}

.settings.bp-user #item-nav:hover .item-list-tabs {
    opacity: 1;
    padding-top: 15px;
    visibility: visible;
}

.settings.bp-user #buddypress div#item-nav .item-list-tabs > ul {
    border: 2px solid #e1e1e1;
    border-radius: 2px;
    background-color: #fff;
    padding: 24px 30px;
    width: 100%;
    position: relative;
    overflow: visible;
    float: left;
}

.settings.bp-user #item-nav .item-list-tabs > ul:before,
.settings.bp-user #item-nav .item-list-tabs > ul:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.settings.bp-user #item-nav .item-list-tabs > ul:before {
    border-color: rgba(225, 225, 225, 0);
    border-bottom-color: #e1e1e1;
    border-width: 12px;
    margin-left: -12px;
}

.settings.bp-user #item-nav .item-list-tabs > ul:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 9px;
    margin-left: -9px;
}

.settings.bp-user #buddypress div#item-nav .item-list-tabs ul li {
    margin-right: 0;
    clear: both;
    width: 100%;
    text-align: left;
}

.search #buddypress div:not(#item-nav) > .dir-form div.item-list-tabs ul {
    text-align: center;
}

.search #buddypress div:not(#item-nav) > .dir-form div.item-list-tabs ul li {
    display: inline-block;
}

.search #buddypress div:not(#item-nav) > .dir-form div.item-list-tabs ul li a,
.settings.bp-user #buddypress div#item-nav .item-list-tabs ul li a {
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: 700;
    padding-top: 0;
}

.settings.bp-user #item-nav .item-list-tabs ul li a:before {
    display: none !important;
}

.search #buddypress div:not(#item-nav) > .dir-form div.item-list-tabs ul li,
.settings.bp-user #buddypress div#subnav.item-list-tabs ul li,
.settings.bp-user #buddypress div:not(#item-nav) > .item-list-tabs ul li {
    margin-right: 0;
}

.search #buddypress div:not(#item-nav) > .dir-form div.item-list-tabs ul li a,
.settings.bp-user #buddypress div#subnav.item-list-tabs ul li a,
.settings.bp-user #buddypress div:not(#item-nav) > .item-list-tabs ul li a {
    background-color: transparent;
    font-size: 14px;
    color: #333;
    border: none;
    display: inline-block;
}

.search #buddypress div:not(#item-nav) > .dir-form div.item-list-tabs ul li.active a,
.search #buddypress div:not(#item-nav) > .dir-form div.item-list-tabs ul li:hover a,
.settings.bp-user #buddypress div#subnav.item-list-tabs ul li:hover a,
.settings.bp-user #buddypress div:not(#item-nav) > .item-list-tabs ul li:hover a {
    color: #54ae68;
}

.search #buddypress div:not(#item-nav) > .dir-form div.item-list-tabs ul li:not(:last-child):after,
.settings.bp-user #buddypress div#subnav.item-list-tabs ul li:not(:last-child):after,
.settings.bp-user #buddypress div:not(#item-nav) > .item-list-tabs ul li:not(:last-child):after {
    content: '.';
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 16px;
}

.search #buddypress div:not(#item-nav) > .dir-form div.item-list-tabs ul li a span {
    background: transparent;
    color: #54ae68;
    font-size: inherit;
    padding: 0;
    line-height: inherit;
    vertical-align: bottom;
    margin-left: 7px;
    float:right;
}

#group-create-body label sup {
    font-size: 16px;
    top: 0;
}

.group-create .groups-dir-header.dir-header {
    display: none;
}

.group-create .create-group-title {
    font-size: 80px;
    line-height: 1.1;
}

h1.big {
    font-size: 80px;
    line-height: 1.2;
    margin: 45px 0 54px;
}

.settings.bp-user.profile #settings-form,
.settings.bp-user.general #settings-form {
    max-width: 380px;
}

.settings.bp-user.notifications #settings-form {
    max-width: 750px;
}

#profile-group-edit-submit {
    margin-bottom: 70px;
}

#buddypress #profile-edit-form > h4:first-child {
    margin-bottom: 50px;
}

/*--------------------------------------------------------------
1.1.10 - Messaging
--------------------------------------------------------------*/
.bp-user.messages #buddypress div#subnav.item-list-tabs {
    margin: 0;
}

.bp-user.messages #buddypress div#subnav.item-list-tabs ul {
    /*width: 166px;*/
}

.bp-user.messages #buddypress div#subnav.item-list-tabs ul li {
    float: none;
    width: 100%;
    margin: 0;
}

.bp-user.messages #buddypress div#subnav.item-list-tabs ul li a {
    border: none;
    font-size: 14px;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    font-weight: 600;
}

.bp-user.messages #buddypress div#subnav.item-list-tabs ul li a strong,
.bp-user.messages #buddypress div#subnav.item-list-tabs ul li a span {
    float: right;
    background: transparent;
    color: #54ae68;
    padding: 0;
    line-height: 25px;
    font-size: 14px;
}

.bp-user.messages #buddypress div#subnav.item-list-tabs ul li:hover a,
.bp-user.messages #buddypress div#subnav.item-list-tabs ul li.selected a,
.bp-user.messages #buddypress div#subnav.item-list-tabs ul li.current a {
    color: #54ae68;
}

.bp-user.messages #buddypress div#subnav.item-list-tabs ul li#compose-personal-li {
    padding-bottom: 22px;
    border-bottom: 2px solid #54ae68;
    margin-bottom: 22px;
    margin-top: 2px;
}

.bp-user.messages #buddypress div#subnav.item-list-tabs ul li#compose-personal-li a {
    text-transform: uppercase;
}

.bp-user.messages #buddypress div#subnav.item-list-tabs ul li#compose-personal-li a span {
    font-size: 16px;
}

.bp-user.messages #buddypress div#subnav.item-list-tabs ul li {
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
}

#buddypress#buddypress div.message-search {
    float: right;
    margin: -1px 0 -36px;
}

/* Compose */
#buddypress form#send_message_form input#send-notice {
    clear: left;
    float: left;
}

#buddypress form#send_message_form label span.text {
    font-size: 14px;
    margin-left: 5px;
}

/*--------------------------------------------------------------
1.1.11 - Group
--------------------------------------------------------------*/
.single-item.groups #buddypress div#item-header #item-header-desc,
.single-item.groups #buddypress div#item-header div#item-header-avatar {
    /*display: table-cell;*/
    /*vertical-align: top;*/
}

.group-home.single-item.groups #buddypress div#subnav.item-list-tabs {
    margin-bottom: 70px;
}

.single-item.groups.group-admin #buddypress div#subnav.item-list-tabs {
    margin-bottom: 70px;
}

/*--------------------------------------------------------------
1.1.12 - Group Settings: Radio buttons, Checkboxes
--------------------------------------------------------------*/
form#group-settings-form input[type=radio],
form#group-settings-form input[type=checkbox] {
    /*float: left;*/
    /*padding-top: 4px;*/
    /* IE fix */
    /*padding-right: 3px;*/
    /* IE fix */
}

.delete-group form#group-settings-form input[type=checkbox] + strong:before {
    top: 6px;
}

form#group-settings-form div.notification-settings label {
    margin-top: 0 !important;
}

form#group-settings-form label span.text {
    margin-left: 5px;
}

form#group-settings-form div.radio > label > label {
    font-weight: 700 !important;
}

form#group-settings-form li {
    margin-left: 0;
}

form#group-settings-form hr {
    display: none;
}

#buddypress form#group-settings-form h4 {
    /* margin: 14px 0 20px 0; */
}

#buddypress form#group-settings-form ul li h5 {
    margin: 0 0 12px;
}

#buddypress form#group-settings-form a.show-options {
    display: none;
}

#buddypress form#group-settings-form ul.item-list > li > span {
    clear: both;
    display: block;
    padding-top: 15px;
}

#buddypress form#group-settings-form ul.item-list > li > span a {
    margin-right: 10px;
}

#buddypress form#send-invite-form div#invite-list ul li {
    list-style: none !important;
    margin: 0 0 16px;
}

#group-settings-form .bp-widget .single-line li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*--------------------------------------------------------------
1.1.13 - Group Create
--------------------------------------------------------------*/
#buddypress div#group-create-tabs {
    width: 100%;
    overflow: visible;
    padding: 20px 0;
}

#buddypress div#group-create-tabs ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    counter-reset: groupNum;
}

#buddypress div#group-create-tabs ul li {
    background-color: transparent;
    color: #333;
    counter-increment: groupNum;
    display: inline-block;
    letter-spacing: 0.02rem;
    line-height: 1;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
}

#buddypress div#group-create-tabs ul li:before {
    background-color: #fff;
    color: #54ae68;
    content: counter(groupNum, decimal);
    display: inline-block;
    transition: all 0.15s ease-in-out 0s;
}

#buddypress div#group-create-tabs ul li a,
#buddypress div#group-create-tabs ul li span {
    display: inline-block;
    margin: 0 10px;
    padding-bottom: 10px;
}

#buddypress div#group-create-tabs ul li a:first-letter,
#buddypress div#group-create-tabs ul li span:first-letter {
    font-size: 0;
    margin-left: -4px;
}

#buddypress div#group-create-tabs ul li:after {
    content: "1";
    color: #c2c2c2;
    font-size: 8px;
    margin-right: 20px;
    font-family: "onesocial" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#buddypress div#group-create-tabs ul li.current a {
    border-bottom: 2px solid;
    color: #333;
}

#buddypress div#group-create-tabs ul > li:last-child:after {
    display: none;
}

#buddypress div#group-create-tabs ul {
    list-style-type: none;
    margin: 0;
    overflow: visible;
}

/*--------------------------------------------------------------
1.1.14 - Item Lists
--------------------------------------------------------------*/
/* #buddypress ul.item-list li div.item-meta {
    margin-left: 60px;
}
#buddypress ul.item-list li div.item-desc {
    margin-left: 60px;
    width: 50%;
}
body.directory #buddypress ul.item-list li div.item-desc {
    margin: 5px 0 0 85px;
} */
/*--------------------------------------------------------------
1.2 - Custom media queries
--------------------------------------------------------------*/
@media screen and (min-width: 1040px) {
    /*--------------------------------------------------------------
    1.2.1 - Item List Tabs
    --------------------------------------------------------------*/
    #buddypress div#subnav.item-list-tabs ul li,
    #buddypress > div[role="navigation"].item-list-tabs ul li,
    #buddypress div:not(#item-nav) > .item-list-tabs ul li,
    #buddypress .dir-form div.item-list-tabs ul li,
    .bp-legacy div#item-body div.item-list-tabs ul li {
        margin-right: 9px;
        margin-bottom: 4px;
    }

    /*--------------------------------------------------------------
    1.2.2 - Sitewide Notices
    --------------------------------------------------------------*/
    div#sitewide-notice {
        padding: 0 30px;
    }

    div#sitewide-notice #message.info p {
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
        margin-bottom: 0;
    }

    /* remove border radius on homepage, to match slideshow square style */
    body.home-page div#sitewide-notice #message.info p {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}
/*--------------------------------------------------------------
1.2.3 - Messages
--------------------------------------------------------------*/
@media screen and (max-width: 880px) {
    #message-threads .thread-options {
        width: 12%;
    }

    #message-threads .thread-from {
        width: 35%;
    }
}
/*--------------------------------------------------------------
1.2.3 - Profile
--------------------------------------------------------------*/
/* @media screen and (max-width: 1100px) {
    #item-posts .entry-post-thumbnail.category-thumb {
        height: 150px;
    }
} */
/*--------------------------------------------------------------
1.2.4 - Profile
--------------------------------------------------------------*/
/* @media screen and (max-width: 1100px) {
    #item-posts .entry-post-thumbnail.category-thumb {
        height: 150px;
    }
} */
/*----------------------------------------------------------------
>>> PLUGINS
----------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - Social Articles
--------------------------------------------------------------*/
body.articles #buddypress div#item-body {
    min-height: 0;
}

#buddypress div#articles-dir-list {
    float: right;
    width: 79%;
}

/*--------------------------------------------------------------
1.2 - BuddyBoss Media
--------------------------------------------------------------*/
#buddyboss-media-add-photo {
    /* position: absolute; */
    /* right: 0; */
    margin-top: 27px;
}

#buddyboss-media-add-photo-button {
    font-size: 12px;
    background-color: transparent;
    padding: 0;
}

#buddyboss-media-add-photo-button:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#buddypress div.buddyboss-media-form-wrapper form {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 18px 0 0;
}

#buddypress div.buddyboss-media-form-wrapper form #message {
    margin-top: 0;
}

#buddypress div.buddyboss-media-form-wrapper form:before {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    text-rendering: auto;
    text-decoration: inherit;
    speak: none;
    display: inline-block;
    line-height: 1;
    content: "\f0d8";
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    color: #f9f9f9;
    position: absolute;
    top: 0;
    left: 0.5em;
}

.post-author .name,
.post-author .entry-date {
    clear: both;
    display: inline-block;
}

.post-author .name {
    min-width: 60%;
}

#buddypress .standard-form .field-visibility-settings-notoggle,
#buddypress .standard-form .field-visibility-settings-toggle {
    margin: 10px 0 40px;
    opacity: 0.7;
}

#whats-new-content.active {
    padding-bottom: 70px !important;
}

.sap-widget .buddyboss-select-inner {
    padding-left: 10px;
}

.sap-widget .buddyboss-select-inner:after {
    border: 0;
    border-left: 1px solid #e1e1e1;
}

@media screen and (max-width: 520px) {
    .site .buddyboss-media-photos-wrap-container {
        max-width: 400px;
    }
}
