/**
 * Theme Name:  Quest
 * Theme URI:   http://pacethemes.com/wordpress-themes/quest/
 * Author:      Pace Themes
 * Author URI:  http://pacethemes.com
 * Description: Your Quest for an awesome WordPress theme ends right here. Quest let's you create the website you need without having any coding knowledge. Quest offers a powerful click, drag and drop page builder to help you create amazing pages to showcase your content while offering a slick user interface therein increasing your user experience. Quest also includes powerful and flexible easy to understand and easy to use customization options to customize the entire layout of your site including background images, colors, typography and so on. Build your site now using Quest - blog, portfolio, eCommerce, magazine, photography and so on, Quest doesn't limit you when it comes to your creativity. Quest is built on the famous bootstrap framework which uses a mobile first approach, this will ensure your site works properly on all mobiles, tablets, laptops and desktops. Theme demo is available at http://demo.pacethemes.com/quest/
 * Version:     1.5.3
 * License:     GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain: quest
 * Domain Path: /languages/
 * Tags:        black, blue, green, gray, orange, red, white, yellow, dark, light, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, fluid-layout, responsive-layout, buddypress, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, photoblogging
 *
 * Quest, like WordPress, is licensed under the GPL.
 * Quest is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
 */
/*---------------------------------------------------------
1.0 Generic Elements
-------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, article {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1.5em;
}

span a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a, a {
  color: #333;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Arial", "sans-serif";
  margin: 0.8em 0;
  line-height: 1.5em;
}

h1 .fa-1x, h1 .fa-2x, h1 .fa-3x, h1 .fa-4x, h1 .fa-5x, h1 .fa-6x, h2 .fa-1x, h2 .fa-2x, h2 .fa-3x, h2 .fa-4x, h2 .fa-5x, h2 .fa-6x, h3 .fa-1x, h3 .fa-2x, h3 .fa-3x, h3 .fa-4x, h3 .fa-5x, h3 .fa-6x, h4 .fa-1x, h4 .fa-2x, h4 .fa-3x, h4 .fa-4x, h4 .fa-5x, h4 .fa-6x, h5 .fa-1x, h5 .fa-2x, h5 .fa-3x, h5 .fa-4x, h5 .fa-5x, h5 .fa-6x, h6 .fa-1x, h6 .fa-2x, h6 .fa-3x, h6 .fa-4x, h6 .fa-5x, h6 .fa-6x {
  font-size: 1em;
  display: inline-block;
  margin-right: 10px;
}

:focus {
  outline: none !important;
}

body {
  line-height: 1.5em;
  font: 13px "Open Sans", "Helvetica", "Arial", "sans-serif";
  color: #6a6767;
  overflow-x: hidden;
}

span a:hover {
  color: #27ae60;
}

h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0.8em 0;
}
h1 a:hover {
  color: #27ae60;
}
h1.heading-404 {
  font-size: 120px;
  line-height: 150px;
  margin: 0;
  text-transform: uppercase;
  color: #9e8f8f;
}

h2 {
  font-size: 20px;
  font-weight: 300;
}
h2 a:hover {
  color: #27ae60;
}
h2.section-head {
  border-top: 1px solid #e5e5e5;
  font-size: 20px;
  padding: 1em 0;
}

h3 {
  font-size: 18px;
  font-weight: 300;
}
h3 a:hover {
  color: #27ae60;
}

h4 {
  font-size: 16px;
  font-weight: 300;
}
h4 a:hover {
  color: #27ae60;
}

h5 {
  font-size: 15px;
  font-weight: 300;
}
h5 a:hover {
  color: #27ae60;
}

h6 {
  font-size: 14px;
  font-weight: 300;
}
h6 a:hover {
  color: #27ae60;
}

p {
  margin-bottom: 1.5em;
}
p:empty {
  display: none;
  margin: 0;
}
p a:hover {
  color: #27ae60;
}

blockquote {
  quotes: none;
}
blockquote:before {
  content: none;
}
blockquote:after {
  content: none;
}
blockquote p {
  line-height: 1.7em;
}
blockquote h1 {
  margin-top: 0;
}
blockquote h2 {
  margin-top: 0;
}
blockquote h3 {
  margin-top: 0;
}
blockquote h4 {
  margin-top: 0;
}
blockquote h5 {
  margin-top: 0;
}
blockquote h6 {
  margin-top: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
  color: #27ae60;
}
a:focus {
  text-decoration: none !important;
}
a .action-icon:hover {
  cursor: pointer;
}
a.tag {
  cursor: pointer;
  display: inline-block;
  background: #504e4e;
  color: #fff;
  padding: 2px 8px;
  margin: 0 8px 8px 0;
  font-size: 12px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
}
a.tag:hover {
  background: #27ae60;
  color: #fff;
}

img {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

ol {
  list-style-type: none;
  margin-bottom: 1.5em;
}

ul {
  list-style-type: none;
  margin-bottom: 1.5em;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

aside {
  display: block;
}

details {
  display: block;
}

figure {
  display: block;
}
figure.wp-caption {
  margin-bottom: 1.5em;
}

figcaption {
  display: block;
}

footer {
  display: block;
}

header {
  display: block;
}

hgroup {
  display: block;
}

menu {
  display: block;
}

nav {
  display: block;
}

section {
  display: block;
}

input {
  margin: 0;
  padding: 0;
  outline: none;
}

textarea {
  outline: none;
}

cite {
  font-style: italic;
  padding-left: 20px;
}

q:before, q:after {
  content: "\201C";
  display: inline-block;
  margin-right: 3px;
}
q:after {
  content: "\201D";
  margin-left: 3px;
}

tt,
kbd,
pre,
code,
samp,
var {
  color: #c7254e;
  background-color: #f9f2f4;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;
  padding: 4px 6px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

pre {
  line-height: 1.7;
  overflow: auto;
  max-width: 100%;
  margin: 20px 0;
  padding: 30px;
  white-space: pre-wrap;
}

pre code {
  padding: 0;
}

abbr,
acronym,
dfn {
  font-size: .95em;
  cursor: help;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px dotted #e5e5e5;
}

details summary {
  font-weight: bold;
  margin-bottom: 22px;
}

details:focus {
  outline: none;
}

mark {
  text-decoration: none;
  background-color: #f3f3f3;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

figure {
  margin: 0;
}

address {
  margin: 15px 0;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 22px;
  border: 0;
  border-top: 1px solid #e5e5e5;
}

ul,
ol {
  margin: 0 0 22px 0;
  padding-left: 20px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 10px;
}

dd {
  margin: 0 22px 22px;
}

table {
  width: 100%;
  margin: 22px 0;
  text-align: left;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  border-left: 0;
}

table caption {
  font-weight: bold;
  margin-bottom: 22px;
}

table th,
table td {
  padding: 6px 10px;
  margin: 0;
}

table th {
  border-left: 1px solid #e5e5e5;
}

table td {
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

table td[valign="top"] {
  vertical-align: top;
}

table td[valign="bottom"] {
  vertical-align: bottom;
}

img {
  max-width: 100%;
  height: auto;
}

.screen-reader-text {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

img.wp-smiley {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: none;
}

.wp-caption {
  font-style: italic;
  line-height: 1.35;
  max-width: 100%;
  margin-bottom: 22px;
  margin-bottom: 2.2rem;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
}

.wp-caption-text {
  font-size: 13px;
  font-size: 1.3rem;
  font-style: italic;
  line-height: 1.35;
}

.wp-caption .wp-caption-text {
  margin: 11px 0;
  margin: 1.1rem 0;
}

embed,
iframe,
object {
  max-width: 100%;
}

div.wp-video-shortcode {
  margin-bottom: 22px;
  margin-bottom: 2.2rem;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.cb {
  clear: both;
}

.center {
  text-align: center;
}

.caret-right {
  border-top: 4px solid transparent;
  border-right: 0;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
}

.mb0 {
  margin-bottom: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.nm {
  margin: 0 !important;
}

.np {
  padding: 0 !important;
}

hr {
  margin: 17px 0 18px;
  height: 0;
  clear: both;
  border: solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
hr.style-two {
  border: 0;
  height: 1px;
  background-image: -o-linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}
hr.fancy {
  border: 0;
  height: 1px;
  background: #e5e5e5;
  background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(#e5e5e5), to(white));
  background-image: -webkit-linear-gradient(left, white, #e5e5e5, white);
  background-image: linear-gradient(to right, white, #e5e5e5, white);
}

.boxed {
  width: 100%;
  margin: 0 auto;
  background: #ddd;
}

.pace-builder-page #content .quest-row {
  padding: 0;
}
.pace-builder-page #content .quest-row > .container, .pace-builder-page #content .quest-row > .container-fluid {
  padding: 0;
}
.pace-builder-page .entry-footer .edit-link {
  display: none;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.bypostauthor {
  position: relative;
}

.sticky {
  position: relative;
}

.gallery-caption {
  position: relative;
}

.col-md-9 .container {
  width: 100%;
}

@media (max-width: 979px) and (min-width: 768px) {
  .sidebar-posts .post-title h5 {
    margin-top: 2px;
  }
}
@media (max-width: 767px) {
  .main-sidebar .search input {
    width: 98%;
  }

  .fixed-header .fixed-header-fix {
    height: 0;
  }

  .pagination.post-pagination i {
    display: none;
  }
  .pagination.post-pagination .next {
    text-align: center;
  }
  .pagination.post-pagination .next .text {
    margin-left: 0;
    margin-right: 0;
  }
  .pagination.post-pagination .next h4 {
    margin-left: 0;
    margin-right: 0;
  }
  .pagination.post-pagination .previous {
    text-align: center;
    border-bottom: 1px dotted #e5e5e5;
  }
  .pagination.post-pagination .previous .text {
    margin-left: 0;
    margin-right: 0;
  }
  .pagination.post-pagination .previous h4 {
    margin-left: 0;
    margin-right: 0;
  }

  #title-container .col-md-6 {
    margin-bottom: 0;
  }
}
/*---------------------------------------------------------
2. Form Elements
-------------------------------------------------------- */
#content textarea,
.wpcf7 textarea, #content select,
.wpcf7 select, #content input[type="text"],
.wpcf7 input[type="text"], #content input[type="password"],
.wpcf7 input[type="password"], #content input[type="datetime"],
.wpcf7 input[type="datetime"], #content input[type="datetime-local"],
.wpcf7 input[type="datetime-local"], #content input[type="date"],
.wpcf7 input[type="date"], #content input[type="month"],
.wpcf7 input[type="month"], #content input[type="time"],
.wpcf7 input[type="time"], #content input[type="week"],
.wpcf7 input[type="week"], #content input[type="number"],
.wpcf7 input[type="number"], #content input[type="email"],
.wpcf7 input[type="email"], #content input[type="url"],
.wpcf7 input[type="url"], #content input[type="search"],
.wpcf7 input[type="search"], #content input[type="tel"],
.wpcf7 input[type="tel"], #content input[type="color"],
.wpcf7 input[type="color"] {
  max-width: 400px;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: 1px solid #e5e5e5;
  padding: 5px;
  margin: 4px 0;
  width: 100%;
  color: #9e8f8f;
  font-family: "Open Sans", "Helvetica", "Arial", "sans-serif";
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: #f5f5f5;
}

#comments .post-comments-form input, #comments .post-comments-form textarea, #comments #post-comments-form input, #comments #post-comments-form textarea {
  display: block;
  margin: 16px 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#comments .post-comments-form textarea, #comments .post-comments-form input[type=text], #comments #post-comments-form textarea, #comments #post-comments-form input[type=text] {
  height: 2.5em;
  border: 1px solid #e5e5e5;
  padding: 5px;
  width: 100%;
  color: #9e8f8f;
  font-family: "Open Sans", "Helvetica", "Arial", "sans-serif";
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: #f5f5f5;
}

#comments .post-comments-form textarea, #comments #post-comments-form textarea {
  height: 10em;
  margin-top: 0;
  max-width: 100%;
}

.button, #submit,
input[type="submit"] {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  margin: 10px 20px 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #27ae60;
  color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.round.button, .round#submit,
input[type="submit"].round {
  -webkit-border-radius: 50px;
          border-radius: 50px;
}

.button:hover, #submit:hover, .wpcf7-submit:hover {
  -webkit-box-shadow: 0 0 5px #1e8449;
  box-shadow: 0 0 5px #1e8449;
  background: #229955;
  color: #fff;
}

#submit:active, .wpcf7-submit:active, .button-:active {
  -webkit-box-shadow: 0 0 #1e8449;
}

#content,
.wpcf7 {
  background-color: #fff;
}
#content textarea,
.wpcf7 textarea {
  height: 10em;
  margin-top: 0;
}
#content textarea:focus,
.wpcf7 textarea:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content select:focus,
.wpcf7 select:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="text"]:focus,
.wpcf7 input[type="text"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="password"]:focus,
.wpcf7 input[type="password"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="datetime"]:focus,
.wpcf7 input[type="datetime"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="datetime-local"]:focus,
.wpcf7 input[type="datetime-local"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="date"]:focus,
.wpcf7 input[type="date"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="month"]:focus,
.wpcf7 input[type="month"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="time"]:focus,
.wpcf7 input[type="time"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="week"]:focus,
.wpcf7 input[type="week"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="number"]:focus,
.wpcf7 input[type="number"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="email"]:focus,
.wpcf7 input[type="email"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="url"]:focus,
.wpcf7 input[type="url"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="search"]:focus,
.wpcf7 input[type="search"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="tel"]:focus,
.wpcf7 input[type="tel"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content input[type="color"]:focus,
.wpcf7 input[type="color"]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#content label,
.wpcf7 label {
  font-weight: bold;
}
#content .quest-row.np:first-child,
.wpcf7 .quest-row.np:first-child {
  padding-top: 30px !important;
}
#content .quest-row.np:last-child,
.wpcf7 .quest-row.np:last-child {
  padding-bottom: 30px !important;
}
#content article.error404 form.search input,
.wpcf7 article.error404 form.search input {
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
  font-size: 1.2em;
  height: 30px;
  color: #9e8f8f;
  width: 97%;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: #f5f5f5;
  max-width: 94%;
}

.wpcf7 {
  background-color: transparent;
}

form.search input {
  padding: 5px;
  width: 100%;
  max-width: none !important;
  color: #9e8f8f;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: #f5f5f5;
}
form.search input:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
form.search .text {
  position: relative;
}
form.search .fa-search {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: none;
  color: #888;
  border: none;
  overflow: hidden;
  vertical-align: middle;
  padding: 0;
  right: 0;
  top: 5px;
}
form.search .fa-search:hover {
  color: #504e4e;
}
form.search .fa-search:before {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.post-password-form {
  width: 100%;
  max-width: 1170px;
  margin: 30px auto;
  padding: 0 15px;
  text-align: center;
}

.button {
  margin: 5px 5px 5px 0;
  padding: 0.85em 1.4em;
}
.button.small {
  font-size: 0.8em;
}
.button.big {
  font-size: 1em;
}
.button.large {
  font-size: 1.4em;
}

.button.light {
  background: transparent;
  color: #efefef;
  border: 2px solid #efefef;
}
.button.light:hover, .button.light:focus, .button.light:active {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-color: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.button.dark {
  background: transparent;
  color: #444;
  border: 2px solid #444;
}
.button.dark:hover, .button.dark:focus, .button.dark:active {
  background: rgba(0, 0, 0, 0.1);
  color: #222;
  border-color: #222;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.wpcf7-submit {
  margin: 5px 5px 5px 0 !important;
  padding: 10px 16px !important;
}

/*---------------------------------------------------------
3. Menu
-------------------------------------------------------- */
.transparent-header {
  position: relative;
}
.transparent-header .page-builder .quest-row:first-of-type, .transparent-header .page-builder .pt-pb-section:first-of-type {
  padding-top: 0 !important;
}
.transparent-header .page-builder .quest-row:first-of-type .container:first-of-type,
.transparent-header .page-builder .quest-row:first-of-type .container-fluid:first-of-type, .transparent-header .page-builder .pt-pb-section:first-of-type .container:first-of-type,
.transparent-header .page-builder .pt-pb-section:first-of-type .container-fluid:first-of-type {
  padding-top: 10px;
}

.transparent-header .main-header {
  background-color: transparent !important;
  border-color: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.transparent-header .main-header.sticky {
  background-color: #fafafa !important;
}

.transparent-header .main-header,
.transparent-header .main-header a,
.transparent-header .main-header .main-navigation .nav > li > a {
  color: #f5f5f5;
}

.transparent-header .main-header a:hover,
.transparent-header .main-header .main-navigation .nav > li > a:hover,
.transparent-header .main-header .main-navigation .nav > li.current-menu-item > a,
.transparent-header .main-header .main-navigation .nav > li.current-menu-parent > a {
  color: #ffffff;
}

.transparent-header .secondary-header {
  display: none;
}

@media (max-width: 767px) {
  .transparent-header .main-header .main-navigation .navbar-collapse {
    background-color: #f8f8f8;
  }

  .transparent-header .main-header .main-navigation .navbar-collapse .nav {
    border-color: #e5e5e5;
  }

  .transparent-header .main-header .main-navigation .nav > li > a {
    color: #333;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-navigation .nav {
    line-height: 66px !important;
  }
}
.main-navigation .nav .dropdown-menu li:hover > a, .main-navigation .nav .dropdown-menu li:focus > a, .main-navigation .nav .dropdown-menu li.current-menu-item a, .main-navigation .nav .dropdown-menu li.current-menu-ancestor > a {
  background: #fff;
  background-image: none;
  border-top: none !important;
}

.main-header.mobile .logo-container, .main-header.mobile .menu-container {
  float: none !important;
  margin-bottom: 20px;
  width: 100%;
}

.main-navigation {
  text-align: center;
}
.main-navigation .nav {
  line-height: 66px;
}
.main-navigation .nav .sub-arrow {
  margin-top: 3px !important;
  margin-right: 8px;
}
.main-navigation .nav .dropdown-menu {
  padding: 0;
  background-color: #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  width: auto;
  min-width: 10em;
  max-width: 20em;
}
.main-navigation .nav .dropdown-menu li a {
  line-height: 2.5em;
  padding: 0 25px;
  font-size: 13px;
}
.main-navigation .nav .dropdown-menu .sub-arrow {
  margin-top: 13px !important;
}
.main-navigation .nav .dropdown-menu .dropdown-menu {
  top: 0 !important;
  margin-top: 2px !important;
}
.main-navigation .nav .open > a {
  background-color: transparent;
}
.main-navigation .nav .open > a:hover {
  background-color: transparent;
}
.main-navigation .nav .open > a:focus {
  background-color: transparent;
}
.main-navigation .nav #menu-item-search a {
  padding: 0 15px;
}
.main-navigation .nav .cart-menu-first.cart-menu {
  padding: 0 15px;
}
.main-navigation .nav > li {
  line-height: inherit;
  border-top: 3px solid transparent;
}
.main-navigation .nav > li > a {
  font-size: 14px;
  line-height: inherit;
  padding: 0 7.5px;
}
.main-navigation .nav > li > a:hover {
  background-color: transparent;
}
.main-navigation .nav > li > a:focus {
  background-color: transparent;
}
.main-navigation .navbar-toggle {
  position: absolute;
  top: -65px;
  right: 0;
  line-height: 1em;
  cursor: pointer;
}
.main-navigation .navbar-toggle .fa {
  font-size: 24px;
}
.main-navigation .navbar-toggle .menu-text {
  display: none;
}
.main-navigation .navbar-toggle.alt {
  float: none;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  font-size: 18px;
  position: relative;
  margin: 0;
  color: #fff;
  -webkit-border-radius: 0;
          border-radius: 0;
}
.main-navigation .navbar-toggle.alt .fa {
  font-size: 20px;
  position: absolute;
  right: 9px;
  top: 9px;
}
.main-navigation .navbar-toggle.alt .menu-text {
  display: block;
}
.main-navigation .navbar-collapse {
  border-top: none;
  padding-right: 0;
}
.main-navigation .cart-menu-dropdown {
  line-height: 1.5em !important;
}
.main-navigation .cart-menu-dropdown ul {
  border: none !important;
}
.main-navigation ul > li ul {
  border: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  body:not(.sidebar-header) .main-navigation .nav .dropdown-menu {
    opacity: 0;
    -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
            transform: translateY(40px);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  body:not(.sidebar-header) .main-navigation .nav .dropdown-menu.awake {
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }

  .navbar-right > ul.dropdown-menu {
    left: auto !important;
    right: 0;
  }
}
.site-branding {
  padding-top: 6px;
  padding-bottom: 6px;
}
.site-branding img {
  max-height: 100%;
}

@media (min-width: 992px) {
  .navbar-nav {
    float: right;
  }
}
@media (max-width: 991px) {
  .site-branding,
  .main-navigation {
    text-align: center;
    margin-bottom: 0;
    float: none;
    width: 100%;
  }
  .site-branding .nav,
  .main-navigation .nav {
    float: none !important;
    text-align: center;
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .main-navigation {
    margin-bottom: 20px;
  }
  .main-navigation .navbar-collapse {
    padding: 0;
  }
  .main-navigation .nav {
    padding: 0 15px;
    border-top: none;
    line-height: 48px !important;
    display: block;
    text-align: left;
    margin: 0;
  }
  .main-navigation .nav > li > a {
    text-align: left;
  }
  .main-navigation .nav .dropdown-menu {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
#menu-item-search .dropdown-menu {
  right: 1px !important;
  left: auto !important;
  border-top: 1px solid #e5e5e5 !important;
  padding: 12px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #e5e5e5;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#menu-item-search .dropdown-menu li {
  border-bottom: none !important;
}
#menu-item-search .sub-arrow, #menu-item-search .caret {
  display: none !important;
}
#menu-item-search form {
  line-height: 1em;
}
#menu-item-search form .arrow-up:after {
  right: 11px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #fff;
  border-width: 10px;
  top: -20px;
}
#menu-item-search form .arrow-up:before {
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #e5e5e5;
  border-width: 11px;
  top: -23px;
}
#menu-item-search form input {
  -webkit-border-radius: 0;
          border-radius: 0;
  width: 250px;
  padding: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  margin-bottom: 0;
  line-height: 1.5em;
}
#menu-item-search form input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#menu-item-search .fa-search {
  font-size: 16px;
  top: 0px;
}
#menu-item-search a {
  border-color: transparent;
}
#menu-item-search a:hover {
  border-color: transparent;
}
#menu-item-search a.active-icon {
  background: #27ae60;
  color: #fff;
}

.col-md-12.menu-container > .main-navigation > div {
  text-align: center;
}
.col-md-12.menu-container > .main-navigation > div > ul {
  display: inline-block;
  text-align: left;
  float: none !important;
}

@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
/*---------------------------------------------------------
4. Header
-------------------------------------------------------- */
.site-title {
  margin: 10px 0;
}

.site-description {
  display: block;
  margin-bottom: 10px;
}

.main-header {
  z-index: 10000;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  width: inherit;
}
.main-header.mobile .logo-container .logo {
  text-align: center;
}
.main-header.mobile .menu-container {
  margin-bottom: 40px;
}
.main-header.mobile .menu-container .logo {
  text-align: center;
}

.logo {
  margin: 0;
  text-align: left;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}
.logo .retina {
  display: none;
}

.csstransitions .logo img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.csstransitions .logo-center .logo img, .csstransitions .header-version2 .site-branding .logo img {
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

@media (max-width: 991px) {
  .logo {
    text-align: center !important;
  }

  .csstransitions .logo img {
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
}
@media (max-width: 480px) {
  .col-md-3 .logo {
    text-align: center;
    padding: 0;
  }
}
@media (min-width: 2500px) {
  .logo .normal {
    display: none;
  }
  .logo .retina {
    display: block;
  }
}
.col-md-12 .logo {
  text-align: center;
}

@media (max-width: 767px) {
  .site-branding .logo,
  .site-branding .site-title,
  .site-branding .site-description {
    text-align: center !important;
  }
}
@media (max-width: 480px) {
  .main-header {
    border-bottom: none;
  }
}
.secondary-header {
  border-top: 2px solid #27ae60;
  border-bottom: 1px solid #e5e5e5;
}
.secondary-header .callout {
  height: 30px;
}
.secondary-header .callout p {
  margin: 6px 5px;
  font-size: 12px;
}
.secondary-header .social-icon-container {
  margin: 2px 0;
  text-align: right;
}
.secondary-header .social-icon-container ul {
  padding: 0 5px 0 0;
}
.secondary-header .social-icon-container .social-icon {
  font-size: 14px;
  width: 24px;
  line-height: 24px;
}
.secondary-header .search-form {
  margin-top: 2.5px;
}
.secondary-header .search-form .text {
  text-align: right;
  width: 200px;
  float: right;
}
.secondary-header .search-form form.search input {
  padding: 2px 5px;
  font-size: 12px;
  line-height: 20px;
  height: 22px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.secondary-header .search-form .fa-search {
  top: -3px;
  right: -3px;
}
.secondary-header .row > .social-icon-container:first-child {
  text-align: left;
}
.secondary-header .row > .search-form:first-child .text {
  float: none;
}
.secondary-header .row > .callout:last-child {
  text-align: right;
}

@media (max-width: 991px) {
  .secondary-header .callout,
  .secondary-header .social-icon-container,
  .secondary-header .search-form {
    width: 100%;
    float: none;
    text-align: center !important;
    margin-bottom: 10px;
    height: auto;
  }
  .secondary-header .callout p,
  .secondary-header .social-icon-container p,
  .secondary-header .search-form p {
    margin-bottom: 0;
  }
  .secondary-header .search-form .text {
    float: none;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
  }
}
/*---------------------------------------------------------
5. Content
-------------------------------------------------------- */
.entry-content blockquote, .action {
  background-color: #f5f5f5;
  padding: 2em;
  margin-bottom: 3em;
  -webkit-box-shadow: 0 8px 6px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 6px -7px rgba(0, 0, 0, 0.3);
  border-left: 2px solid #27ae60;
}

a .action-icon {
  text-align: center;
  display: inline-block;
  background: #f5f5f5;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  font-size: 1em;
  width: 21px;
  height: 21px;
  line-height: 21px;
  position: relative;
  color: #fff;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.flexslider .slides {
  padding-left: 0;
}

.arrow-container .left-arrow-small, .arrow-container .right-arrow-small {
  width: 25px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  float: left;
  margin-right: 10px;
  text-align: center;
}

article.post-normal .post-image-dummy, article.page .post-image-dummy, .post .post-image-dummy, .post-half .post-image-dummy {
  background: #fff;
  height: 191px;
  border: 1px solid #e5e5e5;
}

.post-grid-wrap {
  width: 100%;
  padding: 0 15px;
  float: left;
}
.post-grid-wrap .effect {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .post-grid-wrap {
    width: 50%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .post-grid-wrap {
    width: 33.33%;
  }
}
/* Large devices (large desktops, 1200px and up) */
.post-grid {
  border: 1px solid #e5e5e5;
  background: #f5f5f5;
  padding: 0 0 15px;
  overflow: hidden;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 4px -2px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 3px 4px -2px;
}
.post-grid h1.post-title {
  text-align: center;
  margin: 10px 18px !important;
}
.post-grid .entry-meta {
  text-align: center;
}

.post-grid .post-image {
  overflow: hidden;
  margin-top: 0;
  position: relative;
}

.post-grid .post-image a:hover img {
  opacity: 1;
}

.post-grid h1 {
  margin-top: 16px;
  margin-bottom: 5px;
  font-size: 20px;
}

.pagination.post-pagination .next i, .pagination.post-pagination .previous i {
  position: absolute;
  font-size: 24px;
  top: 10px;
  left: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.entry-content table {
  display: table;
  border-collapse: separate;
  border-color: #e5e5e5;
}

.entry-content tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.entry-content tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.entry-content ul ul, .entry-content ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 1.5em;
}

.entry-content ul ol, .entry-content ol ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 1.5em;
}

article {
  display: block;
}
article.post-normal {
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;
}
article.post-normal:first-child {
  padding-top: 0;
}
article.post-normal h1 {
  margin: 15px 0 20px;
  text-align: left;
}
article.post-normal .entry-meta {
  color: #9d9a9a;
}
article.post-normal .entry-meta .seperator {
  margin: 0 5px;
}
article.post-normal .post-image img {
  width: 100%;
  max-width: 100% !important;
}
article.page h1 {
  margin: 15px 0 20px;
  text-align: left;
}
article.page .entry-meta {
  color: #9d9a9a;
}
article.page .entry-meta .seperator {
  margin: 0 2px;
}
article.page .post-image img {
  width: 100%;
  max-width: 100% !important;
}
article.error404 form.search .text {
  position: relative;
}
article.error404 form.search .fa-search {
  position: absolute;
  width: 30px;
  height: 30px;
  background: none;
  color: #888;
  border: none;
  overflow: hidden;
  vertical-align: middle;
  padding: 0;
  right: 15px;
  top: 8px;
  font-size: 30px;
}
article.error404 form.search .fa-search:hover {
  color: #504e4e;
}
article.error404 form.search input:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
article.error404 h2 {
  margin: 50px 0;
}

.boxed,
#title-container {
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center center !important;
}

#title-container {
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  padding: 30px 0;
}
#title-container h3 {
  margin: 0;
}
#title-container ul {
  margin: 0;
}
#title-container ul li {
  display: inline-block;
  margin-right: 5px;
  font-size: 11px;
}
#title-container ul li:after {
  content: '/';
}
#title-container ul li a {
  padding-right: 5px;
  font-size: 11px;
}
#title-container ul li:last-child:after {
  content: none;
}

@media (min-width: 1200px) {
  .boxed {
    width: 1200px;
  }
}
@media (min-width: 992px) {
  #title-container {
    text-align: left;
  }
  #title-container ul {
    float: right;
  }
}
@media (max-width: 991px) {
  #title-container .col-md-6 {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boxed {
    width: 992px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .boxed {
    width: 768px;
  }
}
.boxed #page {
  -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  position: relative;
  width: inherit;
}

.quest-row {
  padding: 30px 0;
  border-style: solid;
}
.quest-row.slider-row {
  padding: 0;
}
.quest-row#content {
  padding-bottom: 30px !important;
}
.quest-row.post-list .post-normal {
  margin-bottom: 30px;
}
.quest-row .quest-row:first-child {
  padding-top: 10px;
}

.row.v-align-top, .row.v-align-middle, .row.v-align-bottom {
  display: table;
}
.row.v-align-top > div[class*='col-'], .row.v-align-middle > div[class*='col-'], .row.v-align-bottom > div[class*='col-'] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}
.row.v-align-top > div[class*='col-'] {
  vertical-align: top;
}
.row.v-align-bottom > div[class*='col-'] {
  vertical-align: bottom;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

[class*='col-'] {
  border-style: solid;
}

@media (max-width: 991px) {
  .row.v-align-top > div[class*='col-'], .row.v-align-middle > div[class*='col-'], .row.v-align-bottom > div[class*='col-'] {
    display: block;
  }
}
.entry-content {
  margin: 0;
}
.entry-content .page-links {
  font-weight: bold;
}
.entry-content blockquote {
  margin: 2em;
}
.entry-content blockquote p {
  margin: 1em 0 0;
  font-size: 1em;
  margin: 0;
}
.entry-content blockquote p cite {
  display: block;
  font-style: italic;
}
.entry-content .entry-meta {
  margin-bottom: 5px;
}
.entry-content td {
  display: table-cell;
  vertical-align: inherit;
}
.entry-content th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
}
.entry-content ul {
  list-style-position: inside;
  margin-bottom: 10px;
}
.entry-content ul li {
  list-style-type: disc;
  margin-bottom: 5px;
}
.entry-content ul ul li {
  list-style-type: circle;
}
.entry-content ul ul ul li {
  list-style-type: square;
}
.entry-content ul ol ul li {
  list-style-type: square;
}
.entry-content ul ol li {
  list-style-type: decimal;
}
.entry-content ol {
  list-style-position: inside;
  margin-bottom: 0;
}
.entry-content ol li {
  list-style-type: decimal;
}
.entry-content ol ul li {
  list-style-type: circle;
}
.entry-content ol ul ul li {
  list-style-type: square;
}
.entry-content ol ul ol li {
  list-style-type: decimal;
}
.entry-content ol ol ul li {
  list-style-type: square;
}
.entry-content .alert {
  margin-bottom: 20px;
  padding-bottom: 14px;
  padding-top: 14px;
  padding-right: 25px;
}
.entry-content .alert strong {
  color: #c09853;
}
.entry-content .alert p {
  margin-bottom: 0;
}
.entry-content .alert .close {
  padding-right: 5px;
}
.entry-content .quest-row:last-child {
  padding-bottom: 0;
}

.slider {
  margin: 0 auto 2em auto;
}

.action {
  margin-left: 1em;
  margin-right: 1em;
}
.action p {
  margin: 1em 0 0;
  font-size: 1em;
}
.action.noborder {
  border: none;
}

.hover-icon {
  text-align: center;
}
.hover-icon a.fa {
  display: inline-block;
  cursor: pointer;
  margin-top: 15px;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  background: #fff;
  color: #27ae60;
  -webkit-box-shadow: 0 0 0 4px #27ae60;
          box-shadow: 0 0 0 4px #27ae60;
  overflow: hidden;
  -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  -webkit-transition: background 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.hover-icon a.fa:before {
  font-size: 30px;
  line-height: 60px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.hover-icon a.fa:hover {
  background: #27ae60;
  color: #fff;
  -webkit-box-shadow: 0 0 0 8px #27ae60;
          box-shadow: 0 0 0 8px #27ae60;
}
.hover-icon a.fa:hover:before {
  -webkit-animation: toRightFromLeft 0.3s forwards;
  animation: toRightFromLeft 0.3s forwards;
}
.hover-icon a.fa.from-right:hover:before {
  -webkit-animation: toLeftFromRight 0.3s forwards;
  animation: toLeftFromRight 0.3s forwards;
}
.hover-icon a.fa.from-top:hover:before {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}
.hover-icon a.fa.from-bottom:hover:before {
  -webkit-animation: toTopFromBottom 0.3s forwards;
  animation: toTopFromBottom 0.3s forwards;
}
.hover-icon a.fa.rotate:hover:before {
  -webkit-animation: spinAround 2s linear infinite;
  animation: spinAround 2s linear infinite;
}
.hover-icon a.fa.fa-1x {
  width: 28px;
  height: 28px;
}
.hover-icon a.fa.fa-1x:before {
  font-size: 16px;
  line-height: 28px;
}
.hover-icon a.fa.fa-2x {
  width: 45px;
  height: 45px;
}
.hover-icon a.fa.fa-2x:before {
  font-size: 22px;
  line-height: 45px;
}
.hover-icon a.fa.fa-4x {
  width: 80px;
  height: 80px;
}
.hover-icon a.fa.fa-4x:before {
  font-size: 42px;
  line-height: 80px;
}
.hover-icon a.fa.fa-5x {
  width: 100px;
  height: 100px;
}
.hover-icon a.fa.fa-5x:before {
  font-size: 54px;
  line-height: 100px;
}

.feature-box .icon-wrap {
  float: left;
  margin-top: 5px;
}
.feature-box .feature-box-title {
  margin-top: 0;
  margin-bottom: 15px;
}
.feature-box p:last-child {
  margin-bottom: 0;
}
.feature-box.size-1 .feature-box-content {
  margin-left: 35px;
}
.feature-box.size-2 .feature-box-content {
  margin-left: 55px;
}
.feature-box.size-3 .feature-box-content {
  margin-left: 75px;
}
.feature-box.size-4 .feature-box-content {
  margin-left: 95px;
}
.feature-box.size-5 .feature-box-content {
  margin-left: 115px;
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toLeftFromRight {
  49% {
    -webkit-transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toLeftFromRight {
  49% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*********************
    Image Effects
*********************/
.effect {
  position: relative;
}

.effect img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}

a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff !important;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.slide-top .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.slide-top .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slide-top .overlay a.expand:hover,
.slide-top .overlay a.expand:focus {
  color: #fff !important;
  text-decoration: none;
}

.slide-top.hover .overlay {
  opacity: 1;
}

.slide-top.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}

.effect {
  text-align: center;
}

.effect .caption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent !important;
}

.effect .caption:before,
.effect .caption:after {
  pointer-events: none;
}

.effect .caption a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.effect .caption h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 1.2em;
}

.effect .caption p {
  letter-spacing: 1px;
  font-size: 68.5%;
  margin: 0;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

@-webkit-keyframes rotateScale {
  0% {
    -webkit-transform: rotate(-175deg) scale(0.2);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
  }
}
@keyframes rotateScale {
  0% {
    -webkit-transform: rotate(-175deg) scale(0.2);
            transform: rotate(-175deg) scale(0.2);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}
.quest-gallery {
  text-align: center;
}
.quest-gallery .quest-gallery-thumb {
  display: block;
  margin: 10px;
  position: relative;
}
.quest-gallery .quest-gallery-thumb img {
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.quest-gallery .quest-gallery-thumb .overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.quest-gallery .quest-gallery-thumb .overlay .image-title {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 0 10px;
  letter-spacing: 0.75px;
}
.quest-gallery .quest-gallery-thumb .fa {
  font-size: 24px;
  color: #fff;
  background: #27ae60;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}
.quest-gallery .quest-gallery-thumb:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.quest-gallery .quest-gallery-thumb:hover .overlay {
  opacity: 0.7;
}
.quest-gallery .quest-gallery-thumb:hover .overlay .fa {
  -webkit-animation: rotateScale 0.8s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: rotateScale 0.8s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.quest-gallery .quest-gallery-thumb:focus {
  outline: none;
}
.quest-gallery .quest-gallery-thumb > .overlay {
  padding-top: 30%;
}
.quest-gallery.rounded img,
.quest-gallery.rounded span {
  -webkit-border-radius: 150px;
          border-radius: 150px;
}
.quest-gallery.no-pad .quest-gallery-thumb-wrap {
  padding: 0 !important;
}

.quest-gallery.rounded .quest-gallery-thumb-wrap .quest-gallery-thumb {
  -webkit-border-radius: 1000px;
          border-radius: 1000px;
}

.quest-gallery-thumb-wrap {
  float: left;
}
.quest-gallery-thumb-wrap .quest-gallery-thumb {
  display: block;
  overflow: hidden;
  z-index: 1;
  position: relative;
  margin: 0;
}
.quest-gallery-thumb-wrap .quest-gallery-thumb img {
  width: 100%;
  max-width: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.quest-gallery-thumb-wrap .quest-gallery-thumb:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.quest-gallery.two-col {
  margin: 20px -15px;
}
.quest-gallery.two-col .quest-gallery-thumb-wrap {
  width: 50%;
  padding: 15px;
}
.quest-gallery.two-col .quest-gallery-thumb .fa {
  width: 120px;
  height: 120px;
  line-height: 120px;
  font-size: 60px;
  -webkit-border-radius: 120px;
          border-radius: 120px;
}
.quest-gallery.two-col .image-title {
  font-size: 2.2em;
  top: 50%;
}

.quest-gallery.three-col {
  margin: 20px -10px;
}
.quest-gallery.three-col .quest-gallery-thumb-wrap {
  width: 33.333%;
  padding: 10px;
}
.quest-gallery.three-col .quest-gallery-thumb .fa {
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 45px;
  -webkit-border-radius: 90px;
          border-radius: 90px;
}
.quest-gallery.three-col .image-title {
  font-size: 1.8em;
  top: 50%;
}

.quest-gallery.four-col {
  margin: 20px -8px;
}
.quest-gallery.four-col .quest-gallery-thumb-wrap {
  width: 25%;
  padding: 8px;
}
.quest-gallery.four-col .quest-gallery-thumb .fa {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  -webkit-border-radius: 60px;
          border-radius: 60px;
}
.quest-gallery.four-col .image-title {
  font-size: 1.5em;
  top: 50%;
}

.quest-gallery.five-col {
  margin: 20px -6px;
}
.quest-gallery.five-col .quest-gallery-thumb-wrap {
  width: 20%;
  padding: 6px;
}
.quest-gallery.five-col .quest-gallery-thumb .fa {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  -webkit-border-radius: 40px;
          border-radius: 40px;
}
.quest-gallery.five-col .image-title {
  font-size: 1.2em;
  top: 50%;
}

.quest-gallery.six-col {
  margin: 20px -5px;
}
.quest-gallery.six-col .quest-gallery-thumb-wrap {
  width: 16.6666%;
  padding: 5px;
}
.quest-gallery.six-col .quest-gallery-thumb .fa {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}
.quest-gallery.six-col .image-title {
  font-size: 1em;
  top: 50%;
}

@media (max-width: 420px) {
  .quest-gallery.two-col,
  .quest-gallery.three-col,
  .quest-gallery.four-col,
  .quest-gallery.five-col,
  .quest-gallery.six-col {
    margin: 20px -10px;
  }
  .quest-gallery.two-col .quest-gallery-thumb-wrap,
  .quest-gallery.three-col .quest-gallery-thumb-wrap,
  .quest-gallery.four-col .quest-gallery-thumb-wrap,
  .quest-gallery.five-col .quest-gallery-thumb-wrap,
  .quest-gallery.six-col .quest-gallery-thumb-wrap {
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .quest-gallery.two-col,
  .quest-gallery.three-col,
  .quest-gallery.four-col,
  .quest-gallery.five-col,
  .quest-gallery.six-col {
    margin: 20px -10px;
  }
  .quest-gallery.two-col .quest-gallery-thumb-wrap,
  .quest-gallery.three-col .quest-gallery-thumb-wrap,
  .quest-gallery.four-col .quest-gallery-thumb-wrap,
  .quest-gallery.five-col .quest-gallery-thumb-wrap,
  .quest-gallery.six-col .quest-gallery-thumb-wrap {
    width: 50%;
    padding: 10px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  .quest-gallery.two-col,
  .quest-gallery.three-col,
  .quest-gallery.four-col,
  .quest-gallery.five-col,
  .quest-gallery.six-col {
    margin: 20px -10px;
  }
  .quest-gallery.two-col .quest-gallery-thumb-wrap,
  .quest-gallery.three-col .quest-gallery-thumb-wrap,
  .quest-gallery.four-col .quest-gallery-thumb-wrap,
  .quest-gallery.five-col .quest-gallery-thumb-wrap,
  .quest-gallery.six-col .quest-gallery-thumb-wrap {
    width: 50%;
    padding: 10px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  .quest-gallery.two-col,
  .quest-gallery.three-col,
  .quest-gallery.four-col,
  .quest-gallery.five-col,
  .quest-gallery.six-col {
    margin: 20px -10px;
  }
  .quest-gallery.two-col .quest-gallery-thumb-wrap,
  .quest-gallery.three-col .quest-gallery-thumb-wrap,
  .quest-gallery.four-col .quest-gallery-thumb-wrap,
  .quest-gallery.five-col .quest-gallery-thumb-wrap,
  .quest-gallery.six-col .quest-gallery-thumb-wrap {
    width: 33.33%;
    padding: 10px;
  }
}
.read-more {
  margin: 0 30px 0 0;
  text-align: right;
}
.read-more a {
  position: relative;
}
.read-more a .fa-angle-double-right {
  position: absolute;
  left: 108%;
  top: 3px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.read-more a:hover > .fa-angle-double-right {
  left: 115%;
}

.arrow-container {
  float: right;
  margin-top: 10px;
}
.arrow-container a {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: bolder;
}
.arrow-container a:hover {
  color: #fff;
}

.tags.action {
  width: 80%;
  border-left: none;
  margin: 2em auto;
}

.contact-icon {
  font-size: 16px;
  margin-right: 5px;
}
.contact-icon.fa-mobile-phone {
  font-size: 160%;
}
.contact-icon.fa-envelope-alt {
  font-size: 95%;
}

.post-grid .sticky-label {
  margin: 15px 0 5px;
  text-align: center;
}

.sticky-post-label {
  padding: 5px 10px;
  background: #1e73be;
  color: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 1.1em;
}

.post h1 {
  margin: 15px 0 20px;
  text-align: left;
}
.post h1.post-title {
  margin-top: 5px;
  margin-bottom: 5px;
}
.post .entry-meta {
  color: #9d9a9a;
  margin-bottom: 1em;
}
.post .entry-meta .seperator {
  margin: 0 2px;
}
.post .post-image img {
  width: 100%;
}

.post-half {
  margin: 30px 0;
}
.post-half h1 {
  margin: 15px 0 20px;
  text-align: left;
  margin: 5px 0;
}
.post-half h1.post-title {
  margin-top: 5px;
  margin-bottom: 5px;
}
.post-half .entry-meta {
  color: #9d9a9a;
}
.post-half .entry-meta .seperator {
  margin: 0 2px;
}
.post-half .post-image {
  float: left;
  width: 45%;
  margin-right: 2em;
  margin-bottom: 12px;
  margin-top: 0;
}
.post-half .post-image img {
  width: 100%;
}
.post-half .post-image a:hover img {
  opacity: 0.4;
}
.post-half .post-image a:hover .fa-search {
  opacity: 0.8;
  -webkit-transform: translateY(0);
}
.post-half .post-image a:hover .fa-minus-sign {
  opacity: 0;
}
.post-half .entry-content {
  margin: 10px 0;
  clear: none;
}
.post-half .fa-minus-sign {
  -webkit-transition: all 0.3s;
}

/* Clearfix */
.entry-content:before, .entry-content:after,
.gallery:before,
.gallery:after {
  content: ' ';
  display: table;
}
.entry-content:after,
.gallery:after {
  clear: both;
}

.blog-normal img {
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.blog-normal a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.post-image {
  width: 100%;
  margin: 5px 0;
  border: none;
  position: relative;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
.post-image .empty-image {
  background: #e5e5e5;
}
.post-image a .more-icon {
  position: absolute;
  -webkit-transform: translateY(-10px);
  top: 42%;
  left: 46%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  font-size: 18px;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
}
.post-image a:hover {
  color: #504e4e;
}
.post-image a:hover .more-icon {
  opacity: 0.9;
  -webkit-transform: translateY(0);
}
.post-image .fa-minus-sign {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 48px;
}

.post-grid .post-image a img {
  -webkit-transition: all 0.5s;
}
.post-grid .entry-meta {
  margin: 0 18px;
}
.post-grid .entry-content {
  margin: 0 18px;
}
.post-grid h1 {
  margin: 0 18px;
}
.post-grid.animate {
  -webkit-transform: translateY(200px);
  -ms-transform: translateY(200px);
      transform: translateY(200px);
  -webkit-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards;
}

.post-normal .post-image {
  margin-bottom: 12px;
}
.post-normal h1 {
  margin: 5px 0;
}

.single .post-normal {
  padding: 0;
  border-bottom: none;
}

#article-container {
  position: relative;
  margin-top: 1.5em;
}

.post-date {
  color: #9d9a9a;
  font-size: 11px;
  line-height: 11px;
}
.post-date i {
  margin-right: 5px;
}

.pagination a {
  color: #27ae60;
}
.pagination .current {
  color: #fff;
}
.pagination.post-pagination {
  display: block;
  text-align: left;
  padding: 2em 0 0;
  margin-bottom: 0;
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
}
.pagination.post-pagination h4 {
  margin-top: 5px;
}
.pagination.post-pagination a {
  border: none;
  font-size: 18px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  color: #333;
}
.pagination.post-pagination a:hover {
  border: none;
  color: #27ae60;
}
.pagination.post-pagination a:hover .previous i {
  left: 0;
}
.pagination.post-pagination a:hover .next i {
  right: 0;
}
.pagination.post-pagination a .text {
  text-transform: uppercase;
  font-size: 13px;
}
.pagination.post-pagination a h4 {
  font-size: 18px;
}
.pagination.post-pagination .next {
  text-align: right !important;
  position: relative;
}
.pagination.post-pagination .next i {
  top: 10px;
  left: auto;
  right: 8px;
}
.pagination.post-pagination .next .text {
  margin-left: 40px;
  margin-left: 0;
  margin-right: 40px;
}
.pagination.post-pagination .next h4 {
  margin-left: 40px;
  margin-left: 0;
  margin-right: 40px;
  text-align: right !important;
}
.pagination.post-pagination .previous {
  position: relative;
  text-align: left !important;
}
.pagination.post-pagination .previous .text {
  margin-left: 40px;
}
.pagination.post-pagination .previous h4 {
  margin-left: 40px;
  text-align: left !important;
}
.pagination .fa-angle-double-left {
  font-size: 12px;
}
.pagination .fa-angle-double-right {
  font-size: 12px;
}

.post-categories,
.post-tags {
  margin-bottom: 5px;
  padding-left: 5px;
}
.post-categories:before,
.post-tags:before {
  display: inline-block;
  font: 14px FontAwesome;
  content: "\f15b";
  color: #9d9a9a;
  margin-right: 10px;
}
.post-categories li,
.post-tags li {
  display: inline-block;
}
.post-categories li a:after,
.post-tags li a:after {
  display: inline-block;
  content: '/';
  padding: 0 2px 0 5px;
}
.post-categories li:last-child a:after,
.post-tags li:last-child a:after {
  display: none;
}

.post-tags:before {
  content: "\f02b";
}

.entry-footer .fa {
  position: relative;
  top: 19px;
}

.alignleft {
  float: left;
  display: block;
  margin-right: 1em;
}

.alignright {
  float: right;
  display: block;
  margin-left: 1em;
}

.wp-caption-text {
  text-align: center;
}

.onehalf {
  float: left;
  padding: 0 20px 0 0;
  width: 50%;
}

.onethird {
  float: left;
  padding: 0 20px 0 0;
  width: 33.3%;
}

.twothird {
  float: left;
  padding: 0 20px 0 0;
  width: 66.6%;
}

.onefourth {
  float: left;
  padding: 0 20px 0 0;
  width: 25%;
}

.twofourth {
  float: left;
  padding: 0 20px 0 0;
  width: 50%;
}

.threefourth {
  float: left;
  padding: 0 20px 0 0;
  width: 68%;
}

.message {
  background-color: #ffffe0;
  border: 1px solid #e6db55;
  margin: 5px 0 15px;
  padding: .6em;
  width: 60%;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.bg-section {
  padding: 2em 0;
  overflow: hidden;
  background-color: #1a1a1a;
  -webkit-box-shadow: inset 0 0 22px -10px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 22px -10px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-attachment: fixed;
}
.bg-section h1 {
  text-shadow: none;
}
.bg-section h2 {
  text-shadow: none;
}
.bg-section h3 {
  text-shadow: none;
}
.bg-section h4 {
  text-shadow: none;
}
.bg-section h5 {
  text-shadow: none;
}
.bg-section h6 {
  text-shadow: none;
}

#cboxClose {
  border: none !important;
}

#comments #reply-title {
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding: 0.8em 0;
  font-size: 1.5em;
  margin-bottom: 0;
}
#comments .comment {
  padding: 1.5em 0;
}
#comments .comment p {
  margin-bottom: 1em;
}
#comments .comment p:last-child {
  margin-bottom: 0;
}
#comments .comment .avatar {
  float: left;
  width: 80px;
}
#comments .comment .avatar img {
  -webkit-border-radius: 70px;
          border-radius: 70px;
  width: 70px;
}
#comments .comment .comment-date {
  margin-left: 5px;
  font-size: 12px;
  background-position: left 4px;
}
#comments .comment .comment-reply {
  margin-left: 1em;
}
#comments .comment .comment-reply i {
  font-size: 11px;
}
#comments .comment-content {
  padding-left: 85px;
  margin-top: 5px;
}
#comments .comment-meta {
  padding-left: 85px;
}
#comments .pingback {
  border-bottom-style: solid;
  padding: 10px 0;
}
#comments .pingback .comment-content,
#comments .pingback .comment-meta {
  padding-left: 5px;
}
#comments li {
  border-bottom: 1px dashed #e5e5e5;
  list-style-type: none !important;
}
#comments li:last-child {
  border-bottom: none;
}
#comments li li {
  border-top: 1px dashed #e5e5e5;
}
#comments .children {
  padding-left: 5em;
  margin: 0;
}
#comments .post-comments-form textarea:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#comments .post-comments-form input[type=text]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#comments #post-comments-form textarea:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#comments #post-comments-form input[type=text]:focus {
  border-color: #76c5e4;
  background-color: #fff;
}
#comments.contactus {
  margin-top: 0;
}
#comments.contactus h1 {
  margin-bottom: 1em;
}
#comments.contactus h3 {
  margin-top: 1.5em;
}
#comments .post-comments-heading h3 {
  border-top: 1px solid #e5e5e5;
  margin-top: 0;
  padding-top: 0.8em;
}

#about-author {
  padding: 1em 0;
  margin: 2em 0 0;
  border-top: 1px solid #e5e5e5;
}
#about-author h2 {
  font-size: 18px;
}
#about-author .avatar {
  float: left;
}
#about-author .avatar img {
  -webkit-border-radius: 70px;
          border-radius: 70px;
}
#about-author .author-content {
  margin-left: 85px;
}

.boxed #page.fixed-header .main-header.scrolled {
  width: auto;
}

.post-preview h1 {
  text-align: left;
}

article.page h1.post-title {
  margin-top: 5px;
  margin-bottom: 20px;
}

article.post-normal h1.post-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.single .post-image {
  margin-bottom: 20px;
}

.img-container1 img {
  border: 5px solid #e5e5e5;
}

.gallery-container .gallery-item {
  display: inline-block;
  margin: 5px 5px 5px 0;
  border: 1px solid #e5e5e5;
}

.gallery .gallery-item {
  float: left;
  text-align: center;
}
.gallery figcaption {
  display: none;
}

.gallery-columns-1 .gallery-item {
  width: 96%;
  margin: 2%;
}

.gallery-columns-2 .gallery-item {
  width: 46%;
  margin: 3% 2%;
}

.gallery-columns-3 .gallery-item {
  width: 31%;
  margin: 3% 1.16%;
}

.gallery-columns-4 .gallery-item {
  width: 23%;
  margin: 3% 1%;
}

.gallery-columns-5 .gallery-item {
  width: 18%;
  margin: 1%;
}

.gallery-columns-6 .gallery-item {
  width: 14.66%;
  margin: 1%;
}

.gallery-columns-7 .gallery-item {
  width: 12.68%;
  margin: 0.8%;
}

.gallery-columns-8 .gallery-item {
  width: 11.1%;
  margin: 0.7%;
}

.gallery-columns-9 .gallery-item {
  width: 10.111%;
  margin: 0.5%;
}

.alert .close {
  font-size: 12px;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  white-space: nowrap;
  background: #27ae60;
  visibility: hidden;
  opacity: 0.8;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top .fa {
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -7.5px;
  color: #fff;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top {
  z-index: 100;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.no-touch .cd-top:hover {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/*---------------------------------------------------------
6. Sidebar
-------------------------------------------------------- */
.main-sidebar .widget_nav_menu li:before, .main-sidebar .widget_categories li:before, .main-sidebar .widget_archive li:before, .main-sidebar .widget_pages li:before, .main-sidebar .widget_meta li:before, .main-sidebar .widget_recent_comments li:before, .main-sidebar .widget_rss li:before, .main-sidebar .widget_recent_entries li:before {
  content: "\f178";
  font-family: "FontAwesome";
  font-size: 8px;
  padding-right: 10px;
}

.main-sidebar .sidebar-widget {
  margin: 2em 0;
  padding: 0 8px;
}
.main-sidebar .sidebar-widget:first-child {
  margin-top: 0;
}
.main-sidebar .sidebar-widget .widget-title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
}
.main-sidebar .sidebar-widget ul {
  margin-bottom: 0;
  margin-left: 15px;
}
.main-sidebar .sidebar-widget ul li {
  list-style-type: none;
}
.main-sidebar .widget_nav_menu li {
  border-bottom: 1px solid #e5e5e5;
  padding: 6px 12px 6px 0;
}
.main-sidebar .widget_nav_menu li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.main-sidebar .widget_nav_menu li ul.children {
  border-top: 1px solid #e5e5e5;
  margin-top: 6px;
}
.main-sidebar .widget_nav_menu #menu-item-search {
  display: none;
}
.main-sidebar .sidebar-posts {
  margin: 8px 0;
}
.main-sidebar .sidebar-posts .sidebar-post-image {
  position: relative;
}
.main-sidebar .sidebar-posts .sidebar-post-image .fa-minus-sign {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
}
.main-sidebar .sidebar-posts .sidebar-post-image img {
  width: 50px;
  height: 50px;
}
.main-sidebar .sidebar-posts .post-title {
  padding-left: 60px;
}
.main-sidebar .sidebar-posts .post-date {
  padding-left: 60px;
}
.main-sidebar .widget_categories li {
  border-bottom: 1px solid #e5e5e5;
  padding: 6px 12px 6px 0;
}
.main-sidebar .widget_categories li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.main-sidebar .widget_categories li ul.children {
  border-top: 1px solid #e5e5e5;
  margin-top: 6px;
}
.main-sidebar .widget_archive li {
  border-bottom: 1px solid #e5e5e5;
  padding: 6px 12px 6px 0;
}
.main-sidebar .widget_archive li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.main-sidebar .widget_archive li ul.children {
  border-top: 1px solid #e5e5e5;
  margin-top: 6px;
}
.main-sidebar .widget_pages li {
  border-bottom: 1px solid #e5e5e5;
  padding: 6px 12px 6px 0;
}
.main-sidebar .widget_pages li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.main-sidebar .widget_pages li ul.children {
  border-top: 1px solid #e5e5e5;
  margin-top: 6px;
}
.main-sidebar .widget_meta li {
  border-bottom: 1px solid #e5e5e5;
  padding: 6px 12px 6px 0;
}
.main-sidebar .widget_meta li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.main-sidebar .widget_meta li ul.children {
  border-top: 1px solid #e5e5e5;
  margin-top: 6px;
}
.main-sidebar .widget_recent_comments li {
  border-bottom: 1px solid #e5e5e5;
  padding: 6px 12px 6px 0;
}
.main-sidebar .widget_recent_comments li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.main-sidebar .widget_recent_comments li ul.children {
  border-top: 1px solid #e5e5e5;
  margin-top: 6px;
}
.main-sidebar .widget_rss li {
  border-bottom: 1px solid #e5e5e5;
  padding: 6px 12px 6px 0;
}
.main-sidebar .widget_rss li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.main-sidebar .widget_rss li ul.children {
  border-top: 1px solid #e5e5e5;
  margin-top: 6px;
}
.main-sidebar .widget_recent_entries li {
  border-bottom: 1px solid #e5e5e5;
  padding: 6px 12px 6px 0;
}
.main-sidebar .widget_recent_entries li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.main-sidebar .widget_recent_entries li ul.children {
  border-top: 1px solid #e5e5e5;
  margin-top: 6px;
}

.widget_calendar table {
  margin: 0;
  width: 100%;
  font-size: 0.928571429rem;
  line-height: 1.846153846;
  color: #6a6767;
}
.widget_calendar table th {
  text-align: left;
}
.widget_calendar table td {
  text-align: left;
}
.widget_calendar table caption {
  text-align: left;
}
.widget_calendar table #next {
  padding-right: 1.714285714rem;
  text-align: right;
}

/*---------------------------------------------------------
7. Footer
-------------------------------------------------------- */
.main-footer {
  background-color: #efefef;
  padding: 25px 0;
  color: #777777;
  border-top: 1px solid #c1c1c1;
}
.main-footer h1 {
  text-shadow: none;
  font-size: 20px;
  text-align: left;
  color: #5f5f5f;
  margin: 0 0 15px 0;
}
.main-footer h2 {
  text-shadow: none;
}
.main-footer h3 {
  text-shadow: none;
}
.main-footer h4 {
  text-shadow: none;
}
.main-footer h5 {
  text-shadow: none;
}
.main-footer h6 {
  text-shadow: none;
}
.main-footer p {
  color: #777777;
  font-size: 12px;
}
.main-footer li {
  color: #777777;
  font-size: 12px;
  margin-bottom: 5px;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #c1c1c1;
}
.main-footer li ul {
  margin: 5px 0 5px 8px;
}
.main-footer li ul li:last-child {
  border-bottom: 1px solid #c1c1c1;
}
.main-footer li:last-child {
  border-bottom: 1px solid #c1c1c1;
}
.main-footer .tagcloud a {
  display: inline-block;
  padding-right: 5px;
  padding-bottom: 5px;
}
.main-footer .col-md-3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.copyright {
  padding: 15px 0;
  overflow: visible !important;
  text-align: center;
  background-color: #2B3A42;
}
.copyright ul {
  float: none;
}
.copyright .copyright-text {
  min-height: 28px;
  line-height: 28px;
}
.copyright .col-md-6 p {
  margin-bottom: 0;
  line-height: 44px;
  font-size: 12px;
  color: #777;
}

@media (max-width: 991px) {
  .copyright .col-md-6 {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .copyright {
    text-align: left;
  }
  .copyright ul {
    float: right;
  }
}
.social-icon-container ul {
  margin: 0;
}
.social-icon-container ul li {
  display: inline-block;
}
.social-icon-container .social-icon {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  width: 28px;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  color: #9e8f8f;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px 0 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social-icon-container .social-icon:hover {
  color: #fff;
  background: #27ae60;
}

.payment_methods li {
  list-style-type: none !important;
}

#colorbox,
#cboxOverlay,
#cboxWrapper {
  z-index: 99999;
}

.pb-old-slider .container, .pb-old-slider .container-fluid {
  padding: 0;
}

.transparent-header .page-builder .pt-pb-section:first-of-type {
  padding-top: 0 !important;
}
