.tablepress thead th,
.tablepress tfoot th {
	background-color: #FAA070;
}

.tablepress thead .sorting_asc,
.tablepress thead .sorting_desc,
.tablepress thead .sorting:hover {
	background-color: #F49B73;
}

.tablepress-id-1 .column-1 {
	width: 300px;
}