/*
Theme Name: 	OneSocial
Theme URI: 		http://www.buddyboss.com/product/onesocial-theme/
Description: 	OneSocial is a responsive WordPress/BuddyPress theme that focuses on simplicity and ease of use.
Author:         BuddyBoss.com
Author URI:     http://www.buddyboss.com
License: 		GNU General Public License v3 or later
License URI: 	http://www.gnu.org/licenses/gpl-3.0.html
Version:        1.2.0
*/


/*

-- Stylesheet locations --

All stylesheets are located in the /css/ and /css-compressed/ folders.


--- If you are editing CSS via the WordPress admin, do the following ---

1. Install the plugin WP Editor: http://wordpress.org/plugins/wp-editor/
2. Navigate to Appearance > Theme Editor in the WordPress admin.
3. Navigate into the /css/ folder of your child theme to edit custom.css.


--- The styles are loaded in the following order ---

1. onesocial-icons.css 				Custom font icon set
2. main-global.css 					Global theme styles
3. main-desktop.css 				Desktop-only theme styles
4. main-mobile.css					Mobile-only theme styles

The later on a stylesheet is loaded, the higher precedent it gets.
So for example, if you define a CSS element in custom.css that has already
been defined in wordpress.css, the version in custom.css will be used.

Each stylesheet includes a table of contents to help you navigate
through it. You will notice that many of them include a section with
media queries. Media queries allow us to detect a browser's screen
size, and load specific styles only if the screen is larger or smaller
than that particular size. This allows us to define a large set of
global styles, and then specific styles for phones, tablets,
and desktops & laptops - just based on the predicted screen size
of these devices. That's boss!

*/