/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 480 pixels (phones and smaller)
	2.2 - MINIMUM width of 481 pixels (phones and larger)
	2.3 - MINIMUM width of 721 pixels (tablets and larger)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/
@font-face {
    font-family: 'LemonMilk';
    src: url('../fonts/LemonMilk.eot');
    src: url('../fonts/LemonMilk.eot') format('embedded-opentype'),
    url('../fonts/LemonMilk.woff2') format('woff2'),
    url('../fonts/LemonMilk.woff') format('woff'),
    url('../fonts/LemonMilk.ttf') format('truetype'),
    url('../fonts/LemonMilk.svg#LemonMilk') format('svg');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
    url('../fonts/RobotoLight.woff2') format('woff2'),
    url('../fonts/RobotoLight.woff') format('woff'),
    url('../fonts/RobotoLight.ttf') format('truetype'),
    url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}

#siteLoginBox p{
    font-family: sans-serif !important;
}
/*  added on 21/6 */
body{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}
#groups-dir-list .group-subscription-div, #groups-list .group-subscription-div{
    display: none !important;
}
.forgetme.highlight{
    background-color: red;
    padding: 10px 15px;
    color: #fff;
}
#wp-admin-bar-my-account.active{
    box-shadow:  none !important; 
}
.page-template-blog .blogs_post_div a.blog_post_title{
    font-family: serif !important; 
}
/*  ended on 21/6 */
.nav-inner a, h1, h2, b, h3, h4, h5, h6, div#item-header-desc #item-nav li a, .single-event .event_title {
    font-family: 'LemonMilk' !important;
    font-weight: normal !important;
}

.home_header, .home-page header.entry-header, .home_footer, a.next, a.prev {
    display: none;
}

.home_footer {
    background: #242424;
    float: left;
    width: 100%;
    padding: 5px 0;
}

#ptpb_s2_r1_c1_m1 .module-text p {
    font-family: font-family: 'LemonMilk' !important;
}

.pmpro_content_message a {
    background: rgba(0, 0, 0, 0) !important;
    border: none !important;
    text-decoration: underline !important;
}

.pmpro_content_message a:hover {
    color: #ff765d !important;
}

.blogs_post_div .pmpro_content_message {
    min-height: 550px;
    padding-top: 46px;
}

.event-template-default .event_single .event_title {
    text-align: center;
    margin-bottom: 15px !important;
}

.login p#nav a {
    font-size: 14px !important;
}

.event-template-default .site {
    padding-top: 70px;
}

.login p#nav {
    font-size: 0 !important;
}

.login p#nav a:first-child {
    display: none !important;
    border: none !important;
}

.single-post form#commentform {
    float: left;
    width: 100%;
    padding-top: 2%;
}

.single-post span.bb-user-name {
    float: left;
    padding-left: 10%;
}

.single-post article#comment-10 {
    float: left;
    width: 100%;
}

.footer-menu {
    margin: 4px 0 0;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: #000 !important;
}

.img_line ul {
    width: 100%;
    float: left;
    padding: 16px 0px;
}

.bb-meta > span {
    color: #ff765d !important;
    font-weight: bold;
}

a.group-button.request-membership, a.group-button.leave-group, a.group-button.join-group {
    font-weight: bold !important;
}

.bb-order-by {
    padding-left: 10px;
}

.footer_center_new .pt-pb-col-wrap {
    width: 1170px;
    margin: 0px auto;
}

.pagination-blog {
    float: left;
    width: 100%;
    margin: 5% 0;
    text-align: center;
}

.pagination-blog .page-numbers {
    background: rgb(251, 251, 251);
    padding: 10px 15px;
    border: 1px solid rgba(204, 204, 204, 0.49);
    font-weight: bold;
}

span.page-numbers.current {
    background: #ff765d;
    color: #fff;
}

#buddypress table#message-threads tr.unread td.thread-from {
    border: none !important;
}

#buddypress table#message-threads tr.unread td {
    border: none !important;
    background: none !important;
}

#buddypress table#message-threads tr.unread td.thread-from:before {
    display: none !important;
}

.drop_box_blog {
    float: right;
    margin-bottom: 15px;
}

div#pt-pb-content section {
    width: 100% !important;
}

.previous_previews_blog h1 {
    float: left;
    width: 88%;
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    text-align: center !important;
}

.left_nav {
    float: left;
    margin-top: 7px;
}

.right_nav {
    margin-top: 7px;
}

.previous_previews_blog {
    padding: 3px 0px;
}

.single-post header.entry-header, .single-post .header-area {
    display: none;
}

.footer_center_new ul#menu-footer-menu, .footer_center_new ul#menu-footer-menu li {
    margin: 0px;
    padding: 0px;
}

.footer_center_new ul#menu-footer-menu li a {
    font-size: 12px;
    margin: 0px;
    padding: 12px;
    padding: 0px 15px 0 0 !important;
    color: #90949c !important;
    text-transform: capitalize;
}

.page-id-572 .site, .page-id-576 .site, .page-id-809 .site, .page-id-538 .site {
    margin: auto;
    padding-top: 70px;
    position: relative;
    min-height: 580px;
}

.footer_center_new #ptpb_s2_r3_c1_m2, .footer_center_new #ptpb_s8_r2_c1_m2 {
    margin-bottom: 10px !important;
}

.footer_center_new #ptpb_s2_r3_c1_m1, .footer_center_new #ptpb_s8_r2_c1_m1 {
    margin-bottom: 5px !important;
}

.footer_center_new .collapse {
    float: left;
    margin: 0px;
    padding: 0px;
}

.home-page .home_header, .page-id-907 .home_header, .page-id-576 .home_header, .page-id-834 .home_header, .page-id-572 .home_header, .page-id-574 .home_header, .page-id-1413 .home_header, .page-id-809 .home_header, .page-id-1371 .home_header, .page-id-538 .home_header, .page-id-574 .home_footer, .page-id-907 .home_footer, .page-id-576 .home_footer, .page-id-834 .home_footer, .page-id-572 .home_footer, .page-id-574 .home_footer, .page-id-1413 .home_footer, .page-id-809 .home_footer, .page-id-1371 .home_footer, .page-id-538 .home_footer {
    display: block;
}

.home-page .home_footer, .page-id-907 .home_footer, .home-page .footer-style-1, .page-id-907 .footer-style-1, .page-id-576 .footer-style-1, .page-id-834 .footer-style-1, .page-id-572 .footer-style-1, .page-id-574 .footer-style-1, .page-id-1413 .footer-style-1, .page-id-809 .footer-style-1, .page-id-1371 .footer-style-1, .page-id-538 .footer-style-1, .page-id-538 .home_footer {
    display: none;
}

.home-page .site-content.default-page, .page-id-907 .site-content.default-page {
    padding-bottom: 0px;
}

ptpb_s2_r2_c1_m1 .module-text {
    padding: 0px;
}

div#ptpb_s2_r3_c1_m2 {
    margin-bottom: 4px !important;
}

div#ptpb_s2_r3_c1_m1 {
    margin: 0px !important;
}

.collapse.navbar-collapse {
    float: left;
    margin: 0px;
    padding: 0px;
}

ul#menu-footer-menu li a {
    font-size: 12px;
    margin: 0px;
    padding: 12px;
    padding: 0px 15px 0 0 !important;
    color: #90949c !important;
    text-transform: capitalize;
}

.pt-pb-col-wrap {
    width: 100%;
    margin: 0px auto;
}

.footer-credits {
    color: #888;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

.home-page .home_header .container, .page-id-907 .home_header .container {
    background: rgba(255, 255, 255, 0.63) !important;
}

.home_header .container {
    width: 100%;
    margin: 0px auto;
    background: #fbfbfb !important;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 0px 15px;
    height: 51px;
}

.home_header, a.back-to-site {
    float: left;
    width: 100%;
    text-align: right;
    font-size: 12px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 0px solid #ff765d !important;
    background: #ff765d !important;
    font-weight: bold;
    color: #000 !important;
}

.single-post .comment .reply {
    text-align: right;
}

.boss-page-loaded #buddypress div#item-nav #object-nav.item-list-tabs {
    height: 40px !important;
}

div#logo-area img {
    text-align: left;
    float: left;
}

.home_header h2 {
    margin-top: 0px !important;
}

table#tablepress-1 {
    margin-top: 20px !important;
    float: left;
    width: 100%;
}

.tablepress thead th, .tablepress tfoot th {
    background: #FF765D !important;
    color: #fff !important;
}

.home_header #logo-area {
    float: left;
    z-index: 9999 !important;
    position: relative;
}

.members #members-list .item div.item-desc {
    margin-bottom: 0px;
}

.home_header {
    float: left;
    width: 100%;
    z-index: 999;
    margin-top: 0px;
    position: relative;
}

.home_header .home-login img {
    border-radius: 100%;
}

.home-page .home_header h2.site-title {
    margin-top: 0px !important;
}

.home_header .home-login {
    float: right;
    width: auto;
    text-align: center;

}

.home-page section#ptpb_s1, .page-id-907 section#ptpb_s1 {
    margin-top: -126px;
}

.home-page div#inner-wrap, .page-id-907 div#inner-wrap {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.full-width-col.with-email h6, .directory .updated_profile, .directory .new_avatar, .directory .friendship_created, .directory .group_details_updated, .directory .recommended_post_activity, .directory .new_booking {
    /*display: none;*/
}

html, #profile-nav span, #wp-admin-bar-shortcode-secondary .alert, .header-notifications a.notification-link span, .site-header #wp-admin-bar-shortcode-secondary .alert, .header-notifications a.notification-link span, .entry-meta .comments-link a, .entry-meta, .activity, .item-list-tabs, #whats-new-options, #item-header-content, #buddypress div#message, #buddypress ul.item-list li div.item-desc, .generic-button, .bb-meta, #item-photos, .forum-titles, .sap-container, .bb-search-forums-label, .woocommerce-page.woocommerce-page .entry-content, .footer-style-2 .footer-inner-top, .footer-style-2 .footer-widget a, p, a, body, td, section, .single-post .entry-content, .archive .entry-content, .default-page .entry-content, .entry-summary, .comment-content, #respond form textarea, .bb-comment-author, textarea#whats-new, input#groups_search, .home_header, a.back-to-site {
    font-family: 'RobotoLight' !important;
}

textarea#whats-new {
    padding: 10px !important;
    font-size: 15px !important;
}

.part_members_1 .buddyboss-select-inner span {
    color: #afafaf !important;
}

input#groups_search {
    padding: 12px !important;
}

input#groups_search:focus::-webkit-input-placeholder {
    opacity: 0;
}

.group-giles-friends ul#nav-bar-filter {
    float: right;
    text-align: right;
}

.group-giles-friends .item-list-tabs ul li {
    margin: 0 !important;
}

.my-profile .bp-widget.about-me h2, .profile-edit form#profile-edit-form h2 {
    margin-top: 40px;
}

.profile-edit ul.radio {
    list-style: none;
}

.my-groups .boss-group-content .item-desc {
    display: none;
}

.my-groups .mygroups .info-group {
    display: none;
}

.notifications form#notifications-bulk-management {
    float: left;
    margin-top: 40px;
    width: 100%;
}

.buddyboss-select-inner span {
    color: #000 !important;
}

.my-profile .profile-fields tr td {
    border: none !important;
}

.my-profile .profile-fields {
    background: #fbfbfb !important;
}

.my-profile .profile-fields tr td.label {
    width: 33% !important;
}

.page-template-fullwidth a.ui-state-default.ui-state-highlight {
    background: #ff765d !important;
    border: 1px solid #ff765d !important;
}

/***************** Header-css -start- ***************/

a.pt-pb-button {
    background: transparent !important;
    border: 1px solid #ccc;
    color: #666;
    border-radius: 0px !important;
}

a.pt-pb-button:hover {
    background: #ff765d !important;
    color: #fff;
    border: 1px solid #ff765d;
}

.page-id-907 .entry-header {
    margin-bottom: 0px !important;
}

a#home_login:hover {
    border: 1px solid #FF765D;
}

a#home_login:after, a#home_login:before, .home-page header#masthead, .page-id-907 header#masthead, .page-id-576 header#masthead, .page-id-834 header#masthead, .page-id-572 header#masthead, .page-id-574 header#masthead, .page-id-1413 header#masthead, .page-id-809 header#masthead, .page-id-1371 header#masthead, .page-id-538 header#masthead {
    display: none !important;
}

.header-notifications a span:before {
    font-size: 18px !important;
}

h2 {
    font-size: 18px !important;
}

p {
    font-size: 14px !important;
}

.bg_col .member_iner_page p, .left_boxese .textwidget {
    font-size: 14px !important;
}

input.ui-autocomplete-input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.header-button {
    height: 50px !important;
    line-height: 50px !important;
    width: 50px !important;
}

.onsocial-primary-menu {
    height: 50px !important;
}

.header-notifications .pop, .header-account-login .pop {
    top: 49px !important;
}

.header-notifications .pop {
    min-width: 255px;
}

.pop {
    float: left;
    left: -100px !important;
    width: 50px !important;
    margin-right: 20px !important;
}

#header-search a#search-open {
    box-shadow: 0 -1px 0 #f47258 inset;
}

.site-title img {
    max-height: 50px !important;
}

.forums ul#nav-bar-filter li a {
    padding-bottom: 15px !important;
}

ul#nav-bar-filter li {
    line-height: 21px !important;
}

.forums #item-nav {
    margin-bottom: 30px !important;
}

.messages input, .messages textarea, .forum input, .forum textarea {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-bottom: 10px !important;
}

.messages label.send-notice-label {
    margin: 0px !important;
}

.buddypress table#xprofile-settings-about-me {
    border: none;
}

.settings input#submit {
    padding: 10px 15px !important;
    margin-top: 0px !important;
}

.settings div#subnav {
    margin-bottom: 15px !important;
}

.settings input#email {
    margin-bottom: 20px !important;
}

.settings form#settings-form input {
    border: 1px solid #ccc;
    padding: 10px;
}

.bbp-body ul li {
    padding: 5px 0 !important;
}

.settings .submit {
    margin: 0px;
    padding: 0px !important;
}

#buddypress table#message-threads td, #buddypress table#message-threads th {
    padding: 5px 0 5px 6px;
}

#buddypress table#message-threads tr td:first-child, #buddypress table#message-threads td.thread-date {
    margin-top: 24px;
}

.my-messages td.thread-info {
    margin-top: 10px;
}

.comment-form-comment {
    width: 100% !important;
}

._e725ae-textarea_btn._e725ae-show._e725ae-anonymous._e725ae-field_hovered {
    right: 0 !important;
    margin-left: 95px !important;
    float: left;
}

._e725ae-textarea_btn._e725ae-anonymous._e725ae-not_focused {
    width: 100% !important;
    float: left;
    margin-left: 95px;
}

.xprofile .buddyboss-select {
    border: none;
}

.xprofile input {
    border: 1px solid #ccc;
    padding: 6px 10px;
}

.xprofile input#profile-group-edit-submit {
    float: left;
    padding: 10px 15px !important;
    margin: 0px;
    line-height: 18px;
}

.xprofile .buddyboss-select-inner {
    float: left;
    width: 100%;
    clear: both;
    border: 1px solid #ccc;
}

.my-groups section.buddypress-content {
    float: left;
    margin: 0px 0 !important;
}

.buddyboss-select-inner {
    background: #fff;
}

#buddypress .standard-form select {
    background: #fff !important;
}

.settings form#settings-form {
    background: rgba(238, 238, 238, 0.22);
    padding: 10px;
    border: 1px solid #eee;
    border-top: 0px;
}

.settings #settings-form {
    margin-top: 0px !important;
}

.messages form#send_message_form label {
    margin-top: 0px !important;
}

.messages form#send_message_form label {
    float: left;
    margin: 0px;
    padding: 0px 0 10px 0 !important;
    width: 100%;
}

.messages .submit input {
    background: #1b0c0a !important;
    border: none !important;
    padding: 10px 15px !important;
    color: #fff !important;
}

.main-navigation .nav-menu > li > a {
    padding: 18px 0 19px !important;
    font-size: 11px !important;
}

.settings div#main {
    FLOAT: LEFT;
    WIDTH: 100%;
    max-width: 100%;
    text-align: center;
}

.settings div#main h1.big {
    text-align: center !important;
    color: #252525 !important;
    font-size: 25px !important;
    font-family: 'LemonMilk' !important;
    font-weight: normal !important;
    text-transform: uppercase;
    font-style: normal !important;
    margin: 0px 0 !important;
}

.header-account-login .avatar {
    max-width: 40px !important;
}

.settings div#page {
    padding-top: 0px !important;
}

/***************** Header-css -End- ***************/

/******************Start-footer*****************/

.footer-inner-top {
    padding: 10px 0px 0px;
}

.footer-widget .widget h4.widgettitle {
    margin-bottom: 8px;
}

.footer-inner-top #groups-list {
    padding: 6px 0px !important;
    margin: 0px !important;
}

.footer-widget .widget:last-child, .footer-inner-top .widget-area .widget li, .footer-inner-top .widget .item-options {
    margin: 0px !important;
}

#secondary .widget .item-list li, .footer-widget .widget .item-list li {
    padding-bottom: 4px;
}

/******************footerend****************/

.messages .messages-options-nav {
    float: left;
    width: 30.333%;
}

.messages input#messages_search {
    padding: 12px 10px !important;
    height: auto !important;
    line-height: 23px;
    margin: 0px !important;
}

.messages input#messages-bulk-manage {
    float: left;
    width: 20%;
    padding: 18px 10px;
    border: none;
    height: 47px;
    margin-left: 10px;
}

div#ptpb_s2_r6_c1_m2 {
    margin-bottom: 8px !important;
}

div#ptpb_s2_r6_c1_m1 {
    margin: 0px !important;
}

#secondary {
    padding: 0 15px;
    width: 300px;
}

.sidebar-left #secondary {
    margin-right: 25px;
}

.messages .messages-options-nav .buddyboss-select {
    float: left;
    width: 80%;
    margin: 0px !important;
    padding: 15px 0 15px;
    text-align: left;
}

h3.title.title-heading-center:after {
    display: none;
}

h3.title.title-heading-center, .left_boxese h3.widget-title {
    font-size: 28px !important;
}

.img_border_top {
    border-top: 2px solid #f68d5d !important;
}

.page-id-907 h1.entry-title {
    display: none !important;
}

.page-id-907 div#page {
    padding-top: 0px !important;
}

.groups-members-search label:after, .boss-search-wrapper label:after {
    font-family: FontAwesome !important;
    content: "\f002" !important;
}

#main-wrap {
    min-height: inherit !important;
}

table.events-table td {
    text-align: center;
}

.page-template-blog ul.post-categories {
    margin: 0px;
    padding: 0px;
}

.page-template-blog ul.post-categories li {
    display: inline;
    padding: 0px 10px;
    border-right: 1px solid;
    font-size: 15px;
    text-transform: capitalize;
}

.messages #main {
    min-height: 550px;
}

.page-id-729 #main {
    float: left;
    width: 84%;
    padding-left: 15px;
    max-width: 84%;
    min-height: 550px;
}

.page-id-729 .btn_custom_inner {
    margin: -62px 0px 0 0 !important;
}

.page-id-729 #main .em-search-wrapper {
    float: left;
    width: 18%;
}

.page-id-729 .em-search-main {
    float: left;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    margin: 0px !important;
    float: left;
    border: 1px solid rgba(204, 204, 204, 0.53) !important;
    color: #ddd !important;
    height: 41px;
    margin-bottom: 16px !important;
}

.page-id-729 div.css-search input.em-search-text, div.css-search input.em-search-geo {
    width: 70% !important;
    font-size: 16px;
    line-height: 26px;
    padding: 8px;
    border: none;
    outline: none !important;
    color: #666;
    text-overflow: ellipsis;
}

.page-id-729 .em-search-main .em-search-submit {
    top: 5px !important;
    right: 8px !important;
    background: #f48c60 !important;
    width: 44px !important;
    height: 40px !important;
    border-radius: 0;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border: none !important;
}

input[type="email"].em-search-submit::-webkit-input-placeholder {
    color: #d1d1d1 !important;
}

.page-id-729 #primary {
    float: left;
    margin: 0px;
    padding: 0px;
}

.page-id-729 .events-table {
    width: 80%;
    float: right;
    box-sizing: initial;
}

.page-id-729 #main .css-search {
    background: #fff;
    border-right: 1px solid #dedede !important;
    border-left: 0px solid #dedede !important;
    border-top: 0px solid #dedede !important;
    border-bottom: 0px solid #dedede !important;
    border-radius: 0px !important;
    padding-left: 0px;
    position: relative;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    padding-right: 10px !important;
    float: left;
    width: 100%;
}

.page-template-blog ul.post-categories li a {
    pointer-events: none;
}

.page-template-blog ul.post-categories li:last-child {
    border: none;
}

.page-template-default .entry-content {
    font-weight: 400 !important;
    font-style: normal !important;
    color: #333 !important;
    font-size: 14px !important;
}

select#colorselector option {
    font-size: 12px;
}

.page-template-default .site {
    padding-top: 40px !important;
}

.page-template-default h1.entry-title {
    font-size: 28px !important;
}

.main-navigation .nav > li > a {
    margin-top: 0px;
}

.entry-content blockquote, .action-icon.normal, .action, .pagination > .active > a, .pagination .current, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .main-navigation .nav > li.current-menu-item, .main-navigation .nav > li.current-menu-parent {
    border: none;
}

.main-navigation .nav > li {
    border-top: 0px;
}

a, h1, h2, h3, h4, h5, h6, p {
    text-shadow: none;
}

.main-header {
    max-height: 50px;
}

.logo {
    height: 40px !important;
}

#site-info, .blog aside, .settings div#show-nav {
    display: none !important;
}

section#ptpb_s2 {
    width: 100%;
    float: left;
    margin-top: -39px !important;
}

.home_footer {
    width: 100%;
    float: left;
}

div#ptpb_s1_r2 {
    float: left;
    width: 100%;
}

/************************** BLOG CSS START *************************/

.page-template-blog #main {
    width: 84% !important;
    max-width: 84%;
    float: left;
    padding-left: 15px;
}

div.css-search div.em-search-advanced, div.css-search div.em-search-options {
    padding: 5px 0px !important;
}

.page-template-blog #primary {
    padding: 0px !important;
}

.page-template-blog .inner_post:nth-child(3n+1) {
    padding-right: 0px !important;
}

.blog #primary {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.blog .article-outher {
    float: left;
    width: 32%;
    border: 1px solid #eee;
    padding: 10px;
    margin-right: 15px;
}

#blog_id {
    float: left;
    width: 100%;
    padding: 0px;
    min-height: 550px;
}

.blogs_post_div {
    float: right;
    width: 80%;
    padding: 0px;
}

.blogs_post_div .inner_post {
    float: left;
    width: 33.333%;
    padding: 0px 20px 0 0;
    margin-bottom: 5%;
    text-align: justify;
    font-size: 12px;
}

.blogs_post_div .inner_post a img {
    float: left;
    width: 100%;
    height: 100%;
}

.blogs_post_div .inner_post a.blog_post_thumb {
    float: left;
    width: 100%;
}

.blogs_post_div a.blog_post_title {
    float: left;
    text-align: center;
    font-size: 15px;
    color: #252525;
    height: auto !important;
    font-weight: 700;
    width: 100%;
    background: url(/wp-content/uploads/2017/03/blog-title-bottom-img.png) no-repeat bottom center;
    padding-bottom: 10px;
    font-family: serif !important; 
}

.blogs_post_div span.author_blog {
    float: left;
    width: 100%;
    text-align: center;
    padding: 15px 0 5px 0;
    color: #FF765D;
    font-size: 18px !important;
    text-transform: capitalize;
}

.blogs_post_div span.blog_date {
    float: left;
    width: 100%;
    padding: 10px 0 15px 0;
    text-align: center;
    color: #afafaf;
}

.page-template-blog .blog_post_sidebar {
    float: left;
    width: 18% !important;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: 4px;
    margin-left: 0px;
    padding-left: 0px;
    border-left: 0px;
}

.blog_post_sidebar {
    float: left;
    width: 28%;
    border-left: 1px solid #ccc;
    padding-left: 15px;

}

.blog_post_sidebar li {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

.blog_post_sidebar h2, .blog_post_sidebar h1 {
    font-size: 19px;
    color: #252525;
    padding: 0px 0px 6px 0px;
    text-transform: uppercase;
    margin: 0px;
    border-bottom: 1px solid #ccc;
}

.content_width h1:after {
    height: 3px;
    background: #f48c60 !important;
    content: "";
    float: left;
    width: 100%;
    margin-top: 7px;
}

div#item-header-content h1, .content_width h1 {
    font-size: 19px !important;
    color: #252525;
}

.item-header-content h2 {
    font-size: 15px !important;
}

.blog_post_sidebar .search-wrap {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px 0px;
    border: none !important;
}

.blog_post_sidebar form {
    float: left;
    width: 100% !important;
    margin: 15px 0 0;
    padding: 0px;
    border: none !important;
}

.blog_post_sidebar input#s {
    float: left;
    width: 80%;
    border: 1px solid #FF765D;
    padding: 8px 10px 9px;
    color: #ddd !important;
    height: 40px;
    margin-bottom: 20px;
}

.blog_post_sidebar input::-webkit-input-placeholder {
    color: #333 !important;
    font-weight: 600 !important;
}

.blog_post_sidebar button#searchsubmit {
    float: left;
    text-align: center !important;
    background: #FF765D !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px 10px !important;
    color: #fff !important;
    height: 40px;

}

.widget_search #searchform, .widget #bbp-search-index-form {
    padding-bottom: 0px;
}

.blog_post_sidebar button#searchsubmit i::before {
    color: #fff !important;
    font-size: 20px !important;
}

.blog_post_sidebar ul {
    float: left;
    margin: 0px;
    padding: 0px 0;
    width: 100%;
}

.blog_post_sidebar ul li {
    float: left;
    font-size: 17px;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.bb-icon-search:before {
    content: "\f002" !important;
    font-family: FontAwesome !important;
}

.blog_post_sidebar ul li:last-child {
    border-bottom: 0px solid #ccc;
}

/********************** EVENT CSS START ***************/
.single-event .header-area {
    display: none;
}

.page-id-907 .footer-inner-top, .home-page .footer-inner-top {
    display: block;
}

.single-event .event_single {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px auto 5% auto;
}

.single-event .event_thumbnail {
    float: left;
    width: 30%;
    border: 1px solid #ccc;
    text-align: center;

}

.single-event .time_loc_day {
    float: right;
    width: 68%;
}

.publised_by, .event_des {
    float: left;
    width: 100%;
}

.time_loc_date, .time_loc_time, .time_loc_loce {
    float: left;
    width: 100%;
    padding: 0px 0px;
    background: #fbfbfb;
    border: 1px solid rgb(228, 228, 228);
    font-size: 14px;
    margin-bottom: 14px;
    line-height: 37px;
    height: 40px;
}

.time_loc_price:after {
    content: "\f154" !important;
}

.time_loc_date:after {
    content: "\f133";
    float: left;
    font-size: 23px;
    font-family: FontAwesome !important;
    color: #ffffff;
    border: 1px solid;
    position: relative;
    left: 0px;
    height: 40px;
    text-align: center;
    width: 40px;
    background: rgb(228, 228, 228);;
    line-height: 37px;
    border: 1px solid rgb(228, 228, 228);;
    top: -1px !important;
    margin-right: 10px;

}

.time_loc_time:after {
    content: "\f017";
    float: left;
    font-size: 23px;
    font-family: FontAwesome !important;
    color: #ffffff;
    border: 1px solid;
    position: relative;
    left: 0px;
    height: 40px;
    text-align: center;
    width: 40px;
    background: rgb(228, 228, 228);;
    line-height: 37px;
    border: 1px solid rgb(228, 228, 228);;
    top: -1px !important;
    margin-right: 10px;

}

.time_loc_loce:after {
    content: "\f124";
    float: left;
    font-size: 23px;
    font-family: FontAwesome !important;
    color: #ffffff;
    border: 1px solid;
    position: relative;
    left: 0px;
    height: 40px;
    text-align: center;
    width: 40px;
    background: rgb(228, 228, 228);
    line-height: 37px;
    border: 1px solid rgb(228, 228, 228);
    top: -1px !important;
    margin-right: 10px;

}

.event_des, .publised_by, .event_atnd {
    border: 1px solid #eee;
    padding: 10px 20px;
    margin-top: 20px;
    float: left;
    width: 100%;
}

.event_des h2, .event_atnd h2, .publised_by h2 {
    float: left;
    width: 100%;
    font-size: 16px;
    border-bottom: 0px solid #eee;
    padding: 3px 0 3px 0;
    margin-bottom: 0px;
}

a#em-cancel-button_4_572d500a38, .em-booking-button {
    float: right !important;
    right: 0px !important;
    top: 0px !important;
    line-height: 0px;
    padding: 15px 10px;
    position: relative !important;
}

ul.event-attendees {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

ul.event-attendees li img {
    margin-bottom: 10px;
    border-radius: 100%;
}

ul.event-attendees li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    width: 120px;
    float: left;
    text-align: center;
    color: #fc9262;
}

.em-cancel-button, .em-booking-button {
    float: right;
}

.single div#primary {
    float: left !important;
    width: 100% !important;
    max-width: 100% !important;
}

.single-nav {
    padding: 7px 0px;
    float: left;
    width: 100%;
    margin-bottom: 15px;

}

.single-event #main {
    width: 70%;
    padding: 0px 15px;
}

.single-post #main {
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
}

.single-post #primary {
    padding-left: 8px;
    padding-right: 8px;
}

.singal_left_top span:first-child {
    padding: 0px;
}

.singal_left_top span img {
    border-radius: 100%;
}

.single-post footer.entry-meta h3 {
    line-height: 24px;
}

.single-left-sidebar {
    float: left;
    width: 15%;
    padding-right: 10px !important;
    border-right: 1px solid #dedede !important;
}

.single-post .blogs_post_div h3 {
    width: 100%;
    margin-top: 0px !important;
    padding: 0px 0px !important;
    margin-bottom: 10px;
    font-size: 12px;
    border-bottom: 0px solid #eee;
    line-height: 30px !important;
}

.single-post .blogs_post_div h3 img {
    margin-top: 0px;
}

.single-post .blog_post_sidebar span h2 {
    float: left;
    margin: 0px 0 0 !important;
    padding: 0px 0px 8px !important;
}

.single-post .singal_left_top span {
    padding: 3px;
    font-size: 12px;
}

.single-post .singal_left_top span.title {
    font-size: 14px;
}

.single-post .blog_post_sidebar {
    float: right;
    width: 15%;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.single-post .blogs_post_div {
    float: left;
    width: 70% !important;
    text-align: justify;
    font-size: 12px;
    line-height: 26px;
    margin-top: 0px !important;
    padding: 0px 25px;
}

.single-left-sidebar .singal_left_top {
    float: left;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0 0 1px rgba(204, 204, 204, 0.29);
    background: #fbfbfb;
}

.singal_left_top span {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.previous_previews_blog {
    float: left;
    margin: 40px 0 0;
    width: 100%;
}

.previous_previews_blog a {
    float: left;
    margin-right: 5px;
    font-size: 12px !important;
    text-transform: uppercase;
    font-style: italic;
}

.previous_previews_blog a i {
    margin-right: 3px;
    font-size: 16px;
    float: left;
    padding-top: 1px;
}

.entry-tags a, div.bbp-topic-tags a {
    font-size: 12px;
}

ol.commentlist {
    float: left;
    width: 100%;
}

.comments-area article header {
    margin: 10px 0 10px;
}

.comments-area article {
    padding: 20px 0;
}

.single .blogs_post_div {
    float: left;
    width: 70%;
    text-align: justify;
    font-size: 12px;
    line-height: 26px;
}

.single .blogs_post_div h4 {
    font-size: 15px;
}

.single div#comments, {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.single div#comments {
    float: left;
    width: 100%;
    margin: 5% 0 0 0;
}

.single .comment-form-comment {
    float: left;
    padding: 0 !important;
    width: 100%;
}

.single h3#reply-title {
    float: left;
    color: #000 !important;
    width: 100%;
    margin: 0px;
    padding: 0px !important;
}

.single .comment-form-comment input {
    border: 1px solid #eee;
}

.single-post #comments .inner h3.comments-title {
    border-bottom: 1px solid #eee;
}

.single-post #comments .inner {
    border-top: none;
    float: left;
    /* margin-top: 30px; */
    width: 100%;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 5%;
}

.single #comment {
    border: 1px solid #ccc;
    width: 100%;
    text-align: left;
    padding: 10px;
    height: 80px !important;
    font-size: 12px;
}

.bb-user-name, .fn a {
    font-size: 14px;
}

#respond form p input[type="submit"] {
    font-size: 12px;
}

.settings form#settings-form {
    float: left;
    width: 100% !important;
    max-width: 100% !important;
}

.settings #item-body ul {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
    background: #eee;
}

.settings #item-body ul li {
    float: left !important;
    margin: 0px !important;
    padding: 0px !important;
    list-style: none !important;
    text-decoration: none !important;
}

.settings #item-body ul li a {
    float: left;
    margin: 0px 0 0 1px !important;
    padding: 10px 13px 10px 13px !important;
    font-size: 12px !important;
    font-family: 'LemonMilk' !important;
    font-weight: normal !important;
    color: rgba(0, 0, 0, 0.5) !important;
}

.settings #item-body ul li:after, .settings li#profile-personal-li, #wp-admin-bar-my-account-settings-profile {
    display: none !important;
}

.settings #item-body ul li.current a, .settings #item-body ul li a:hover {
    background: rgb(251, 251, 251) !important;
    color: #FF765D !important;
}

.single-post .entry-post-thumbnail {
    background: none !important;
}

div#message {
    float: right !important;
    margin: 0px !important;
    padding: 0px;
    position: absolute;
    top: 94px;
    right: 0;
    width: 58% !important;
    clear: both !important;
}

div#message p {
    float: left;
    margin-top: 10px;
    background: #ff765d !important;
    color: #fff !important;
}

.my-account ul#friend-list {
    float: left;
    width: 100%;
    margin-top: 40px !important;
}

#profile-group-edit-submit, #submit, #send_reply_button {
    background: #fff !important;
    color: #000 !important;
    border: 1px solid #ccc !important;
    padding: 15px 15px !important;
}

#profile-group-edit-submit:hover, #submit:hover, #send_reply_button:hover {
    background: #FF765D !important;
    color: #fff !important;
    border: 1px solid #FF765D !important;
}

.ui-widget-header {
    border: 1px solid #FF765D !important;
    background: #FF765D url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x !important;
}

.single-post .entry-header.has-image h1 {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3) !important;
}

.single p.form-submit {
    float: left;
    padding: 0px !important;
    margin: 10px 0 !important;
    width: 100%;
}

.single-post section.comment-content.comment p {
    margin-bottom: 0px;
}

.single-post ol.commentlist li article {
    padding: 0px;
}

.single p.form-submit input {
    float: right;
    background: #FF765D;
    border: none;
    line-height: 0px;
    padding: 18px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.single .blog_post_sidebar span {
    width: 100%;
    text-align: center;
    float: left;
    font-size: 12px;
}

.single .blog_post_sidebar span img {
    border-radius: 100%;
}

.single .blog_post_sidebar ul {
    float: left;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
}

.single ul#related_posts_thumbnails li {
    border-right: none !important;
    padding: 0px !important;
}

.single ul#related_posts_thumbnails li a {
    float: left;
    text-align: center !important;
    width: 100% !important;
    font-size: 14px !important;
}

.single ul#related_posts_thumbnails li a {
    height: auto !important;
}

.singal_right_top {
    float: left;
    width: 100%;
    text-align: center;
    background: #fbfbfb;
    padding: 15px 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.singal_right_top .title {
    font-size: 14px !important;
    color: #FF765D;
}

.single .blog_post_sidebar span h2 {
    float: left;
    margin: 10px 0 0;
    padding: 8px 0px;
    width: 100%;
    text-align: left !important;
    border-bottom: 0px !important;
}

.single ul#related_posts_thumbnails li:hover {
    background: none !important;
}

.single ul#related_posts_thumbnails li span {
    float: left;
    background: #FF765D;
    padding: 12px 5px;
    color: #fff;
}

#buddypress div#item-nav .item-list-tabs ul li .bb-menu-button {
    color: #fff;
    font-size: 8px;
    height: 25px;
    line-height: 23px;
    float: right;
    margin: 7px 0px 0;
    padding: 0;
    text-align: center;
    width: 25px;
}

.single ul#related_posts_thumbnails li {
    margin-bottom: 30px !important;
}

.single-post .entry-header.has-image h1, .single-event .event_title {
    background: none;
    color: #252525;
    font-size: 25px;
    padding: 0px !important;
    margin: 0px !important;
}

.single-post .header-area .table {
    width: 80%;
    margin: 0px auto;
}

.right_nav {
    float: right;
}

.single-post .entry-post-thumbnail {
    margin-bottom: 0px !important;
}

.single-post .entry-post-thumbnail {
    height: 90px !important;
}

.em-closed-button {
    background-color: #fff;
    float: right;
    color: #666;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.em-closed-button:hover {
    background-color: #ff765d;
    border: 1px solid #ff765d;
    color: #fff;
    cursor: pointer;
}

.event_atnd span a, .em-closed-button {
    position: relative;
    margin-top: -32px;
}

.page-id-538 header.entry-header {
    display: none;
}

.page-id-538 div#page {
    margin-top: 1px !important;
    width: 100%;
    padding: 0px;
}

.contact_text p {
    text-align: center;
    font-size: 19px !important;
    line-height: 27px;
    color: #fff;
}

div.wpcf7-validation-errors {
    border: 2px solid #f7e700;
    float: left;
}

.contact_text {
    margin-bottom: 2%;
}

.page-id-538 section#ptpb_s1 {
    padding-top: 0px !important;
}

.loaderImage {
    position: absolute;
    width: 20%;
    text-align: center;
    top: 30%;
    left: 50%;
    padding: 36px;
    border-radius: 5px;
}

.blog_post_sidebar h2 {
    font-size: 14px !important;
}

.contact_part_bottom a.icon.fa-2x.fa.fa-phone.from-top:hover, .contact_part_bottom a.icon.fa-2x.fa.fa-at.from-top:hover {
    background: transparent !important;
    color: #fff !important;
}

.contact_part_bottom h3.icon-title {
    border: none !important;
}

.contact_part_bottom p {
    color: #fff !important;
    font-size: 16px !important;
}

ul.category-list li a {
    float: left;
    width: 100%;
    color: rgba(51, 51, 51, 0.62);
    font-size: 12px;
}

.contact_form_new .buddyboss-select-inner:after {
    border-left: 1px solid #d0d0d0 !important;
    height: 39px !important;
    line-height: 40px !important;
    font-size: 12px !important;
}

.contact_form_new label {
    float: left;
    width: 100%;
}

.contact_form_new input.wpcf7-form-control.wpcf7-submit {
    float: right !important;
    width: auto !important;
    padding: 13px 30px !important;
    background: transparent !important;
    border: 1px solid #ccc;
    color: #000;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.contact_form_new div#group-840, .contact_form_new div#group-558 {
    float: left;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.contact_form_new .buddyboss-select-inner {
    height: 40px !important;
    line-height: 40px !important;
    padding: 0px !important;
}

.contact_form_new .buddyboss-select {
    border: 0px solid #ddd !important;
}

.contact_form_new form.wpcf7-form input, .contact_form_new form.wpcf7-form textarea, .contact_form_new form .buddyboss-select-inner {
    float: left;
    padding: 10px 13px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background: #e7e6e6;
}

.contact_form_new form.wpcf7-form p {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.contact_form_new form.wpcf7-form {
    width: 50%;
    margin: 0px auto;
    padding: 0px;
}

ul.category-list li.active a {
    float: left;
    width: 100%;
    color: #FF765D;
}

.time_loc_day a {
    background: #fff !important;
    float: left;
    padding: 5px 10px;
    font-size: 14px;
    color: #666 !important;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.time_loc_day a:hover {
    background: #ff765d !important;
    color: #fff !important;
    border: 1px solid #ff765d;
}

/********* GROUPS PAGE CSS ***********/
li.feed {
    display: none !important;
}

.login_bg a.pt-pb-button {
    border-radius: 0px !important;
}

.login_bg a.pt-pb-button:hover {
    background: #FF765D !important;
    border: 1px solid #FF765D;
    color: #fff !important;
}

/************************* Activity css  Start ***************************/
.buddyboss-select {
    font-size: 14px !important;
}

div#whats-new-post-in-box {
    font-size: 0px;
}

.group-npd-1093149265 ul#nav-bar-filter {
    float: right;
}

.group-npd-1093149265 #object-nav {
    margin: 0px !important;
}

.activity .whats-author {
    display: none;
}

.activity .item-list-tabs.activity-type-tabs ul {
    float: left;
    width: 100%;
    background: #fff;
    padding: 10px !important;
    margin: 0 0 20px 0 !important;
    border-top: 0px solid #f47258;
    border-bottom: 1px solid #f47258;
}

.activity .activity-header, {
    border: none !important;
}

.activity #buddypress .activity-list .activity-content .activity-header {
    border: 0px !important;
}

.activity ul#activity-stream li {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 10px !important;
    box-shadow: 0px 0px 0px 1px rgba(238, 238, 238, 0.94);
    margin-bottom: 10px;
    background: #fbfbfb;
}

#buddypress .activity-list .activity-content .activity-header {
    width: 95% !important;
}

.activity div#main {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.activity .site {
    margin-top: 40px !important;
}

.activity div#page {
    padding-top: 0px !important;
}

.activity #buddypress #whats-new-avatar {
    margin-bottom: 0px !important;
}

.activity header.entry-header.buddypress.activity-dir-header.dir-header {
    display: none;
}

.acomment-avatar {
    float: left;
}

.bbp-header ul li {
    padding-bottom: 10px !important;
}

div#bbp-user-topics-started h2 {
    background: #fff;
    padding: 5px 0px;
    margin-bottom: 10px;
    font-size: 18px !important;
    color: #333;
}

.members.friends, #bbpress-forums {
    float: left;
    width: 100%;
    margin-top: 0px;
}

.activity-header p {
    font-size: 14px !important;
    font-weight: normal !important;
    text-transform: capitalize;
}

div#inner-wrap {
    float: left;
    width: 100%;
}

#buddypress div.acomment-header .acomment-options, #buddypress #activity-stream .activity-header > .activity-meta {
    min-width: 80px !important;

}

.activity h1.entry-title {
    color: #fff;
}

.activity #buddypress form#whats-new-form #whats-new-content {
    margin-top: 8px !important;
    padding: 0 0 10px 70px !important;
}

.activity form#whats-new-form {
    float: left;
    width: 100%;
    margin: 0px !important;
}

.activity form#whats-new-form.isCollapsed {
    height: auto !important;
    overflow: hidden;
    margin-bottom: 20px !important;
    background: rgba(226, 224, 224, 0.22);
    box-shadow: 0px 0px 0px 1px rgba(238, 238, 238, 0.94);
}

/************************* Activity css  End***************************/

.groups .item-avatar .inner-avatar-wrap {
    margin-bottom: 15px !important;
}

.groups .item .item-title {
    margin-bottom: 10px !important;
}

.groups .boss-group-content .item-desc {
    margin-bottom: 20px !important;
}

.groups .info-group .bb-follow-title {
    margin-bottom: 15px !important;
}

.groups #buddypress .dir-list ul.item-list > li {
    padding: 0 15px 10px !important;
}

.groups .info-group {
    margin-bottom: 15px !important;
}

.groups div#page {
    padding-top: 0px !important;
}

#members_search:focus::-webkit-input-placeholder, #members_search:focus::-webkit-input-placeholder {
    opacity: 0;
}

.em-events-search-text:focus::-webkit-input-placeholder, .em-events-search-text:focus::-webkit-input-placeholder {
    opacity: 0;
}

.buddyboss-select-inner span {
    padding-left: 10px !important;
    font-size: 12px !important;
    color: rgba(51, 51, 51, 0.62) !important;
    font-weight: normal;
}

span.time-since {
    font-size: 12px;
}

span.em-search-scope label, span.em-search-scope label span, input.em-events-search-text.em-search-text {
    color: rgba(51, 51, 51, 0.62) !important;
    font-size: 12px !important;
    font-weight: normal;
}

#buddypress div.activity-comments div.acomment-content {
    margin: 5px 0 5px 70px !important;

}

.activity-comments ul {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: transparent !important;
}

#buddypress div.activity-comments ul li ul > li {
    margin-left: 0px !important;
}

#buddypress #search-message-form #messages_search {
    font-size: 12px;
}

#message-threads .thread-from .table-cell:first-child {
    width: 100%;
}

#message-threads .thread-from img {
    margin-right: 0px;
}

#buddypress table#message-threads:not(.messages-notices) tr td:last-child {
    padding-right: 0px;
}

.messages table#message-threads tr {
    border-bottom: 1px solid #e1e1e1;
}

.messages #buddypress table {
    border: 1px solid #ccc !important;
    padding: 20px 20px 0px 20px !important;
    border-collapse: inherit !important;
}

.messages #buddypress table#message-threads th {
    border_top: none !important;
}

.messages table#message-threads tr th, .messages table#message-threads tr td {
    width: 23% !important;
    float: left;
    text-align: center !important;
}

.messages table#message-threads tr .table-cell {
    display: inline-block !important;
    vertical-align: middle;
}

.messages table#message-threads tr th:first-child, .messages table#message-threads tr td:first-child {
    width: 5% !important;
    text-align: left !important;
}

.messages table#message-threads tr {
    float: left;
    width: 100%;
}

.messages table#message-threads tr:last-child {
    border: none;
}

.messages #content #buddypress input#messages_search_submit {
    background: url(/wp-content/uploads/2017/03/search-icon-black.png) no-repeat center center !important;
}

#buddypress table#message-threads th {
    border-top: 0px solid #333 !important;
}

.page-id-585 .part_members_1 .buddyboss-select {
    border: 2px solid rgba(204, 204, 204, 0.53);
    width: 66% !important;
    border-radius: 0px;
    padding: 0px;
    float: initial;
}

.activity #header-search form input[type="text"] {
    height: 50px;
}

.activity .activity-inner iframe {
    width: 50%;
    height: 50%;
}

.activity .activity-inner {
    max-height: 182px;
}

.friends ul#members-list li {
    width: 25% !important;
}

.friends ul#members-list li .item .item-title a {
    font-size: 14px !important;
}

.friends ul#members-list li .item .item-title {
    margin: 0px !important;
}

.friends ul#members-list li .inner-avatar-wrap {
    margin-bottom: 10px !important;
}

div#item-header-desc #item-nav li {
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

div#item-header-desc #item-nav {
    margin-bottom: 20px !important;
    float: left;
    width: 100%;

}

.my-groups .mygroups.dir-list {
    float: left;
    margin-top: 40px;
}

.forums div#bbpress-forums {
    margin-top: 40px;
}

li.bbp-topic-freshness a, li.bbp-topic-freshness p, li.bbp-topic-freshness img {
    float: none !important;
    width: 100%;
}

#buddypress p.warning, body.profile_page_bp-profile-edit.modal-open #TB_ajaxContent p.warning, body.users_page_bp-profile-edit.modal-open #TB_ajaxContent p.warning {
    background-color: #fbfbfb !important;
    border: 1px solid #ccc;
}

li.bbp-forum-info a.bbp-forum-title, li.bbp-topic-title a.bbp-topic-permalink {
    font-size: 14px;
}

.bbp-topic-started-in a {
    font-size: 12px;
}

div#item-header-desc #item-nav li a, #members_all #nav-bar-filter li a {
    padding: 10px 15px;
    margin-right: 1px;
    font-size: 11px;
    float: left;
    border-bottom: 2px solid #fff;
    color: rgba(0, 0, 0, 0.5);
}

div#item-nav li.current a, div#item-nav li a:hover, #members_all #nav-bar-filter li a:hover {
    border-bottom: 2px solid #8a8a8d !important;
    color: #333 !important;

}

ul#nav-bar-filter li span {
    color: rgba(0, 0, 0, 0.5) !important;
}

.single-item #buddypress div#item-nav .item-list-tabs {
    margin-bottom: 0px;
}

div#object-nav {
    margin: 0px;
    padding: 0px;
    height: 40px !important;
    float: left;
    width: 100%;
}

li.bbp-topic-voice-count, li.bbp-topic-reply-count, li.bbp-topic-voice-count, li.bbp-topic-voice-count, li.bbp-topic-freshness {
    text-align: center !important;
}

footer#colophon {
    float: left;
    width: 100%;
}

.search_filters ul li a:before {
    margin-top: 0;
    position: relative;
    bottom: 0px;
    top: 8px;
    content: "\2022";
    font-size: 33px;
    line-height: 0px;
    left: -8px;
}

.search-results .search_filters ul li:after {
    display: none !important;
}

body.search h1.entry-title {
    margin: 0px;
    font-size: 25px;
}

body.search .entry-header {
    margin-bottom: 0px;
}

body.search .site {
    padding-top: 40px !important;
}

.search #buddypress div:not(#item-nav) > .dir-form div.item-list-tabs {
    margin-bottom: 40px;
}

.search .author.vcard a {
    font-size: 14px;
}

.search article#post-1550 p {
    margin-top: 10px;
}

.search .entry-content .results-group-title {
    margin-bottom: 40px;
}

.search .blog:not(.bp-user) .hentry, .search .search_results:not(.bp-user) .type-product, .search_results:not(.bp-user) .hentry {
    padding-bottom: 0px;
}

.search .article-outher {
    position: relative;
    margin-bottom: 40px;
}

.my-messages .messages-options-nav {
    float: left;
    width: 36.333%;
}

.my-messages #members_all #subnav {
    margin: 0px 0 !important;
}

.my-messages #members_all #subnav li {
    margin: 0px 0 !important;
    padding: 5px 0px !important;
}

.my-messages #members_all #subnav li a {
    margin: 0px 0 !important;
    padding: 0px 0px !important;
    font-family: 'RobotoLight' !important;
    font-size: 12px !important;
    border-bottom: 1px solid #eee !important;
    width: 100%;
    color: rgba(51, 51, 51, 0.62) !important;
    font-weight: normal !important;
}

.bp-user.messages #buddypress div#subnav.item-list-tabs ul li#compose-personal-li {
    padding-bottom: 0px !important;
}

.my-messages li#compose-personal-li a#compose {
    font-size: 14px !important;
    font-family: 'LemonMilk' !important;
    color: #252525 !important;
    border-bottom: 0px !important;
    font-weight: normal !important;
}

.my-messages li#compose-personal-li {
    border-bottom: 1px solid #ccc !important;
}

.my-messages #buddypress {
    float: left !important;
    width: 85% !important;
    margin: 0px;
}

.my-messages #leftcolumn ul {
    padding-right: 10px !important;
}

.my-messages #leftcolumn {
    margin-right: 25px;
    padding-right: 0px;
    font-family: 'RobotoLight' !important;
    border-right: 1px solid #ccc;
}

div.css-search div.em-search-main .em-search-submit {
    text-shadow: 0px 0px 0px #c7c5c7 !important;
}

div#messages-layout {
    float: left;
    width: 100%;
    margin: 0px;

}

div#messages-layout h2 {
    margin: 0px 0 6px 0;
}

#buddypress div#message-thread div.message-box {
    margin: 0;
    padding: 15px;
    float: left;
    width: 100%;
}

#messages-layout .message-content p {
    margin: 0px;
}

.messages .table-cell a:hover, .messages .thread-options a:hover {
    color: #ff765d;
    font-weight: bold;
}

#buddypress div#message-thread div.alt {
    background-color: rgba(226, 224, 224, 0.22) !important;
    box-shadow: rgba(238, 238, 238, 0.941176) 0px 0px 0px 1px !important;
}

#messages-layout .standard-form #message_content {
    border: 1px solid rgba(102, 102, 102, 0.290196) !important;
    background: #fbfbfb !important;
    padding: 10px !important;
}

span.rounded_img_box img {
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
}

span.rounded_img_box {
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 23px;
    font-size: 16px;
    width: 10%;
    margin: 0px 20px 0 0;
}

span#right_img_client {
    margin: 0px 0px 0 20px;
    float: right;
}

.front_img_anbox ul li {
    font-size: 19px;
    color: #000;
    float: left;
    margin-bottom: 15px;
    width: 100%;
    list-style: none;
    text-decoration: none;
}

span.text_img {
    margin-top: 22px;
    float: left;
    width: 88%;
}

.front_img_anbox, .front_img_anbox ul {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}

.left_boxese h3 {
    margin-top: 0px;
}

.wonderplugincarousel {
    max-width: 100% !important;
    width: 100% !important;

}

.amazingcarousel-list-wrapper ul li {
    padding: 8px 15px !important;
}

@media (max-width: 767px) {
    .blogs_post_div {
        width: 100%;
    }

    .page-template-default .site {
        padding-top: 80px !important;
    }

    .page-id-729 div.css-search input.em-search-text, div.css-search input.em-search-geo {
        line-height: 23px;
    }

    .page-id-729 .btn_custom_inner {
        margin: 5px 10px 10px 0 !important;
    }

    .page-id-585 #page div#main {
        width: 100% !important;
        min-width: 100% !important;
    }

    .page-id-585 .part_members_1 .buddyboss-select {
        border: 1px solid rgba(204, 204, 204, 0.53);
        width: 100% !important;
        overflow: hidden;
        margin-top: 30px !important;
    }

    .entry-post-thumbnail img {
        display: none;
    }

    .single-post #main {
        width: 100%;
    }

    .activity .site {
        margin-top: 55px !important;
    }

    .buddyboss-select-inner {
        margin: 0 10px 0px 0 !important;
        border: 0px solid rgba(0, 0, 0, 0.1);
    }

    .activity .activity-inner {
        max-height: 100%;
    }

    .single-left-sidebar {
        float: left;
        width: 100%;
        padding-right: 0px !important;
        border-right: 0px solid #dedede !important;
    }

    .single-post .blogs_post_div {
        width: 100% !important;
        margin-top: 10px !important;
        padding: 0px 0px;
    }

    .single-event #main {
        width: 100%;
        padding: 0px 15px;
    }

    .single-post .blog_post_sidebar {
        float: left;
        width: 100%;
        border-left: 0px solid #ccc;
        padding-left: 0px;
        margin-top: 15px;
    }

    .page-id-729 #main {
        width: 100%;
        max-width: 100%;
        padding-left: 15px;
    }

    .page-id-729 #main .css-search {
        border-right: 0px solid #dedede !important;
    }

    .page-id-729 .events-table {
        width: 97%;
        float: left;
    }

    .page-id-729 #main .em-search-wrapper {
        width: 100%;
    }

    .page-id-659 #buddypress {
        margin-top: 80px !important;
    }

    .buddyboss-select-inner {
        margin: 0 10px 0px 0;
        border: 0px solid rgba(0, 0, 0, 0.1);
    }

    .buddyboss-select-inner:after {
        right: 9px;
        padding-left: 8px;
    }

    .activity-header p {
        font-size: 12px !important;
    }

    .page-template-blog #main {
        width: 100% !important;
        max-width: 96%;
    }

    #buddypress {
        min-width: 100% !important;
    }

    .main-navigation .nav-menu > li > a {
        padding: 18px 0 20px 10px !important;
    }

    #buddypress ul#activity-stream li img.avatar {
        width: 30px;
        height: 30px;
        left: -35px;
    }

    #buddypress ul#activity-stream li.activity-item {
        margin-left: 0px;
        width: 90%;
        float: right;
    }

    .blogs_post_div .inner_post {
        width: 100%;
        padding-right: 0px;
    }

    .blog_post_sidebar {
        float: left;
        width: 100%;
        border-left: none;
        padding-left: 0px;
        margin-left: 0px;
    }

    .single .blogs_post_div {
        width: 100%;
    }

    .blogs_post_div h3 {
        line-height: 28px !important;
    }

    .single-post .site.has-thumbnail {
        padding-top: 0px;
    }

    .single-event .event_single {
        padding: 10px;
    }

    .single-event .event_thumbnail {
        float: left;
        width: 100%;
        border: 1px solid #ccc;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .single-event .time_loc_day {
        float: right;
        width: 100%;
    }

    .page-template-blog .blog_post_sidebar {
        float: left;
        width: 100% !important;
        border: 1px solid #ccc !important;
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        border-left: 0px;
        padding: 10px;
        margin-bottom: 20px;
    }
}

/**************************Add event page css*******************************/
div#em-wrapper {
    line-height: 38px;
    width: 100%;
    float: left;
}

.entry-content {
    width: 100%;
    float: left;
}

.para_custom p {
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
}

.para_custom {
    width: 100%;
    float: left
}

table.events-table th, table.events-table td, table.events-table tr {
    border-bottom: 1px solid #ddd !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin: 0px;

}

ul.event-categories {
    list-style: none;
    margin: 0;
    width: 100%;
    text-align: center;
}

.css-events-list table.events-table td {
    padding: 0px;
    text-align: center;
}

table.events-table th {
    text-align: center;
}

.footer-widget .widget .item-options a {
    font-size: 12px;
    margin-right: 4px;
    padding: 4px 8px;
    margin: 5px 5px;
}

ul.footer-menu li a {
    font-size: 12px;
    color: #90949c !important;
}

.content_width {
    width: 50%;
    float: left;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.content_width p {
    width: 100%;
    float: left;
}

.btn_custom_inner {
    width: 50%;
    float: left;
    margin: 0px 0px;
}

.btn_custom_inner a {
    border: 2px solid;
    padding: 10px 20px;
}

table.events-table {
    width: 100%;
    float: left;
    box-sizing: initial;
}

td.fetured_image {
    width: 200px;
}

.em-search-wrapper {
    float: left;
    width: 30%;
}

.css-events-list {
    float: left;
    width: 70%;
    padding: 0px 60px;
}

#buddypress ul.item-list li div.item-desc {
    margin-bottom: 10px;
}

.css-events-list .content_width {
    width: 100%;
    float: left;
}

.content_width h1 {
    width: auto;
    float: left;
    padding: 0px !important;
    line-height: 19px;
    margin: 0px;
}

.btn_custom_inner {
    width: auto;
    float: right;
    margin: 10px 0px;
}

.page-id-729 h1.entry-title {
    display: none;
}

#buddypress .dir-list ul.item-list .item-title, .post-author-info .author-name a, div.bbp-forum-title, .bb-group-title {
    font-size: 15px !important;
}

#buddypress .dir-list ul.item-list .inner-avatar-wrap {
    margin-bottom: 15px !important;
}

#buddypress .item-title {
    margin-bottom: 10px !important;
}

div.css-search input, div.css-search select {
    padding: 5px;
    width: 27%;
}

div.css-search div.em-search-advanced label > span {
    display: block;
    float: left;
    min-width: auto;
}

div.css-search div.em-search-main .em-search-submit {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #f48c60 !important;
}

body .buddyboss-select {
    margin-top: 0px !important;
    float: left;
    border: 1px solid #ddd;

}

.dir-header {
    display: none;
}

#buddypress #groups-directory-form .item-list-tabs, .entry-content #buddypress #blogs-directory-form .item-list-tabs, #buddypress #members-directory-form .item-list-tabs {
    margin: 0 auto 50px !important;
    max-width: 85% !important;
    text-align: center;
}

.bp-user #buddypress {
    float: initial !important;
}

li#members-order-select {
    float: initial !important;
}

.item-list-tabs ul li {
    float: initial !important;
    margin: 0 10px 0px 0px !important;
}

.item-list-tabs ul li a {
    float: left;
}

select#category, select.em-search-region.em-events-search-region, select.em-search-town.em-events-search-town {
    width: 100%;
}

.css-events-list h2 {
    color: #666;
}

.btn_custom_inner a:hover {
    background: #ff765d;
    color: #fff;
    text-decoration: none;
}

div.css-search div.em-search-main .em-search-submit {
    position: absolute;
    top: 46px !important;
    right: -1px;
    background: #FF765D !important;
    width: 51px;
    height: 53px;
    border-radius: 0;
    width: 20% !important;
}

.em-search h2.widgettitle {
    font-size: 19px;
    color: #252525;
    padding: 0px 0px 6px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    MARGIN-BOTTOM: 19PX !IMPORTANT;
    font-size: 14px !important;
    margin-top: 0px;
}

button.em-search-submit.loading img {
    display: none;
}

button.em-search-submit.loading:before {
    content: "\f002" !important;
    font-family: FontAwesome !important;
    font-size: 20px;
    font-weight: normal;
}

div.css-search input.em-search-text, div.css-search input.em-search-geo {
    margin-left: -25px;
}

.boss-group-header .group-header-content {
    width: 72%;
}

div#item-actions {
    float: left;
    width: 20%;
    text-align: center;
}

div#item-actions h1 {
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px 0 10px 0;
}

#item-title-area h1 {
    width: 90%;
}

span.highlight {
    padding: 3px 0 !important;
    margin: 0px;
    float: left;
    width: 100%;
    background: none !important;
}

.friends .members.friends .dir-list {
    float: left;
    width: 100%;
    margin-top: 40px;
}

#buddypress div#item-header ul li {
    float: none !important;
}

#footer-links {
    text-align: left !important;
}

form#switch-mode {
    display: none;
}

div.footer-inner-bottom {
    padding: 5px 0px !important;
    float: left;
    width: 100%;
}

#members_all div#secondary #item-header {
    float: left;
    background: #fbfbfb !important;
    border: 1px solid #eee;
    width: 100%;
    height: 280px;
}

#secondary .user-nicename, #buddypress div#item-header h2 {
    margin: 0px 0 0px !important;
}

#main #buddypress .boss-search-wrapper input[type='text'] {
    padding: 5px;
}

#members_all div#secondary #item-header #item-meta {
    float: left;
    text-align: center;
    width: 100%;
}

#members_all {
    margin-top: 30px;
}

#buddypress {
    position: relative;
    width: 70% !important;
    margin: 0px auto;
}

.page-id-585 div#main {
    max-width: 70% !important;
}

.settings #buddypress table.profile-settings th, .settings #buddypress table.notification-settings th {
    padding: 0 0 5px !important;

}

#members_all div#item-nav {
    float: left;
    width: 100%;
}

.settings #item-nav {
    display: none !important;
    height: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.settings form#settings-form p {
    display: none;
}

.settings .submit input#submit {
    float: left;
    padding: 0px;
    font-family: 'RobotoLight' !important;
}

#members_all .item-list-tabs {
    height: 40px !important;
}

#members_all .item-list-tabs ul li a {
    padding-bottom: 9px !important;
}

#members_all #item-nav {
    margin-bottom: 0px !important;
}

#members_all #item-body {
    float: left;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

#members_all #subnav {
    margin: 20px 0 !important;
}

#members_all .item-list-tabs {
    border-bottom: none !important;
}

#members_all #nav-bar-filter li {
    margin: 0px !important;
    padding: 0px !important;
    float: left !important;
}

#members_all #nav-bar-filter li a {
    padding: 8px 10px !important;
    margin: 0px !important;
    font-family: 'LemonMilk' !important;
    font-weight: normal !important;
    font-size: 11px !important;
    color: rgba(0, 0, 0, 0.5) !important);
}

ul#nav-bar-filter li a {
    color: rgba(51, 51, 51, 0.52) !important;
}

ul#nav-bar-filter li.current a {
    color: #333 !important;
    border-bottom: 2px solid #8a8a8d !important;
}

#members_all .item-list-tabs ul li.current a:before, #members_all .item-list-tabs ul li a:before {
    display: none !important;
}

#buddypress .activity-list .activity-avatar {
    width: 33%;
    padding-top: 4px;
}

.field-visibility-settings-toggle, .field-visibility-settings-notoggle {
    display: none;
}

.bp-avatar-nav .avatar-nav-items li.avatar-nav-item {
    border-radius: 0px !important;
}

.my-activity .activity .activity-inner {
    max-height: 110px !important;
}

#buddypress .activity-list .activity-content .activity-header {
    padding-bottom: 0px;
}

#buddypress .activity-list .activity-content .activity-inner, #buddypress .activity-list .activity-content blockquote {
    margin: 0px 0 0 0;
}

.editfield {
    float: left;
    width: 100%;
}

.change-avatar .profile {
    margin-top: 40px;
}

.buddypress-content #members_all #friendship-button-2 {
    float: left;
    width: 100%;
    margin-top: 10px;
}

#members_all .bb-has-sidebar .search-content, .bb-has-sidebar .buddypress-content, .profile #main, .friends #main, .groups #main, .bp-user #main, .members #main {
    max-width: 100% !important;
}

.my-account #members_all .item-list-tabs, .just-me #members_all .item-list-tabs {
    height: 0px !important;
}

.bp-user .site {
    padding-top: 0px !important;
}

/************************ Member page css***************************************/

.part_members_1 .part_image {
    width: 30%;
    float: left;
}

.part_members_1 .part_image img {
    border: 1px solid #ddd;
    margin-top: 40px;
    background: #fff;
}

.part_members_1 .part_content p {
    width: 100%;
    float: left;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin-top: 40px;
    line-height: 35px;
    letter-spacing: 1px;
}

.part_members_1 .part_info {
    width: 100%;
    float: left;
    border: 1px solid #ddd;
    padding: 20px 20px;
    margin-top: 30px;
}

.part_members_1 .buddyboss-select {
    border: 1px solid rgba(102, 102, 102, 0.42);
    width: 54%;
    border-radius: 0px;
    padding: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    float: initial;
}

.group-home div#buddypress {
    margin-top: 0px !important;
}

.single-item #buddypress {
    width: 100% !important;
}

.part_members_1 .part_center {
    width: 100%;
    float: left;
    text-align: center;
}

.part_members_1 h2.part_heading {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 24px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #666;
}

.part_members_1 .buddyboss-select-inner span {
    font-size: 18px;
}

.page-id-585 h1.entry-title {
    text-align: center;
    color: #000;
    font-size: 36px;
}

.part_members_1 .buddyboss-select-inner:after {
    content: "";
    border: 0px solid #f48c60;
    position: absolute;
    background: #ff765d !important;
    right: 0;
    padding: 0px 11px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 44px;
    height: 42px;
    text-align: center;
    background-position: 13px center;
    margin-top: -2px;
    margin-right: -1px;
}

.part_members_1 .part_content {
    width: 68%;
    float: right;
    border: 1px solid #ddd;
    margin-top: 40px;
    padding: 16px 20px;
    min-height: 273px;
    overflow: hidden;
}

.part_members_1 .buddyboss-select-inner {
    text-align: left;
    padding-left: 10px;
    height: 40px;
    width: 100%;
    line-height: 39px;
}

.part_members_1 .buddyboss-select-inner span {
    color: rgba(0, 0, 0, 0.4) !important;
    font-style: italic;
    text-transform: capitalize;
}

.part_members_1 .buddyboss-select {
    background: #fff;
}

.part_members_1 {
    width: 100%;
    float: left;
    padding: 10px 0px;
    min-height: 530px;
}

/************************End Member page css***************************************/
input#members_search {
    border: 2px solid rgba(204, 204, 204, 0.53) !important;
    padding: 5px !important;
}

.group-npd-1093149265 .buddyboss-select-inner {
    height: 34px;
    line-height: 34px;
}

.group-npd-1093149265 .buddypress-content-wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 350px;
}

#header-search form #searchsubmit i {
    top: -8px !important;
}

textarea#whats-new {
    background: #fbfbfb !important;
}

#buddypress form#whats-new-form #whats-new-content {
    margin-top: 0px !important;
}

form#whats-new-form.isCollapsed {
    box-shadow: rgba(238, 238, 238, 0.941176) 0px 0px 0px 1px;
    border: none !important;
    height: 53px;
}

form.isCollapsed {
    background: #fbfbfb !important;
    padding: 2px 10px;
    border-bottom: none;
}

form.#whats-new-form {
    background: #fff !important;
}

form#whats-new-form.isCollapsed {
    overflow: hidden;
    margin-bottom: 20px !important;
}

#whats-new-header {
    height: 48px;
}

/
/
members
.dir-header {
    font-size: 70px;
    margin-bottom: 20px;
    text-align: center;
}

.groups .dir-header h1, .members .dir-header h1 {
    font-size: 32px;
}

.directory .site, .members .site {
    padding-top: 0px;
}

.my-groups .site {
    padding-top: 70px;
}

.groups .boss-search-wrapper input[type='text'], .members .boss-search-wrapper input[type='text'] {
    border: 2px solid rgba(204, 204, 204, 0.53);
}

p.activity-greeting {
    color: #90949c;
}

#buddypress form#whats-new-form textarea {
    border: 1px solid rgba(102, 102, 102, 0.290196);
    background-color: rgba (238, 238, 238, 0.22) !important;
    margin-top: 20px !important;
    box-shadow: 0px 0px 0px 1px rgba (238, 238, 238, 0.94) !important;
}

.buddyboss-select {
    width: 100%;
    float: left;
    border: 1px solid #ddd;
    padding-left: 0px;
}

.profile {
    width: 100%;
    float: left;
}

#buddypress table.profile-fields tr td, #buddypress table.profile-fields tr th {
    padding: 14px 10px !important;
}

table.profile-fields tr:nth-child(odd) {
    background: #fbfbfb;
}

#buddypress table {
    width: 100%;
    border: 1px solid #eee;
}

.groups #buddypress {
    margin-top: 0px !important;
}

.page-id-659 #buddypress {
    margin-top: 40px !important;
}

#wp-admin-bar-mycred-account, #wp-admin-bar-my-account-activity, #wp-admin-bar-my-account-notifications, #wp-admin-bar-my-account-messages, #wp-admin-bar-my-account-friends, #wp-admin-bar-my-account-groups, #wp-admin-bar-my-account-forums, #wp-admin-bar-my-em-events, #wp-admin-bar-seed-csp4-notice, .profile .statusnotice, .profile .em-events-list, .profile #item-body h3, .profile .btn_custom_inner, .profile .display_none {
    display: none;
}

.blog_post_sidebar input#s {
    float: left;
    width: 80%;
    border: 1px solid rgba(204, 204, 204, 0.53);
    padding: 8px 10px 9px;
    color: #ddd !important;
    height: 40px;
    font-size: 12px;
}

.blog_post_sidebar input#s:focus::-webkit-input-placeholder, #messages_search:focus::-webkit-input-placeholder {
    opacity: 0;
}

.blog_post_sidebar input#s::-webkit-input-placeholder, .em-search-field input.em-search-text::-webkit-input-placeholder {
    color: #ddd !important;
}

.content_width {
    width: 70% !important;
    float: left;
    margin-bottom: 5px;
    letter-spacing: 1px;
    padding-left: 40px;
}

h2, .sap-editor-area-wrapper .sap-editable-title {
    font-family: Merriweather;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    width: 100%;
    float: left;
}

.page-id-585 h1.entry-title {
    text-align: center;
    color: #333;
    font-size: 36px;
    font-family: Merriweather;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}

.single-post .entry-content, .archive .entry-content, .default-page .entry-content, .entry-summary, .comment-content, #respond form textarea, .bb-comment-author {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1px;
}

#colophon {

    min-height: auto !important;
}

.pt-pb-module-image figure {
    margin: 0;
    text-align: center !important;
}

select.ui-datepicker-month option, select.ui-datepicker-year option {
    color: #000;
}

.btn_custom_inner {
    display: none;
}

.pmpro_content_message a {
    padding: 0px 2px !important;
}

#buddypress table#message-threads tr td.color_inner {
    width: 16% !important;
    float: left;
}

#buddypress table#message-threads #message {
    width: 100% !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    li#members-order-select {
        border: none !important;
    }

    #buddypress div.dir-search form, #buddypress div.message-search, #buddypress div.message-search form {
        width: 98% !important;
        margin: 0;
        float: left !important;
        position: relative;
    }

    a.boss-insert-buttons-show {
        position: absolute;
        top: 62px !important;
        left: -59px !important;
    }

    a.boss-insert-video {
        position: absolute;
        top: 90px;
        left: -60px;
    }

    .buddyboss-select {
        border: none;
    }

    div#buddypress {
        margin-top: 14px;
    }

    form#search-groups-form {
        margin-top: 40px !important;
    }

    .groups #buddypress .dir-list ul.item-list > li {
        padding: 0 0px 10px !important;
    }

    div#mobile-item-nav-wrap, .mobile-item-nav-wrapper, div#mobile-item-nav, div#object-nav {
        width: 100% !important;
        height: 100% !important;
        text-align: center;
    }

    div#object-nav li {
        display: inline-block;
        padding: 10px 28px;
        border: 1px solid #ff765d;
    }

    li#activity-filter-select {
        box-shadow: none !important;
    }

    ul#activity-stream {
        width: 100%;
        float: left;
    }

    ul#activity-stream li {
        width: 96% !important;
        float: left;
    }

    .activity.single-group {
        width: 100%;
        float: left;
    }

    #buddypress #item-body form {
        margin-bottom: 20px;
    }

    .main-navigation .nav-menu > li > a {
        padding: 18px 0 20px 6px !important;
    }

    .page-id-729 .events-table {
        width: 74%;
    }

    .page-id-729 #main .em-search-wrapper {
        float: left;
        width: 25%;
    }

    .page-id-729 #main {
        max-width: 99%;
        width: 100%;
    }

    .single-event #main {
        width: 100%;
        padding: 0px 15px;
    }

    .single-event .time_loc_day {
        margin-top: 20px;
    }

    article#post-731 {
        margin-top: 30px !important;
    }

    .blogs_post_div {
        width: 75%;
    }

    .page-template-blog #main {
        width: 100% !important;
        max-width: 98%;
        float: left;
        padding-left: 15px;
    }

    .page-template-blog .blog_post_sidebar {
        float: left;
        width: 24% !important;
    }

    #blog_id {
        padding-top: 20px;
    }

    .right_nav {
        margin-top: -24px;
    }

    .single-post span.bb-user-name {
        padding-left: 12%;
    }

    #buddypress {
        position: relative;
        width: 94% !important;
        margin: 0px auto;
        margin-top: 36px !important;
    }

    #buddypress div#item-header div.generic-button {
        float: none;
    }

    ul#members-list {
        margin-top: 60px !important;
    }

    .bp-user #item-header {
        text-align: center;
        margin-top: 10%;
    }

    .page-id-585 .part_members_1 .buddyboss-select {

        float: left;
        width: 97% !important;
        margin-top: 30px !important;
    }

    .page-id-585 div#main {
        max-width: 100% !important;
    }

    .part_members_1 .buddyboss-select-inner {
        height: 49px !important;
        margin: 0 !important;
    }

    .buddyboss-select-inner {
        border: none !important;
    }

    #buddypress div.message-search {
        margin: 50px 0 30px;
    }

    .my-messages #buddypress {
        float: left !important;
        width: 100%;
        margin: 0px;
    }

    .messages input#messages_search {
        padding: 14px 10px 0px !important;
        height: auto !important;
        line-height: 12px;
        margin: 0px !important;
    }

    #buddypress div.message-search {
        margin: 56px 0 30px;
    }

    .my-messages #buddypress {
        float: left !important;
        width: 98% !important;
        margin: 0px;
    }

    .my-messages #members_all #subnav li {
        margin: 0px 0 !important;
        padding: 7px 30px !important;
    }

    .my-messages .messages-options-nav {
        float: left;
        width: 100%;
    }

    .messages .messages-options-nav .buddyboss-select {
        padding: 15px 0 0px;
        border: 1px solid #ddd;
    }

    #buddypress div.messages-options-nav .buddyboss-select-inner span, #buddypress div.item-list-tabs ul li .buddyboss-select-inner span, .buddyboss-select-inner span {
        height: 21px;
        line-height: 12px;
    }

    .buddyboss-select-inner:after {
        top: 12px;

    }

    div#subnav ul {
        margin-top: -17px !important;
    }

    .bb-group-avatar-wrap-mobile, .bb-group-mobile-content, .item-header-mobile {
        display: block;
    }

    #buddypress div.item-list-tabs ul li:not(.groups-members-search), #buddypress div#filter.whats-new-select ul li {
        box-shadow: none;
        border: 1px solid #ddd;
    }

    form#notifications-sort-order {
        border: 1px solid #ddd !important;
    }

    #buddypress div.item-list-tabs ul li .buddyboss-select-inner span, .buddyboss-select-inner span {
        height: 29px;
        line-height: 39px;
    }

    .page-id-0 .buddyboss-select-inner:after {
        top: 14px;
    }

    .heading_inner_young strong, .heading_inner_young p, .heading_inner_young ul {
        width: 98%;
        float: left;
    }

    .inner_heading h3, .inner_heading p, .inner_heading ul {
        width: 98%;
        float: left;
        font-size: 14px;
    }

    .head_policy strong, .head_policy p, .head_policy ul, .head_policy li {
        width: 98%;
        float: left;
    }

    .my-messages #members_all #subnav {
        margin: 16px 0 -14px 0 !important;
    }

    li#activity-filter-select {
        border: none !important;
    }

    li#groups-order-select {
        border: none !important;
    }

    #buddypress div#group-create-tabs ul li {
        padding: 5px 0px;
    }

    input#group-creation-next {
        padding: 10px 10px !important;
    }

    .group-create .create-group-title {
        font-size: 30px;
        margin-top: 75px;
        margin-bottom: 26px;
    }
}

@media only screen and (max-width: 1024px) {

    .page-id-907 #ptpb_s7_r2_c3_m2 {
        position: absolute;
        top: 0px;
        background: rgba(255, 255, 255, 0);
        height: 91% !important;
        width: 91% !important;

    }

    .part_members_1 .buddyboss-select-inner:after {
        margin-top: -14px !important;
        height: 39px;
    }

    .pt-pb-module-image figure {
        margin: 0;
        text-align: center !important;
        border: 1px solid #ff765d !important;
    }

    #main-wrap img.loaded {
        opacity: 1;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    span.font_inner {
        width: 100% !important;
        float: left;
        margin-top: 0px !important;
        position: relative !important;
        font-size: 14px !important;
    }

    .em-closed-button {
        font-size: 11px;
    }

    .img_wid #ptpb_s7_r3_c1_m2, .img_wid #ptpb_s7_r3_c2_m2, .img_wid #ptpb_s7_r3_c3_m2, .img_wid #ptpb_s7_r2_c1_m2, .img_wid #ptpb_s7_r2_c2_m2, .img_wid #ptpb_s7_r2_c3_m2 {
        height: 100% !important;
        width: 92% !important;
    }

    a.boss-insert-video {
        position: absolute;
        left: -59px !important;
        top: 83px !important;
    }

    .friends ul#members-list li {
        width: 100% !important;
    }

    div#bbp-user-topics-started h2 {
        background: #fff;
        padding: 38px 0px 0px;
    }

    .boss-group-header .group-header-content {
        margin-top: 0px !important;
        margin-bottom: 20px;
        padding: 0px !important;
        float: left;
        width: 100%;
        text-align: center;
    }

    .previous_previews_blog h1 {
        float: left;
        width: 60% !important;
        margin: 10px 0px;
        padding: 0px;
        font-size: 9px !important;
        text-align: center !important;
    }

    /*
    .just_an_example {
        color: black;
    }
    */

}

/* don't delete this closing bracket */

@media screen and (max-width: 375px) {

    span.font_inner {
        width: 100% !important;
        float: left;
        margin-top: 0px !important;
        position: relative !important;
        font-size: 14px !important;
    }

}

/*--------------------------------------------------------------
2.1 - MINIMUM width of 668 pixels (phones and larger)
--------------------------------------------------------------*/
@media screen and (max-width: 668px) {
    a.boss-insert-buttons-show {
        position: absolute !important;
        left: -60px !important;
        top: 63px !important;
    }

    #buddypress div.item-list-tabs ul, #buddypress div.item-list-tabs ul li {
        list-style: none;
        padding: 0;
        text-align: center;
        margin-bottom: 16px;
    }

    .group-avatar #group-create-body .left-menu {
        position: relative;
        margin-bottom: 22px;
        margin-top: 13px;
    }

    input#group-creation-next {
        padding: 10px 10px !important;
    }

    body.search .page-title, body.search .type-page > .entry-header .entry-title, h1.big, .group-create .create-group-title {
        font-size: 30px;
        margin-top: 70px;
        margin-bottom: 26px;
    }

    #buddypress #groups-directory-form .item-list-tabs, .entry-content #buddypress #blogs-directory-form .item-list-tabs, #buddypress #members-directory-form .item-list-tabs {
        margin: 0 auto 50px !important;
        max-width: 100% !important;
        text-align: center;
    }

    .part_members_1 .buddyboss-select-inner:after {
        margin-top: -13px !important;
        height: 39px;
    }

    div#members-dir-search {
        margin-top: 40px !important;
    }

    /******** rvr *********/
    div#mobile-item-nav-wrap {

        display: inline !important;
        width: 100% !important;
        float: left !important;
        height: 100% !important;

    }

    .mobile-item-nav-wrapper {
        width: 100% !important;
        height: 100% !important;
        float: left !important;
    }

    div#mobile-item-nav {

        width: 100% !important;
        height: 100% !important;
    }

    #buddypress div.item-list-tabs {
        width: 100% !important;
        display: block !important;
        clear: both !important;
        float: left !important;
        margin: 0 !important;
    }

    #buddypress #mobile-item-nav-wrap div.item-list-tabs {
        box-shadow: none;
        float: left !important;
        height: 100% !important;
    }

    div#object-nav li {
        float: left !important;
        margin: 0px !important;
        list-style: none !important;
        padding: 0px !important;
        width: 100% !important;
        text-align: left !important;
        box-shadow: none !important;
    }

    div#object-nav li a {
        float: left;
        margin: 0px;
        list-style: none;
        padding: 9px 10px;
        width: 100%;
        text-align: left;
        background: rgba(238, 238, 238, 0.84);
        border-bottom: 1px solid #dadada !important;
        box-shadow: none;
    }

    /******** rvr end *********/
    #buddypress div#item-header div.generic-button {
        float: none;
    }

    .messages .messages-options-nav .buddyboss-select {
        float: left;
        width: 80%;
        margin: 0px !important;
        padding: 3px 0 6px !important;
    }

    .my-messages .messages-options-nav {
        width: 100%;
    }

    .my-messages #members_all #subnav {
        margin: 3px 0 30px !important;
    }

    .my-messages #members_all #subnav li {
        margin: 0px 0 !important;
        padding: 5px 10px !important;
    }

    ul#groups-list {
        margin-top: 94px !important;
    }

    div#message {
        width: 100% !important;
        float: left !important;
    }

    form#whats-new-form {
        height: 240px !important;
    }

    input#members_search {
        margin-bottom: 20px;
    }

    .heading_inner_young strong, .heading_inner_young p, .heading_inner_young ul, .inner_heading h3, .inner_heading p, .inner_heading ul, .head_policy strong, .head_policy li, .head_policy p, .contact_form_new form.wpcf7-form {
        width: 100%;
        float: left;
        list-style: none;
        margin: 0px;
    }

    .notifications form#notifications-bulk-management {
        margin-top: 90px;
    }

    .bp-user #buddypress #item-body form#whats-new-form {
        min-height: 240px;
    }

    .members.friends, #bbpress-forums {
        margin-top: 56px;
    }

    .dataTables_length {
        width: 100%;
        margin-bottom: 18px;
    }

    a.boss-insert-video {
        position: absolute;
        left: -59px !important;
        top: 83px !important;
    }

    .item-list-tabs ul li {
        float: initial !important;
        margin: 0 10px 0px 0px !important;
        padding: 0px !important;
    }

    .img_wid #ptpb_s7_r3_c1_m2, .img_wid #ptpb_s7_r3_c2_m2, .img_wid #ptpb_s7_r3_c3_m2, .img_wid #ptpb_s7_r2_c1_m2, .img_wid #ptpb_s7_r2_c2_m2, .img_wid #ptpb_s7_r2_c3_m2 {
        height: 100% !important;
        width: 96.5%;
    }

    span.font_inner {
        width: 100% !important;
        float: left;
        margin-top: 0px !important;
        position: relative !important;
        font-size: 14px !important;
    }
}

/*--------------------------------------------------------------
2.4 - MINIMUM width of 668 pixels (tablets and larger)
--------------------------------------------------------------*/
@media screen and (max-width: 667px) {

    .previous_previews_blog h1 {
        float: left;
        width: 78%;
        margin: 10px 0px;
        padding: 0px;
        font-size: 12px;
        text-align: center !important;
    }

    span.font_inner {
        width: 100% !important;
        float: left;
        margin-top: 0px !important;
        position: relative !important;
        font-size: 14px !important;
    }

}

/* don't delete this closing bracket */

/*******************Responsive 768 Members page css**********************************/

@media only screen and (max-width: 768px) {
    span.font_inner {
        width: 100% !important;
        float: left;
        margin-top: 0px !important;
        position: relative !important;
        font-size: 14px !important;
    }

    span.highlight {
        color: #333 !important;
    }

    .boss-group-header .group-header-content {
        margin-top: -199px;
        margin-bottom: 20px;
        padding: 15px !important;
    }

    .part_members_1 .part_image img {
        border: 1px solid #ddd;
        margin-top: 40px;
        width: 100%;
    }

    .part_members_1 .part_image {
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;
    }

    .part_members_1 .part_content {
        width: 100%;
        float: left;
    }

    .part_members_1 .buddyboss-select {
        border: 1px solid #ddd;
        width: 100%;
        border-radius: 5px;
    }

    .buddyboss-select-inner:after {
        border-left: 1px solid #e1e1e1 !important;
        border-right: 0px solid #e1e1e1 !important;
        border-top: 0px solid #e1e1e1 !important;
        border-bottom: 0px solid #e1e1e1 !important;

    }

    .part_members_1 .buddyboss-select-inner:after {
        content: "P";
        border-left: 1px solid #e1e1e1 !important;
        border-right: 0px solid #e1e1e1 !important;
        border-top: 0px solid #e1e1e1 !important;
        border-bottom: 0px solid #e1e1e1 !important;
        position: absolute;
        background: #f48c60;
        right: 0;
        padding: 1px 12px;
        height: 38px;
        line-height: 37px;
        color: #fff;
        margin-top: -13px;
    }

    .part_members_1 .buddyboss-select-inner {
        display: block;
        width: 100%;
        margin: 0 10px -1px 0;
    }

    .part_members_1 .buddyboss-select {
        border: 1px solid #ddd;
        width: 100%;
        border-radius: 5px;
        padding: 0;
    }

    .part_members_1 .buddyboss-select-inner select {
        cursor: pointer;
        height: 37px;
        width: 100%;
        opacity: 0;
        border: none;
        margin: 0;
        z-index: 999;
        position: absolute;
        left: 0;
        top: 0;
        clear: both;
        overflow: hidden !important;
    }

    /*******************end member event page css**********************************/
    /*******************Start Responsive event page css**********************************/
    .em-search-wrapper {
        float: left;
        width: 100%;
    }

    .css-events-list {
        float: left;
        width: 100%;
        padding: 0px !important;
    }

    .btn_custom_inner {
        margin: 16px 0px;
    }

    table.events-table {
        width: 100%;
        float: left;
        overflow-x: auto;
        overflow-y: hidden;
        display: inline-block !important;
    }

    table.events-table td:nth-child(3) {
        width: 109px !important;
        float: left;
    }

    .single-post #main {
        width: 100%;
    }

    .page-id-659 #buddypress {
        margin-top: 80px !important;
    }

    .groups #buddypress {
        margin-top: 0px !important;
    }

    #buddypress {
        position: relative;
        width: 100% !important;
        margin: 0px auto;
    }

    /*******************End Responsive event page css**********************************/

}

/************************End Responsive 768 page css***************************************/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    #primary {
        padding-right: 0px !important;
    }

    span.font_inner {
        width: 100% !important;
        float: left;
        margin-top: 0px !important;
        position: relative !important;
        font-size: 14px !important;
    }

    .page-id-659 #buddypress {
        margin-top: 70px !important;
    }

    #buddypress div.item-list-tabs ul li:not(.groups-members-search), #buddypress div#filter.whats-new-select ul li {
        display: inline-block;
        padding: 1px 0;
    }

    #buddypress div.dir-search label, #buddypress div.dir-search form label, #buddypress div.message-search label, #buddypress div.message-search form label {
        width: 97%;
    }

    form#whats-new-form.isCollapsed {
        box-shadow: rgba(238, 238, 238, 0.941176) 0px 0px 0px 1px;
        border: none !important;
        height: 68px !important;
    }

    a.boss-insert-buttons-show {
        position: absolute;
        top: 62px !important;
        left: -59px !important;
    }
}

.em-search-advanced br {
    display: none !important;
}

li.bboss_search_item.bboss_search_item_post:hover {
    background: #fbfbfb !important;
    cursor: hand !important;
}

.page-id-729 .events_search_sidebar {
    float: left !important;
    width: 18% !important;
    border-right: 1px solid #ccc !important;
    padding-right: 10px !important;
    margin-right: 4px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    border-left: 0px !important;
}

ul.ui-autocomplete li.ui-menu-item:hover {
    background-color: #fbfbfb !important;
}

