/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 480 pixels (phones and smaller)
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {


.em-closed-button{font-size:11px;}

 .img_wid #ptpb_s7_r3_c1_m2, .img_wid #ptpb_s7_r3_c2_m2, .img_wid #ptpb_s7_r3_c3_m2, .img_wid #ptpb_s7_r2_c1_m2, .img_wid #ptpb_s7_r2_c2_m2, .img_wid #ptpb_s7_r2_c3_m2 {
    height: 100% !important;
    width: 92%  !important;
}
a.boss-insert-video {
    position: absolute;
    left: -59px !important;
    top: 83px !important;
}
.friends ul#members-list li {
    width: 100% !important;
}
div#bbp-user-topics-started h2 {
    background: #fff;
    padding: 38px 0px 0px;
}
.boss-group-header .group-header-content {
    margin-top: 0px !important;
    margin-bottom: 20px;
    padding:0px !important;
	float:left;
	width:100%;
	text-align:center;
}
	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.1 - MINIMUM width of 481 pixels (phones and larger)
--------------------------------------------------------------*/
@media screen and (max-width: 668px)  {
a.boss-insert-buttons-show {
    position: absolute !important;
    left: -60px !important;
    top: 63px !important;
}

/******** rvr *********/
div#mobile-item-nav-wrap{
	
	display: inline !important;
    width: 100% !important;
    float: left !important;
    height: 100% !important;
	
}
.mobile-item-nav-wrapper{
	    width: 100% !important;
    height: 100% !important;
    float: left !important;
}
div#mobile-item-nav{
	
 width: 100% !important;
    height: 100% !important;
}
#buddypress div.item-list-tabs {
    width: 100%  !important;
    display: block  !important;
    clear: both  !important;
    float: left  !important;
    margin: 0  !important;
}
#buddypress #mobile-item-nav-wrap div.item-list-tabs {
    box-shadow: none;
    float: left !important;
    height: 100% !important;
}
div#object-nav li {
    float: left !important;
    margin: 0px !important; 
    list-style: none !important;
	padding:0px !important;
    width: 100% !important;
    text-align: left !important;
    box-shadow: none !important;
}
div#object-nav li a{
	float: left;
    margin: 0px;
    list-style: none;
    padding: 9px 10px;
    width: 100%;
    text-align: left;
    background: rgba(238, 238, 238, 0.84);
    border-bottom: 1px solid #dadada !important;
    box-shadow: none;
}
/******** rvr end *********/

#buddypress div#item-header div.generic-button{float:none;}
.messages .messages-options-nav .buddyboss-select {
    float: left;
    width: 80%;
    margin: 0px !important;
    padding: 3px 0 6px !important;
}
.my-messages  .messages-options-nav{width:100%;}
.my-messages #members_all #subnav {
    margin: 3px 0 30px !important;
}
.my-messages #members_all #subnav li {
    margin: 0px 0 !important;
    padding: 5px 10px !important;
}
ul#groups-list {
    margin-top: 94px !important;
}
div#message {
    width: 100% !important;
    float: left !important;
}
form#whats-new-form {
    height: 240px !important;
}
input#members_search {
    margin-bottom: 20px;
}
.heading_inner_young strong, .heading_inner_young p, .heading_inner_young ul, .inner_heading h3, .inner_heading p, .inner_heading ul, .head_policy strong, .head_policy li, .head_policy p, .contact_form_new form.wpcf7-form {
    width: 100%;
    float: left;
	list-style:none;
} 
.notifications form#notifications-bulk-management{margin-top:90px;}
.bp-user #buddypress #item-body form#whats-new-form{min-height:240px;}
.members.friends, #bbpress-forums{margin-top:56px;}
.dataTables_length {
    width: 100%;
    margin-bottom: 18px;
}
a.boss-insert-video {
    position: absolute;
    left: -59px !important;
    top: 83px !important;
}
.item-list-tabs ul li {
    float: initial !important;
    margin: 0 10px 0px 0px !important;
    padding: 0px !important;
}
.img_wid #ptpb_s7_r3_c1_m2, .img_wid #ptpb_s7_r3_c2_m2, .img_wid #ptpb_s7_r3_c3_m2, .img_wid #ptpb_s7_r2_c1_m2, .img_wid #ptpb_s7_r2_c2_m2, .img_wid #ptpb_s7_r2_c3_m2 {
    height: 100% !important;
    width: 96.5% ;
}

	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 721 pixels (tablets and larger)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */


/*******************Responsive 768 Members page css**********************************/

@media only screen and (max-width: 768px){


span.highlight {
    color: #333 !important;
}
.boss-group-header .group-header-content {
    margin-top: -199px;
    margin-bottom: 20px;
    padding: 15px !important;
}
.part_members_1 .part_image img {
    border: 1px solid #ddd;
    margin-top: 40px;
    width: 100%;
}

.part_members_1 .part_image {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}
.part_members_1 .part_content {
    width: 100%;
    float: left;
}
.part_members_1 .buddyboss-select {
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
}
.buddyboss-select-inner:after {
    border-left: 1px solid #e1e1e1 !important;
	border-right: 0px solid #e1e1e1 !important;
	border-top: 0px solid #e1e1e1 !important;
	border-bottom: 0px solid #e1e1e1 !important;
	
	
}
.part_members_1 .buddyboss-select-inner:after {
    content: "P";
     border-left: 1px solid #e1e1e1 !important;
	border-right: 0px solid #e1e1e1 !important;
	border-top: 0px solid #e1e1e1 !important;
	border-bottom: 0px solid #e1e1e1 !important;
    position: absolute;
    background: #f48c60;
    right: 0;
    padding: 1px 12px;
    height: 38px;
    line-height: 37px;
    color: #fff;
    margin-top: -13px;
}
.part_members_1 .buddyboss-select-inner {
    display: block;
    width: 100%;
    margin: 0 10px -1px 0;
}
.part_members_1 .buddyboss-select {
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    padding: 0;
}
.part_members_1 .buddyboss-select-inner select {
    cursor: pointer;
    height: 37px;
    width: 100%;
    opacity: 0;
    border: none;
    margin: 0;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    clear: both;
    overflow: hidden !important;
}

/*******************end member event page css**********************************/

/*******************Start Responsive event page css**********************************/

.em-search-wrapper {
    float: left;
    width: 100%;
}
.css-events-list {
    float: left;
    width: 100%;
    padding: 0px !important;
}
.btn_custom_inner {
    margin: 16px 0px;
}
table.events-table {
    width: 100%;
    float: left;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-block !important;
}
table.events-table td:nth-child(3) {
    width: 109px !important;
    float: left;
}
.single-post #main {
    width: 100%;
}
.page-id-659 #buddypress {
    margin-top: 80px !important;
}
.groups #buddypress {
    margin-top: 0px !important;
}
#buddypress {
    position: relative;
    width: 100% !important;
    margin: 0px auto;
}




/*******************End Responsive event page css**********************************/

}


/************************End Responsive 768 page css***************************************/
@media only screen and (min-width: 768px) and (max-width: 1024px){
	
#primary{padding-right:0px !important;}

.img_wid #ptpb_s7_r3_c1_m2, .img_wid #ptpb_s7_r3_c2_m2, .img_wid #ptpb_s7_r3_c3_m2, .img_wid #ptpb_s7_r2_c1_m2, .img_wid #ptpb_s7_r2_c2_m2, .img_wid #ptpb_s7_r2_c3_m2 {
    position: absolute;
    top: 0px;
    background: rgba(255, 255, 255, 0);
    height: 91% !important;
    width: 91.4% !important;
}
.page-id-659 #buddypress {
    margin-top: 70px !important;
}
#buddypress div.item-list-tabs ul li:not(.groups-members-search), #buddypress div#filter.whats-new-select ul li {
    display: inline-block;
    padding: 1px 0;
}
#buddypress div.dir-search label, #buddypress div.dir-search form label, #buddypress div.message-search label, #buddypress div.message-search form label {
    width: 97%;
}
form#whats-new-form.isCollapsed {
    box-shadow: rgba(238, 238, 238, 0.941176) 0px 0px 0px 1px;
    border: none !important;
    height: 68px !important;
}
a.boss-insert-buttons-show {
    position: absolute;
    top: 62px !important;
    left: -59px !important;
}	
}